body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

.content-container {
    background-color: white;
}

.fc-toolbar {
    padding: 0px;
}

.fc-event-container {
    height: 100%;
}

.fc table {
    background-color: white !important;
}

.different-tip-color {
    background-color: dimgray;
    border-color: dimgray;
    color: white;
}

.qtip-content {
    padding: 0px;
    min-width: 200px;
}

.xdsoft_datepicker {
    width: 220px !important;
    height: 220px !important;
    font-size: x-small;
    padding: 0px !important;
}

.xdsoft_datetimepicker .xdsoft_label {
    z-index: 999;
}
/*tooltip styling*/
.tooltip-container {
    background: white;
}

.tooltip-content-section {
    padding: 0px 3px;
}

.tooltip-section {
    text-align: left;
    padding: 2px;
    float: none;
    margin: 0 auto;
}

.tooltip-title {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.tooltip-label {
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    color: black;
    display: inline;
    margin-right: 5px;
}

.tooltip-content {
    text-align: left;
    font-size: 11px;
    color: black;
    display: inline;
}

/*Event Styling*/
.event-detail-parent {
    display: flex;
    background: #f9f9f9;
    height: 100%;
}

.event-detail-type {
    width: 5px;
    /* Just so it's visible */
}

.event-detail-content {
    flex: 1;
    padding: 2px 4px;
    color: black;
    background: #f9f9f9;
}

.time {
    text-align: left;
    font-size: 10px;
}

.client {
    text-align: left;
    font-size: 10px;
    font-weight: bold
}

.treatment {
    text-align: left;
    font-size: 10px;
}

.description {
    text-align: left;
    font-size: 10px;
}
/*Modal Panel Stylings*/
.radio-group label {
    overflow: hidden;
}

.radio-group input {
    /* This is on purpose for accessibility. Using display: hidden is evil.
    This makes things keyboard friendly right out tha box! */
    height: 1px;
    width: 1px;
    position: absolute;
    top: -20px;
}

.radio-group .not-active {
    color: #3276b1;
    background-color: #fff;
}

#appointment-button, #leave-button {
    font-weight: bold;
}

.btn-appointment {
    background-color: #65C93E;
    border-color: #65C93E;
}

.btn-leave {
    background-color: #808080;
    border-color: #808080;
}

#appointment-button.btn-appointment {
    color: white;
}

#appointment-button.btn-leave {
    color: #808080;
}

#leave-button.btn-appointment {
    color: #65C93E;
}

#leave-button.btn-leave {
    color: white;
}

#add-menu-button {
    background-color: #65C93E;
    color: white;
    margin: 0px 5px 5px 5px;
}

.event-detail-parent .close {
    font-size: 1.2em !important;
    background: gray !important;
    border-radius: 50% !important;
    height: 15px !important;
    width: 15px !important;
    color: white !important;
}

    .event-detail-parent .close > span {
        position: relative !important;
        left: -4px !important;
        top: -1px !important;
    }

.fc-view-container *, .fc-view-container ::after, .fc-view-container ::before {
    -webkit-box-sizing: inherit !important;
    -moz-box-sizing: inherit !important;
    box-sizing: inherit !important;
}

.not-active.disabled {
    cursor: not-allowed;
}
.modal-header {
    cursor: move;
}

