﻿@model Models.ViewModels.TreatmentCategoryViewModel
@using Models.ViewModels;
@using Enums;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = Model.Action;
    TempData["model"] = Model;
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">@action Category</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "TreatmentCategory")">Treatment Categories</a></li>
                        <li class="breadcrumb-item active">@action Category</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
            @Html.Action("CreatePartial", "TreatmentCategory", new { model = (TreatmentCategoryViewModel)TempData["model"] })
        @Html.HiddenFor(m=>m.Action)
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

<script>
    $(document).ready(function () {



    });

</script>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Select2")
}


@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
}
