﻿@model Models.ViewModels.ProductCategoryViewModel

@{
    var action = Model.Action;
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Category Information</h5>
                <hr />

                @using (Html.BeginForm(action, "ProductCategory", FormMethod.Post, new { @class = "form-horizontal form-material pt-3", @enctype = "multipart/form-data", autocomplete = "off" }))
                {

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-md-12" for="example-text">
                                <span> Name</span>
                            </label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter category name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-12">Image</label>
                            <div class="col-sm-12">
                                <div class="col-md-6">
                                    <img class="img-responsive" src="@Model.Image" id="image-thumbnail" alt="" style="max-width:120px;">
                                </div>
                                <div class="fileinput fileinput-new input-group col-sm-6" data-provides="fileinput">
                                    <div data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file">
                                        <input type="file" name="UploadedImage" id="Image" onchange="ShowImage(this)">
                                    </span> <a href="javascript:void(0)" class="input-group-addon btn btn-default fileinput-exists" onclick='document.getElementById("Image").value = ""; document.getElementById("image-thumbnail").src = "";' data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-12" for="bdate">
                                <span>Description</span>
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter description" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Action)
                    @Html.HiddenFor(model => model.Id)

                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                    <button type="button" onclick="Cancel()" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function ShowImage(input) {


        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-thumbnail').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
        //var thumbnail = $("#Image").val();
        //$("#image-thumbnail").attr("src", thumbnail);

    }
        function Cancel(d) {
            window.location.href = "@Url.Action("Index", "ProductCategory")";
    }
</script>