﻿@model Models.ViewModels.ProductCategoryViewModel
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
            <b>@Model.Name</b>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <img id="pr-image" src="@Model.Image" alt="Category" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Descriptions</div>
                    <div class="panel-body">@Model.Description</div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.href='@Url.Action("Edit","ProductCategory",new { id=Model.Id })'">Edit</button>
        <button type="button" class="btn btn-primary modal-footer-btn" data-toggle="modal" data-target="#delete-modal">Delete</button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete: <span><b>@Model.Name</b></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="button" onclick="window.location.href='@Url.Action("Delete","ProductCategory",new { id=Model.Id })'" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>
