﻿@model Models.ViewModels.ProductCategoryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Category</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active"><a href="@Url.Action("Index","ProductCategory")">Product Category</a></li>
                    </ol>
                    @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                    {
                        <button type="button" class="btn btn-info d-none d-lg-block m-l-15" onclick='window.location.href="@Url.Action("Create", "ProductCategory")"'><i class="fa fa-plus-circle"></i> Create New</button>
                    }
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- .row -->

        <div class="row filter-div">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Product Category Filters</h5>
                        <hr />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-sm-12">Name</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(m => m.Id, new List<SelectListItem>(), "Select Category", new { @id = "category-name", @class = "form-control category-name", @placeholder = "Select category" })
                                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <hr>
                                <div class="col-md-12">
                                    <button name="Submit" class="submit-button btn btn-info waves-effect waves-light m-r-10" style="float:right">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row loader-div">
            <div class="col-sm-12">
                <img src="~/images/report-loader.gif" alt="Alternate Text" style="background:none" />
            </div>
        </div>


        <div class="card-deck report-div p-b-20">
            @Html.Action("IndexPartial", "ProductCategory")
        </div>



    </div>


</div>

<!-- Modal -->
<div class="modal bd-example-modal-lg fade" tabindex="-1" id="productCategoryModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="modal-dialog">
        
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
    @Styles.Render("~/Content/DataTable")
    @*@Styles.Render("~/Content/bs")*@
    @*@Styles.Render("~/Content/BootstrapDateTimePicker")*@
}

@section Scripts{
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/Select2")
    @*@Scripts.Render("~/bundles/BootstrapDateTimePicker")*@
}
<script src="~/Scripts/CustomScripts/search-filters-methods.js"></script>
<script>
    $(function () {
      InitialOrientation();
        InitializeSelect2();
        $(".submit-button").on("click", function () {
            var category = $("#category-name").val();

            var data = {
                Id: category,
                Select2: false
            };
           var url = "@Url.Action("IndexPartial", "ProductCategory")";
           GetSearchFilterAjaxResult(url, data, false);

        });
        function InitializeSelect2() {
            var pageSize = 20;
            var optionListUrl = "@Url.Action("GetCategoriesForSelect2", "ProductCategory")";
            //
            //
            //Method which is to be called for populating options in dropdown //dynamically

            var id = "#category-name";
            var url = "@Url.Action("GetCategoriesForSelect2", "ProductCategory")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Category");
        }
    });
</script>
