﻿@model IEnumerable<Models.ViewModels.ProductCategoryViewModel>

@if (Model.Count() == 0)
{
    <h3>No records to display.</h3>
}
else
{
    @*<div class="col-md-12">
        <h5 class="card-title m-b-0"><button class="back-to-filters btn btn-info waves-effect waves-light m-r-10" onclick="backToFilters()">Search Filters</button></h5>
        <hr>
    </div>*@


    foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card category-card make-cursor-pointer" data-toggle="modal" attr-id="@item.Id" data-target="#productCategoryModal">
                <img src="@item.Image" class="card-img-top" alt="Category" style="height:212px">
                <div class="card-body treatment-card-body">
                    <h5 class="card-title card-style">@item.Name</h5>
                    @if (string.IsNullOrEmpty(item.Description))
                    {
                        <p class="card-text">
                            No Description.
                        </p>
                    }
                    else
                    {
                        <p class="card-text">
                            @item.Description.
                        </p>
                    }

                </div>
            </div>
        </div>

    }
}

@*<style>
        .fade {
            transition: .5s all;
        }

            .fade.in {
                opacity: 1;
            }

        .modal-backdrop {
            background: rgba(0,0,0,.6);
        }
    </style>*@

<script>
     $(function () {
         $(".category-card").on("click", function () {
            var id = $(this).attr("attr-id");
            $.ajax({
                url: "@Url.Action("GetDetailModal","ProductCategory")",
                data: { id: id },
                type: "POST"
            }).done(function (result) {
                $('#modal-dialog').html(result);
                });
          });
    });
    function backToFilters() {
        $(".report-div").hide(1000);
        $(".filter-div").show(1000);
    };
</script>
