﻿
/* Style.min.css */

.h3, h3 {
    font-size: 16px !Important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato' !important;
}

.badge {
    padding: .50em .8em !important;
    font-size: 100% !important;
    font-weight: 600 !important;
}

body {
    font-family: 'Lato';
    /*color: #510f35;*/
}

.navbar-collapse {
    /*background: #510f35;*/
}

.topbar .top-navbar .navbar-header {
    /*background: #f2f2f2;*/
    line-height: 65px;
    padding-left: 10px;
    min-width: 70px;
    border-top: #fff;
}

.light-logo {
    border: 1px solid #210047;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.topbar .top-navbar .profile-pic img {
    width: 30px;
    height: 30px;
}

.page-titles {
    background: #fff;
    padding: 14px 10px;
    margin: 0 -25px 25px;
    border-bottom: 1px solid #d4d2d2;
}

.h4, h4 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'lato';
    text-transform: uppercase;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    /*color: #210047;*/
}

.skin-megna .sidebar-nav > ul > li.active > a {
    /*color: #210047;*/
    /*border-left: 3px solid #510f35;*/
    /*background: #fff;*/
    font-weight: 600;
}
.skin-megna .topbar {
    /*background: #210047;*/
}
.skin-megna .page-titles .breadcrumb .breadcrumb-item.active, .skin-megna .sidebar-nav ul li a.active, .skin-megna .sidebar-nav ul li a.active i, .skin-megna .sidebar-nav ul li a:hover, .skin-megna .sidebar-nav ul li a:hover i, .skin-megna .sidebar-nav > ul > li.active > a i {
    /*color: #210047;*/
}

.skin-megna .sidebar-nav > ul > li.active > a {
    /*color: #210047;*/
    font-weight: 600;
}
.left-sidebar {
    /*background: #510f35;*/
}
.sidebar-nav > ul > li > a i
{
    /*color:white;*/
}

.skin-megna .page-titles .breadcrumb .breadcrumb-item.active, .skin-megna .sidebar-nav ul li a.active, .skin-megna .sidebar-nav ul li a.active i, .skin-megna .sidebar-nav ul li a:hover, .skin-megna .sidebar-nav ul li a:hover i, .skin-megna .sidebar-nav > ul > li.active > a i {
    /*color: #c2478e !important;*/
}
.sidebar-nav ul li a {
    /*color: #fff;*/
    padding: 10px 35px 10px 15px;
    display: block;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.container-fluid {
    padding: 0 25px;
    background: #f6f6f6;
}

.card-body {
    padding-bottom: 20px;
    border: 1px solid #d2d1d1;
    border-radius: 5px;
}

.footer {
    bottom: 0;
    left: 0;
    padding: 17px 15px;
    right: 0;
    border-top: 1px solid #c9cbcc;
    background: #fff;
    /*color: #210047;*/
}

.sidebar-nav .has-arrow::after {
    /*border-color: #fff !important;*/
}
