﻿.make-cursor-pointer {
    cursor:pointer;
}

.make-client-image-round {
    height: 72px;
    width: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.partial-appointment-textbox {
    border-right: none;
    border-left: none;
    border-top: none;
}

.qr-code-image
{
    height:120px;
    width:120px;
}

.attendance-column-table-scrollable
{
    /*height: 350px;*/
    overflow: hidden;
    overflow-y: scroll;
}
.topbar {
    z-index: 1001;
}