 .light-logo {
    margin-left: 5px;
    margin-right: 5px;
    background: white;
    border-radius: 20px;
    padding: 4px;
}
.card {
    opacity: 0.9;
}
.card-body{
    padding-bottom: 20px;
}
.card-style{
    text-align: center;
}
.price-style{
    text-align: center;
color: red;
}
.card{
    margin-bottom: 50px;
}

/* + Deal Section */
.section-header{
    margin-bottom: 38px;
}
.deal-section .section-padding:last-of-type {
	padding-top: 35px;
	padding-bottom: 35px;
}
.dealbox{
	margin-bottom: 52px;
}
.deal-design{
    padding-right: 15px;
}
.deal-section .deal-thmbimg {
	position: relative;
}
.deal-section .deal-thmbimg::before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: -5px;
	background: url("../../../assets/images/deals/dots-line.png");
	background-position: center center;
	background-repeat: no-repeat;
	height: 9px;
}
.deal-section .deal-thmbimg p{
	position: absolute;
	top: -12px;
	left: 30px;
	background-color: #fd7140;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	min-width: 52px;
	font-size: 15px;
	letter-spacing: 0.6px;
}
.deal-section .deal-thmbimg p::before{
	border-bottom: 12px solid #fd7140;
    border-left: 6px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    left: -6px;
    position: absolute;
    top: 0;
    width: 0;
}
.deal-section .deal-thmbimg p::after{
	border-left: 26px solid rgba(0, 0, 0, 0);
	border-right: 26px solid rgba(0, 0, 0, 0);
	border-top: 13px solid #fd7140;
    content: "";
    height: 0;
    left: 0;
	right:0;
	width: 100%;
    position: absolute;
    bottom: -13px;
    width: 0;
}
.deal-section .deal-thmbimg  p i{
	top: -2px;
	position: relative;
}
.deal-section .deal-thmbimg p span{
	display: block;
	letter-spacing: 0;
	font-size: 13px;
}
.deal-content{
	border: 1px solid #d9d9d9;
	border-top: none;
	padding: 28px 40px 20px;
	text-align: center;
}
.deal-content h3{
	display: inline-block;
	padding-left: 18px;
	position: relative;
	color: #e94c3c;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.56px;
	text-transform: capitalize;
	margin: 0 0 11px;
	word-wrap: break-word;
}
.deal-content h3::before{
	position: absolute;
	content: "L";
	font-family: "ElegantIcons";
	left: 0;
	top: 0;
	font-size: 14px;
	color: #e94c3c;
}
.deal-content p{
	color: #222;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Hind', sans-serif;
	line-height: 25px;
	letter-spacing: 0.64px;
	word-wrap: break-word;
}
.getdeal-btn{
	display: inline-block;
	margin-bottom: 12px;
	position: relative;
	word-wrap: break-word;
}
.get-coupencode{
	border: 2px dashed #d9d9d9;
	color: #000;
	display: inline-block;
	font-family: 'Hind', sans-serif;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1.05px;
	line-height: 28px;
	margin-left: 36px;
	padding: 3.5px 8px;

	text-align: right;
	text-transform: uppercase;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	min-width: 151px;
	z-index: -1;
	word-wrap: break-word;
}
.getdeal{	
    color: #fff;
    display: inline-block;
    font-family: 'Hind', sans-serif;
    font-size: 13px;
	letter-spacing: 0.91px;
    font-weight: 600;
    left: 0;
    min-width: 190px;
    padding: 13px 23px 9px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
    z-index: 2;
	word-wrap: break-word;
}
.getdeal::before{
	position: absolute;
	content: "";
	background: url("../../../assets/images/deals/copunshape.png");
	background-repeat: no-repeat;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
.getdeal-btn:hover .get-coupencode{
	border-color: #fd7140;
}
.getdeal-btn:hover .getdeal{
	left: -10px;
	color: #222;
}
.deal-content .expire {
	color: #777;
	font-size: 12px;
	line-height: 28px;
	letter-spacing: 0.48px;
}
.deal-content .expire span {
	color: #e94c3c;
	font-size: 12px;
	line-height: 28px;
	letter-spacing: 0.48px;
	text-transform: capitalize;
}
.table-style{
	margin-top: 45px;
}
.role-btn{
    margin-top: 20px;
    margin-left: 20px;
}
.form-heading{
	margin-bottom: 40px;
}
.form-permisson{
	height: 30px;
    border: 1px solid lightgray;
	height: 200px;
    overflow-y: scroll;
}
.form-view-heading{
	margin-top: 15px;
}
.dlt-img{
	margin-left: 15px;
}
.dtl-msg{
	margin-left: 10px;
}
.push-btn{
	padding-left: 30px;
}
.login-register{
	padding: 5% 0 !important;
}
/* css for treatment card */

.treatment-card {
    height: 420px;
}

.treatment-card-body {
    height: 170px !important;
}

/*css for treatment detail modal*/

.panel-primary {
    border-color: #01888f;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #01888f;
    border-color: #01888f;
}

.panel-heading {
    margin-top: 50px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal .panel-body {
    color: #444;
}

.panel-body {
    padding: 15px;
}

.modal-footer-btn {
    background: #01888f;
}

.register-card-scroll {
    height: 200px;
    overflow-y: scroll;
}

.stylist-dashboard-search-button {
    padding-left: 7px;
}

.stylist-dashboard-check-in-button {
    padding-bottom: 19px !important;
}