﻿@model List<Models.ViewModels.DiscountViewModel>
    @{ 
        var currency = Session["Currency"] != null ? Session["Currency"].ToString() : "€";
    }

@if (Model.Count() == 0)
{
    <h3>No records to display.</h3>
}
else
{
    @*<div class="col-md-12">
        <h5 class="card-title m-b-0"><button class="back-to-filters btn btn-info waves-effect waves-light m-r-10" onclick="backToFilters()">Search Filters</button></h5>
        <hr>
    </div>*@


    foreach (var item in Model)
    {
        <div class="col-md-2 p-b-20">
            <div class="card discount-card make-cursor-pointer" data-toggle="modal" attr-id="@item.Id" data-target="#discountModal">
                <img src="@item.ImageUrl" class="card-img-top" alt="Image could not be loaded." style="height:212px">
                <div class="card-body discount-card-body">
                    <h5 class="card-title card-style">@item.Name</h5>
                    @if (string.IsNullOrEmpty(item.Description))
                    {
                        <p class="card-text">
                            No Description.
                        </p>
                    }
                    else
                    {
                        <p class="card-text">
                            @item.Description.
                        </p>
                    }

                </div>
            </div>
        </div>

    }
}


<script>
     $(function () {
         $(".discount-card").on("click", function () {
            var id = $(this).attr("attr-id");
            $.ajax({
                url: "@Url.Action("GetDetailModal","Discount")",
                data: { id: id },
                type: "POST"
            }).done(function (result) {
                    $('#modal-dialog').html(result);
                    $("#DiscountModal").modal();
                });
          });
    });
    function backToFilters() {
        $(".report-div").hide(1000);
        $(".filter-div").show(1000);
    };
</script>
