﻿@model Models.ViewModels.DiscountViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = Session["action"] != null ? Session["action"].ToString() : "Create";
    var entityList = Model.Action == "Edit" ? new List<SelectListItem> { new SelectListItem { Value = Model.Entity.Id.ToString(), Text = Model.Entity.Name } } : new List<SelectListItem>();
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Create Discount</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">@action Discount</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15" onclick="window.location.href='@Url.Action("Create", "Discount")'"><i class="fa fa-plus-circle"></i> Create New</button>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic Information</h5>
                        @using (Html.BeginForm(action, "Discount", FormMethod.Post, new { @class = "form-horizontal form-material", @enctype = "multipart/form-data", autocomplete = "off", data_fouc = true }))
                        {

                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Name</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Discount Name" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span>Discount Percentage</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.DiscountPercentage, new { @class = "form-control", placeholder = "Enter Discount Percentage" })
                                    @Html.ValidationMessageFor(model => model.DiscountPercentage, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-12">Discount Image</label>
                                <div class="col-sm-12">
                                    <img class="img-responsive" src="@Model.ImageUrl" id="image-thumbnail" alt="" style="max-width:120px;">
                                </div>
                                <div class="col-sm-12">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file">
                                            <input type="file" name="Image" id="Image" onchange="ShowImage(this)">
                                        </span> <a href="javascript:void(0)" class="input-group-addon btn btn-default fileinput-exists" onclick='document.getElementById("Image").value = "";' data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">
                                    <span>Start Date Time</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @id = "start-date-time", @class = "form-control date-time-picker", type = "text", placeholder = "Enter start date time" } })
                                    @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">
                                    <span>End Date Time</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @id = "end-date-time", @class = "form-control date-time-picker", type = "text", placeholder = "Enter end date time" } })
                                    @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="form-group">
                                    <label class="col-md-12">
                                        <span>Type</span>
                                    </label>
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.EntityType, Enum.GetNames(typeof(Enums.DiscountEntityTypeCatalog)).Select(e => new SelectListItem { Text = e }), new { @id = "entity-type", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EntityType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">
                                        <span>Entity</span>
                                    </label>
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(m => m.Entity.Id, entityList, new { @id = "entity", @class = "form-control entity" })
                                        @Html.ValidationMessageFor(model => model.Entity.Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            @Html.HiddenFor(m => m.EntityType)
                            @Html.HiddenFor(m => m.IsActive)

                            <div class="form-group">
                                <label class="col-sm-12">Description</label>
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Enter description" })
                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Notification Title</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.NotificationTitle, new { @class = "form-control", placeholder = "Enter Notifcation Title" })
                                    @Html.ValidationMessageFor(model => model.NotificationTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-12">Notification Body</label>
                                <div class="col-sm-12">
                                    <textarea name="NotificationBody" class="form-control" id="NotificationBody" placeholder="Body" rows="5" cols="40">@Html.Raw(Model.NotificationBody)</textarea>
                                    @Html.ValidationMessageFor(model => model.NotificationBody, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            @Html.HiddenFor(m => m.Action)
                            <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                            <button type="button" class="btn btn-inverse waves-effect waves-light cancel-btn">Cancel</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<script src="~/Themes/ck_editor/ckeditor.js"></script>
<link href="~/Content/CustomCss/test.css" rel="stylesheet" />

<script>

    $(function () {
        //CKEDITOR.replace("NotificationBody");
          CKEDITOR.replace('NotificationBody', {
                        height: 400,
                        htmlEncodeOutput: true,
                    });
        $(".date-time-picker").datetimepicker({
            timepicker: true,
            format: 'Y-m-d H:i',
            todayHighlight: true,
        });
        InitializeSelect2();
        //OnEntityChange(false);
        $("body").on("change", "#entity-type", function () {
            OnEntityChange(true);
        });
    });
    function OnEntityChange(isInitalized) {
        if (isInitalized) {
            $("#entity").select2("val", "");
        }
        if ($("#entity-type").val() == "All") {
            $("#entity").parent().parent().hide();
        }
        else {
            $("#entity").parent().parent().show();
        }
    }
    function ShowImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image-thumbnail').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function InitializeSelect2() {
            var pageSize = 20;
            var id = "#entity";
            var url = "@Url.Action("GetEntities", "Discount")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    entityType:$("#entity-type").val(),
                }
            };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize, "Select Entity");

    }
</script>

@section Scripts{
    @Scripts.Render("~/bundles/Select2")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/JqueryDateTimePicker")
}

@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
    @Styles.Render("~/Content/JqueryDateTimePicker")
}