﻿@model Models.ViewModels.DiscountViewModel
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
            <b>@Model.Name</b>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <img id="pr-image" src="@Model.ImageUrl" alt="Image could not be loaded" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-borderless table-striped dfTable table-right-left">
                        <tbody>
                            <tr>
                                <td class="col-xs-5">Name</td>
                                <td class="col-xs-7">@Model.Name</td>
                            </tr>
                            <tr>
                                <td>Promo Code</td>
                                <td>@Model.PromoCode</td>
                            </tr>
                            <tr>
                                <td>Discount Percentage</td>
                                <td>@Model.DiscountPercentage</td>
                            </tr>
                            <tr>
                                <td>Start Date Time</td>
                                <td>@Model.StartDateTime</td>
                            </tr>
                            <tr>
                                <td>End Date Time</td>
                                <td>@Model.EndDateTime</td>
                            </tr>
                            <tr>
                                <td>Notification Title</td>
                                <td>@Model.NotificationTitle</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Notification Body</div>
                    <div class="panel-body">@Html.Raw(HttpUtility.HtmlDecode(Model.NotificationBody))</div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        @if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
        {
            if (Model.IsApproved == false)
            {
                <button type="button" id="approve-btn" class="btn btn-success modal-footer-btn" data-toggle="modal" data-target="#approval-modal">Approve</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.href='@Url.Action("Edit","Discount",new { id=Model.Id })'">Edit</button>
            }
            <button type="button" class="btn btn-primary modal-footer-btn" data-toggle="modal" data-target="#delete-modal">Delete</button>
            @*<button type="button" class="btn btn-primary modal-footer-btn" onclick="window.location.href='@Url.Action("Index","StylistDiscount",new { id=Model.Id })'">Stylists</button>*@
        }
    </div>
</div>

<form action="/" id="hidden-discount-form" hidden>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="Name" value="@Model.Name" />
    <input type="hidden" name="Entity.Id" value="@Model.Entity.Id" />
    <input type="hidden" name="EntityType" value="@Model.EntityType" />
    <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
    <input type="hidden" name="PromoCode" value="@Model.PromoCode" />
    <input type="hidden" name="IsActive" value="@Model.IsActive" />
    <input type="hidden" name="DiscountPercentage" value="@Model.DiscountPercentage" />
    <input type="hidden" name="StartDateTime" value="@Model.StartDateTime" />
    <input type="hidden" name="EndDateTime" value="@Model.EndDateTime" />
    <input type="hidden" name="Description" value="@Model.Description" />
    <input type="hidden" name="NotificationTitle" value="@Model.NotificationTitle" />
    <input type="hidden" name="NotificationBody" value="@Model.NotificationBody" />
</form>


<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete: <span><b>@Model.Name</b></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="button" onclick="window.location.href='@Url.Action("Delete","Discount",new { id=Model.Id })'" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="approval-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirm Approval</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Are you sure you want to Approve: <span><b>@Model.Name</b></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="approve-discount-btn">Approve</button>
                <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>