﻿@model Models.ViewModels.PointViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = string.IsNullOrEmpty(Model.Action) ? "Create" : Model.Action;
    TempData["href"] = ViewBag.href!=null?ViewBag.href:"";

}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">@action Point</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">@action Point</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic Information</h5>
                        @using (Html.BeginForm(action, "Point", FormMethod.Post, new { @class = "form-horizontal form-material", @enctype = "multipart/form-data" }))
                        {

                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span></span>
                                </label>
                                <div class="col-md-12">
                                    Define the value of point
                                </div>
                            </div>
                      
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Value</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Worth, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Worth, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model=>model.Id)
                                    @Html.HiddenFor(model=>model.Expiry)
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                            <button type="button" class="btn btn-inverse waves-effect waves-light cancel-btn">Cancel</button>
                        }
                        @using (Html.BeginForm("Delete", "AppointmentApproval", Model, FormMethod.Post, new { id = "delete-form" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
