﻿@model IEnumerable<Models.ViewModels.InvoiceReportViewModel>
@{
    var recordIndex = 1;
}
<div class="table-responsive">
    @if (Model != null && Model.Count() > 0)
    {
        <table id="myTable" class="table dashboard-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Invoice#</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>TAX</th>
                    <th>Discount</th>
                    <th>Recieved</th>
                    <th>Points Used</th>
                    <th>Commission</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@recordIndex</td>
                    <td>@item.InvoiceNumber</td>
                    <td>@item.Client.Name</td>
                    <td>@item.DateTime</td>
                    <td>@item.TreatmentsPrice</td>
                    <td>@item.VAT</td>
                    <td>@Math.Round(item.Discount, 2)</td>
                    <td>@Math.Round(item.AmountGiven, 2)</td>
                    <td>@item.PointsUsed</td>
                    <td>@Math.Round(item.CommissionPaid, 2)</td>
                    <td><a class="btn btn-info" href='@Url.Action("InvoiceReportView", "Appointment", new { Id = item.Id})'>View</a></td>
                </tr>
                    recordIndex = recordIndex + 1;
                }


            </tbody>
        </table>
    }
    else
    {
        <hr />
        <h3>No record found.</h3>
    }
</div>

