﻿@model IEnumerable<Models.ViewModels.StylistCommissionReportViewModel>
@{
    var recordIndex = 1;
}

<div class="table-responsive">
    @if (Model != null && Model.Count() > 0)
    {
        <table id="myTable" class="table table-striped dashboard-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>No. of treatments</th>
                    <th>Commission</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@recordIndex</td>
                        <td>@item.StylistName</td>
                        <td>@item.Date</td>
                        <td>@item.NumberOfTreatments</td>
                        <td>@item.Commission</td>
                    </tr>
                    recordIndex = recordIndex + 1;
                }


            </tbody>
        </table>
    }
    else
    {
        <hr />
        <h3>No record found.</h3>
    }
</div>
