﻿@model IEnumerable<Models.ViewModels.ClientPointReportViewModel>
@{
    var recordIndex = 1;
    var dashboardView = ViewBag.dashboardView;
}

<!-- /row -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                @if (dashboardView)
                {
                    <h5 class="card-title m-b-0"><button class="back-to-filters btn btn-info waves-effect waves-light m-r-10" onclick="backToFilters()">Back to filters</button></h5>
                    <hr>
                }
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Client</th>
                                <th>Points</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@recordIndex</td>
                                    <td>@item.ClientName</td>
                                    <td>@item.Points</td>
                                    <td>@item.Date</td>
                                </tr>
                                recordIndex = recordIndex + 1;
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
                 function backToFilters() {
            $(".report-div").hide(1000);
            $(".filter-div").show(1000);
};
    </script>