﻿@model IEnumerable<Models.ViewModels.UserAttendanceViewModel>
    @{ 
        var recordIndex = 1;
    }

<div class="table-responsive">
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table dashboard-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Login Time</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@recordIndex</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.AttendanceDate</td>
                    </tr>

                    { recordIndex = recordIndex + 1; }
                }

            </tbody>
        </table>
    }
    else
    {
        <hr />
        <h3>No @ViewBag.role online.</h3>
    }

</div>
