﻿@model Models.ViewModels.StylistCommissionReportSearchViewModel

@{
    ViewBag.Title = "GetStylistCommissionReport";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Stylist Commission Report</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Stylist Commission Report</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <div class="row filter-div">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Stylist Commission Report Filters</h5>
                        <hr />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-sm-12">Stylist</label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(model => model.StylistId, new List<SelectListItem>(), "Select stylist", new { @class = "form-control stylist-name", @placeholder = "Enter stylist" })
                                    @Html.ValidationMessageFor(model => model.StylistName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-sm-12">Treatment</label>
                                <div class="col-md-11">
                                    @Html.DropDownListFor(model => model.TreatmentId, new List<SelectListItem>(), "Select treatment", new { @class = "form-control treatment-name", @placeholder = "Enter treatment" })
                                    @Html.ValidationMessageFor(model => model.TreatmentName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-sm-12">Start date</label>
                                <div class="col-md-12">
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="DateTime" id="DateTime" class="form-control start-date" placeholder="Enter start date" value="" />
                                    @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-sm-12">
                                    <label class="col-sm-12">End date</label>
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type ='text')" name="EndingDateTime" id="EndingDateTime" class="form-control end-date" placeholder="Enter end date" value="" />
                                    @Html.ValidationMessageFor(m => m.EndingDateTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <hr>
                                <div class="col-md-12">
                                    <button name="Submit" class="submit-button btn btn-info waves-effect waves-light m-r-10" style="float:right">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row loader-div">
            <div class="col-sm-12">
                <img src="~/images/report-loader.gif" alt="Alternate Text" style="background:none" />
            </div>
        </div>

        <div class="row report-div">
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
    @Styles.Render("~/Content/DataTable")
    @*@Styles.Render("~/Content/BootstrapDateTimePicker")*@
}

@section Scripts{
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/Select2")
    @*@Scripts.Render("~/bundles/BootstrapDateTimePicker")*@
}
<script>
    $(function () {
        $(".report-div").hide();
        $(".loader-div").hide();

        InitializeSelect2();

        $(".stylist-name").on("change", function () {
            var pageSize = 20;
            var id = ".treatment-name";
            var stylist = $(this).val();
            var url = "@Url.Action("GetTreatments", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    stylistId: stylist

                }
                };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Treatment")
        });

        $(".submit-button").on("click", function () {
            var data = {
                DateTime: $(".start-date").val(),
                EndingDateTime: $(".end-date").val(),
                StylistId: $(".stylist-name").val(),
                TreatmentId: $(".treatment-name").val(),
                DashboardView: true
            };
            $.ajax({
                type: "post",
                url: "@Url.Action("StylistCommissionReport", "Report")",
                data: { model: data },
                beforeSend: function () {
                    $(".filter-div").hide(1000);
                    $(".loader-div").show(1000);
                },
                success: function (data) {
                    $(".loader-div").hide(1000);
                    if (!data) {
                        $(".report-div").html("No data found");
                    }
                    else {
                        $(".report-div").html(data);
                        $("#myTable").DataTable();
                        $(".report-div").show(2000).delay(3000);
                    }
                }
            });

        });
        function InitializeSelect2() {
            var pageSize = 20;
            var optionListUrl = '@Url.Action("GetUsers", "Appointment")';
            //
            //
            //Method which is to be called for populating options in dropdown //dynamically

           var id = ".stylist-name";
            //var treatmentId = $(".treatment-name").val();
            var url = "@Url.Action("GetStylists", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    //treatmentId: treatmentId
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Stylist")

            var id = ".treatment-name";
            var url = "@Url.Action("GetTreatments", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page
                }
                };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Treatment")


        }
    });
</script>


