﻿@model IEnumerable<Models.ViewModels.AppointmentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var recordIndex = 1;
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Appointments</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Appointments</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Booked Appointments</h5>
                        <hr>
                        <div class="table-responsive">
                            <table id="myTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Treatment</th>
                                        <th>Stylist</th>
                                        <th>Starting</th>
                                        <th>Ending</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@recordIndex</td>
                                            <td>@item.Client.Name</td>
                                            <td>@item.Treatment.Name</td>
                                            <td>@item.Stylist.Name</td>
                                            <td>@item.AppointmentStartingTime</td>
                                            <td>@item.AppointmentEndingTime</td>
                                            <td>@item.Treatment.Price</td>
                                        </tr>
                                        recordIndex = recordIndex + 1;
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/DataTable")
}

@section Scripts{
    @Scripts.Render("~/bundles/DataTables")
}
<script>
    $(function(){
    $("#myTable").DataTable()
    });
</script>
