﻿@model IEnumerable<Models.ViewModels.InvoiceReportViewModel>
@{
    var dashboardView = ViewBag.dashboardView;
}
<!-- /row -->

@if (dashboardView)
{
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-0"><button class="back-to-filters btn btn-info waves-effect waves-light m-r-10" onclick="backToFilters()">Back to filters</button></h5>
                <hr>

                @Html.Partial("~/Views/Report/_InvoiceReportTable.cshtml", Model)
            </div>
        </div>
    </div>

    <script>
        function backToFilters() {
            $(".report-div").hide(1000);
            $(".filter-div").show(1000);
        };
    </script>
}

else
{
    @Html.Partial("~/Views/Report/_InvoiceReportTable.cshtml", Model)
}