﻿@model IEnumerable<Models.ViewModels.AppointmentViewModel>

@{
    ViewBag.Title = "ReportPartialView";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}

<h2>ReportPartialView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentStartingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentEndingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stylist.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentStartingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentEndingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stylist.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment.Price)
        </td>
    </tr>
}

</table>
