﻿@model IEnumerable<Models.ViewModels.TreatmentReportViewModel>
@{
    var recordIndex = 1;
    var dashboardView = ViewBag.dashboardView;
}


<!-- /row -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            @if (dashboardView)
            {
                <h5 class="card-title m-b-0"><button class="back-to-filters btn btn-info waves-effect waves-light m-r-10" onclick="backToFilters()">Back to filters</button></h5>
                <hr>
            }
            <div class="table-responsive">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Client</th>
                            <th>Treatment</th>
                            <th>Stylist</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Recieved</th>
                            <th>Commission</th>
                            <th>Profit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@recordIndex</td>
                                <td>@item.ClientName</td>
                                <td>@item.TreatmentName</td>
                                <td>@item.StylistName</td>
                                <td>@item.InvoiceDateTime</td>
                                <td>@Math.Round(item.TreatmentPrice, 2)</td>
                                <td>@Math.Round(item.Discount, 2)</td>
                                <td>@Math.Round(item.AmountRecieved, 2)</td>
                                <td>@Math.Round(item.StylistCommission, 2)</td>
                                <td>@Math.Round(item.AmountRecieved - item.StylistCommission, 2)</td>
                                <td><a href='@Url.Action("InvoiceReportView", "Appointment", new { InvoiceItemId = item.InvoiceItemId, IsTreatmentView = true })' class="btn btn-success">View</a></td>
                            </tr>
                            recordIndex = recordIndex + 1;
                        }


                    </tbody>
                </table>
                <h3>Profit Made : @Math.Round(Model.Sum(m => m.AmountRecieved) - Model.Sum(m => m.StylistCommission), 2) </h3>
                <h3>Commission Paid : @Math.Round(Model.Sum(m => m.StylistCommission), 2)</h3>
            </div>
        </div>
    </div>
</div>
<script>
    function backToFilters() {
        $(".report-div").hide(1000);
        $(".filter-div").show(1000);
    };
</script>



