﻿
@model Models.ViewModels.StylistTreatmentViewModel
    @{ 
        Layout = null;
    }

<h5 class="card-title">Select Treatments</h5>
<form action="@Url.Action("AddReferenceNumber","Account")" method="post" autocomplete="off" id="stylist-treatment-form">
    <div class="row">
        <div class="form-group col-md-4">
            <label class="col-md-12" for="example-email">
                <span> Stylist</span>
            </label>
            <div class="col-md-12">
                <span id="stylist-name-span"> </span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="col-md-12" for="example-email">
                <span> Email</span>
            </label>
            <div class="col-md-12">
                <span id="email-span"> </span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="col-md-12" for="example-email">
                <span> Phone</span>
            </label>
            <div class="col-md-12">
                <span id="phone-number-span"> </span>
            </div>
        </div>
        @Html.HiddenFor(m => m.StylistId, new { id = "stylist-id" })
        <div class="form-group col-md-12">
            <label class="col-sm-12">Treatment</label>
            <div class="col-sm-12">
                @Html.DropDownListFor(model => model.TreatmentId, new List<SelectListItem> { new SelectListItem { Text = Model.TreatmentName, Value = Model.TreatmentId.ToString()} }, new { @class = "form-control", id = "treatment-name" })
                @Html.ValidationMessageFor(m => m.TreatmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12 row">
            <div class="col-md-3">
                <label class="col-sm-12">Commission(%)</label>
                <div class="col-sm-12">
                    <input type="number" name="PercentageCommission" value="@Model.PercentageCommission" class="form-control" id="percentage-commission" min="0" max="100" required />
                    @Html.ValidationMessageFor(m => m.PercentageCommission, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <label class="col-sm-12">Speciality</label>
                <div class="col-sm-12">
                    @Html.CheckBoxFor(model => model.Speciality, new { id = "speciality-check", @class = "mt-2" })
                    @*@Html.ValidationMessageFor(m => m.Speciality, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success pull-right mt-4" id="add-treatment-button" aria-pressed="false" type="button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
            @Html.HiddenFor(m=>m.Action, new { id = "action"})
        </div>
    </div>

</form>
