﻿@model Models.ViewModels.StylistTreatmentViewModel

@{
    ViewBag.Title = "AddStylistTreatment";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Add Stylist Treatments</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Details","Account", new { Id = Model.StylistId})">Stylist</a></li>
                        <li class="breadcrumb-item active">Add Treatments</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body" id="add-stylist-treatment-div">
                        @Html.Partial("~/Views/StylistTreatment/_AddStylistTreatment.cshtml", Model)
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body" id="stylist-treatments-div">

                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
}

@section Scripts{
    @Scripts.Render("~/bundles/Select2")
    @Scripts.Render("~/bundles/DataTables")
}

<script src="~/Scripts/CustomScripts/stylist-treatment-methods.js"></script>
<script>
    $(function () {
        //$("#client-id").mask("99999999-9999-9999-9999-999999999999");
        $("#qr-image").hide();
        getStylist($("#stylist-id").val(), "@Url.Action("GetUserDetail","Appointment")");
        loadStylistTreatments("@Url.Action("GetStylistTreatments","StylistTreatment")");
        initializeTreatments($("#stylist-id").val(), "@Url.Action("GetTreatments", "Appointment")");
        $("#myTable").DataTable();

        //
        //to delete a stylist treatment record.
        $("body").off("click", ".remove-treatment-span");
        $("body").on("click", ".remove-treatment-span", function (event) {
            $.ajax({
                url: "@Url.Action("Delete","StylistTreatment")",
                data: { StylistId: $(this).attr("attr-stylist-id"), TreatmentId: $(this).attr("attr-treatment-id") },
                success: function () {
                    loadStylistTreatments("@Url.Action("GetStylistTreatments", "StylistTreatment")");
                    //(window).scrollTop($('#add-stylist-treatment-div').offset().top);
                    $('html, body').animate({ scrollTop: $("#add-stylist-treatment-div").offset().top });
                }
            });
        });

        //
        //to edit a stylist treatment record.
        $("body").off("click", ".edit-treatment-span");
        $("body").on("click", ".edit-treatment-span", function (event) {
            $(this).parent().parent().find(".display-attribute").hide();
            var specialityCheck = $(this).parent().parent().find(".display-attribute.speciality").html() == "True" ? true : false;
            $(this).parent().parent().find(".edit-attribute-speciality").prop("checked", specialityCheck);
            $(this).parent().parent().find(".edit-attribute").show();

        });

        //
        //to cancel edit of a stylist treatment record.
        $("body").off("click", ".cancel-treatment-span");
        $("body").on("click", ".cancel-treatment-span", function (event) {
            $(this).parent().parent().find(".display-attribute").show();
            $(this).parent().parent().find(".edit-attribute").hide();
        });

        //
        //to save an edited stylist treatment record.
        $("body").off("click", ".save-treatment-span");
        $("body").on("click", ".save-treatment-span", function (event) {
            var data = {
                StylistId: $(this).attr("attr-stylist-id"),
                TreatmentId: $(this).attr("attr-treatment-id"),
                PercentageCommission: $(this).parent().parent().find(".edit-attribute-percentage").val(),
                Speciality: $(this).parent().parent().find(".edit-attribute-speciality").prop("checked")
            }
            var element = this;
            $.ajax({
                url: "/StylistTreatment/Edit",
                type: "post",
                data: { "model": data },
                success: function (response) {
                    if (response) {
                        $(element).parent().parent().find(".display-attribute.percentage").html($(element).parent().parent().find(".edit-attribute-percentage").val());

                        var specialityCheck = $(element).parent().parent().find(".edit-attribute-speciality").prop("checked")? "True" : "False";
                        $(element).parent().parent().find(".display-attribute.speciality").html(specialityCheck);
                        $(element).parent().parent().find(".display-attribute").show();
                        $(element).parent().parent().find(".edit-attribute").hide();
                    }
                    else {
                        $(element).parent().parent().find(".display-attribute").show();
                        $(element).parent().parent().find(".edit-attribute").hide();
                    }
                }
            });
        });

        //
        //on change of speciality
        $("body").on("change", "#speciality-check", function () {
            if (!$("#speciality-check")[0].checked)
                $("#speciality-check").val(false);
            else
                $("#speciality-check").val(true)

        })

        //
        //on change in client name
        $("body").on("click", "#add-treatment-button", function (event) {
            var data = {};
            var form = $("#stylist-treatment-form").serializeArray();
            var check = new FormData($("#stylist-treatment-form")[0]);
            $.map(form, function (obj, i) {
                data[obj.name] = obj.value;
            });
            data.Speciality = $("#speciality-check").val();
            var action = $("#action").val();
            $.ajax({
                url: "/StylistTreatment/" + action,
                type: "post",
                data: { "model": data },
                success: function (response) {
                    if (response) {
                        initializeTreatments($("#stylist-id").val(), "@Url.Action("GetTreatments", "Appointment")", true);
                        $("#percentage-commission").val("");
                        $("#speciality-check").attr("checked",false);
                        loadStylistTreatments("@Url.Action("GetStylistTreatments","StylistTreatment")");
                    }
                    else {
                        // leave it for further functionality.
                    }
                }
            });
        });

        //
        //to generate qr-image
        $("body").on("input", "#reference-id", function () {
            var id = $("#reference-id").val();
            $.ajax({
                url: '@Url.Action("GetQrImage","Home")',
                data: { id: id },
                type: "POST"
            }).done(function (res) {
                $("#qr-image").attr("src", res);
                $("#qr-image").show();
            });
        });

        $("body").on("click", "#cancel", function () {
            window.location.href = '@Url.Action("Index","Home")';
        });
    });


    //
    //Functions


</script>
