﻿@model Models.ViewModels.StylistTreatmentViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = Session["action"] != null ? Session["action"].ToString() : "Create";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">@action Styllist's Treatment</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">@action Stylist's Treatment</li>
                    </ol>
                    @if (action != "Create")
                    {
                        <button type="button" class="btn btn-info d-none d-lg-block m-l-15" onclick="window.location.href='@Url.Action("Create","StylistTreatment")'"><i class="fa fa-plus-circle"></i> Create New</button>
                    }
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        @if (Model.StylistsList != null)
                        {
                            <h5 class="card-title">Basic Information</h5>
                        }
                        @using (Html.BeginForm(action, "StylistTreatment", FormMethod.Post, new { @class = "form-horizontal form-material", @enctype = "multipart/form-data" }))
                        {

                            @Html.AntiForgeryToken()
                            if (Model.StylistsList == null || Model.StylistsList.Count()==0)
                            {
                                <h3>No stylists to add</h3>
                                <hr />
                                <button type="button" class="btn btn-inverse waves-effect waves-light" onclick="window.location.href='@Url.Action("Index","StylistTreatment",new { id=Model.TreatmentId})'">Back</button>

                            }
                            else
                            {
                                if (action != "Edit")
                                {
                                    <div class="form-group">
                                        <label class="col-sm-12">Select Stylists</label>
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(m => m.SelectedSytlists, new SelectList(Model.StylistsList, "id", "text"), Model.StylistId, new { @class = "form-control", @id = "stylists-list" })
                                            @Html.ValidationMessageFor(m => m.SelectedSytlists, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                }
                                <div class="form-group">
                                    <label class="col-md-12" for="example-text">
                                        <span> Percentage</span>
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.PercentageCommission, new { @class = "form-control", @placeholder = "Enter your name" })
                                        @Html.ValidationMessageFor(model => model.PercentageCommission, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Speciality</label>
                                    <div class="col-sm-12">
                                        @Html.CheckBoxFor(model => model.Speciality)
                                        @Html.ValidationMessageFor(m => m.Speciality, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.TreatmentId)
                                        @Html.HiddenFor(model => model.StylistId)
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>

                                if (action != "Create")
                                {
                                    <button type="button" class="btn btn-inverse waves-effect waves-light" onclick="window.location.href='@Url.Action("Delete", "StylistTreatment", new { stylistId = Model.StylistId, treatmentId = Model.TreatmentId })'">Delete</button>
                                }

                                <button type="button" class="btn btn-inverse waves-effect waves-light" onclick="window.location.href='@Url.Action("Index","StylistTreatment",new { id=Model.TreatmentId})'">Cancel</button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>


        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Select2")
}
@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
}
