﻿@model IEnumerable<Models.ViewModels.StylistTreatmentViewModel>

@{
    var recordIndex = 1;
    var dashboardView = ViewBag.dashboardView;
}

<style>
    .edit-attribute{
        display:none;
    }
</style>

<!-- /row -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Stylist's Treatments</h5>
            <div class="table-responsive">
                @if (Model != null && Model.Count() > 0)
                {
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Treatment</th>
                                <th>Commission(%)</th>
                                <th>Speciality</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@recordIndex</td>
                                    <td>@item.TreatmentName</td>
                                    <td>
                                        <span class="display-attribute percentage">@item.PercentageCommission</span>
                                        <span class="edit-attribute">
                                            <input type="number" name="Percentage"  value="@item.PercentageCommission" class="edit-attribute-percentage" />
                                        </span>
                                    </td>
                                    <td>
                                        <span class="display-attribute speciality">@item.Speciality</span>
                                        <span class="edit-attribute">
                                            <input type="checkbox" name="Speciality" value="@item.Speciality" class="edit-attribute-speciality" />
                                        </span>
                                    </td>
                                    <td class="row">
                                        <span class="mr-1 badge badge-danger remove-treatment-span display-attribute" attr-treatment-id=@item.TreatmentId attr-stylist-id=@item.StylistId style="cursor:pointer;">
                                            Delete
                                        </span>
                                        <span class="mr-1 badge badge-info edit-treatment-span display-attribute" attr-treatment-id=@item.TreatmentId attr-stylist-id=@item.StylistId style="cursor:pointer;">
                                            Edit
                                        </span>
                                        <span class="mr-1 edit-attribute badge badge-success save-treatment-span" attr-treatment-id=@item.TreatmentId attr-stylist-id=@item.StylistId style="cursor:pointer;">
                                            Save
                                        </span>
                                        <span class="mr-1 edit-attribute badge badge-warning cancel-treatment-span" attr-treatment-id=@item.TreatmentId attr-stylist-id=@item.StylistId style="cursor:pointer;">
                                            Cancel
                                        </span>
                                    </td>
                                </tr>
                                recordIndex = recordIndex + 1;
                            }


                        </tbody>
                    </table>
                }
                else
                {
                    <hr />
                    <h3>No treatments added yet.</h3>
                }
            </div>
        </div>
    </div>
</div>
