﻿@model List<Models.ViewModels.RegisterViewModel>

@{
    ViewBag.Title = "Stylists";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var recordIndex = 1;
    var TreatmentId = Session["treatmentId"];

}


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Stylists</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active"><a href="@Url.Action("Index","Treatment", new { id =TreatmentId })">Treatment</a></li>
                        <li class="breadcrumb-item active"><a href="@Url.Action("Index","StylistTreatment", new { id =TreatmentId })">Stylists</a></li>
                    </ol>
                    @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                    {
                        <button type="button" class="btn btn-info d-none d-lg-block m-l-15" onclick="window.location.href='@Url.Action("Create", "StylistTreatment")'"><i class="fa fa-plus-circle"></i> Create New</button>
                    }
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Treatment's Stylists</h5>
                        <hr>
                        <div class="table-responsive">
                            @if (Model.Count() > 0)
                            {
                               
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Treatment</th>
                                            <th>Stylist</th>
                                            <th>Date</th>
                                            <th>Percentage</th>
                                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                                            {
                                                <th>Edit</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@recordIndex</td>
                                                <td>@item.TreatmentName</td>
                                                <td>@item.Name</td>
                                                <td>@item.TreatmentDate</td>
                                                <td>@item.Percentage%</td>
                                                @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                                                {
                                                    <td><a href="@Url.Action("Edit", "StylistTreatment", new { treatmentId = item.TreatmentId, stylistId = item.Id })" title="Update" aria-label="Update" data-pjax="0"><i class="fa fa-pencil"></i></a></td>

                                                }
                                            </tr>
                                            recordIndex = recordIndex + 1;
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h3>No Stylists added yet.</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/DataTable")
}

@section Scripts{
    @Scripts.Render("~/bundles/DataTables")
}
<script>
    $(function () {
        $("#myTable").DataTable()
    });
</script>