﻿
@{

    ViewBag.Title = "Stylist Dashboard";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = Session["action"] != null ? Session["action"].ToString() : "Create";
    var previouslySelectedStylist = ViewBag.PreviouslySelectedStylist == null ? new List<SelectListItem>() : (List<SelectListItem>)(ViewBag.PreviouslySelectedStylist);

}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        @*<!-- Bread crumb and right sidebar toggle -->*@
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Stylist's Dashboard</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Stylist's Dashboard</li>
                    </ol>
                    @if (action != "Create")
                    {
                        <button type="button" class="btn btn-info d-none d-lg-block m-l-15" onclick="window.location.href='@Url.Action("Create","StylistTreatment")'"><i class="fa fa-plus-circle"></i> Create New</button>
                    }
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!--Row-->
            <!-- Column -->
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="col-md-8">Select Stylist</h5>
                        <div class="form-group col-md-12">
                            @*@Html.DropDownListFor(m => m.StylistId, Model.StylistsList, "Select Stylist...", new { @id = "stylist-name", @class = "form-control" })*@
                            @Html.DropDownList("stylistName", previouslySelectedStylist, new { @id = "stylist-name", @class = "form-control" })

                            @*<select name="stylistList" id="stylist-name" class="form-control" placeholder="Enter stylist name" value=@previouslySelectedStylist></select>*@
                        </div>
                    </div>
                </div>
            </div>

            @*<button class="tst2 btn btn-warning">Warning Message</button>*@

            <!--Row-->
            <!-- Column -->
            <div class="col-lg-3 col-md-3">
                <div class="card" id="in-progress-treatment-card">
                    <div class="card-body pointer">
                        <div class="d-flex flex-row">
                            <div class="round align-self-center round-success">
                                <i class="ti-agenda "></i>
                            </div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0"><span id="in-progress-appointments">0</span></h3>
                                <h5 class="text-muted m-b-0">Started Treatments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="col-lg-3 col-md-3">
                <div class="card" id="pending-treatment-card">
                    <div class="card-body pointer">
                        <div class="d-flex flex-row">
                            <div class="round align-self-center round-success">
                                <i class="ti-close"></i>
                            </div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0"><span id="pending-appointments">0</span></h3>
                                <h5 class="text-muted m-b-0">Pending Treatments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="col-lg-3 col-md-3">
                <div class="card" id="paused-treatment-card">
                    <div class="card-body pointer">
                        <div class="d-flex flex-row">
                            <div class="round align-self-center round-success">
                                <i class="ti-bookmark-alt"></i>
                            </div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0"><span id="paused-appointments">0</span></h3>
                                <h5 class="text-muted m-b-0">Paused Treatments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="col-lg-3 col-md-3">
                <div class="card" id="finished-treamtent-card">
                    <div class="card-body pointer">
                        <div class="d-flex flex-row">
                            <div class="round align-self-center round-danger">
                                <i class="ti-calendar"></i>
                            </div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0" id="finished-appointments">0</h3>
                                <h5 class="text-muted m-b-0">Finished Treatments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row -->
            <!-- Column -->
            <div class="card col-lg-12 col-md-12 col-sm-12">
                <div class="card-body" id="partial-view-div">
                    <form action="/" method="post">
                        @Html.Action("AttendanceDashboardPartial", "Home")
                    </form>
                    <br />
                    <button class="btn btn-success form-control col-md-12" id="start-treatment" style="color:white; ">Start Treatment</button>
                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

<!-- Modal -->
<div class="modal fade" id="check-in-client-modal" role="dialog" aria-labelledby="check-in-client-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Checked In Clients</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("CheckInClientsPartial", "Home", new { title = "Checked In", forDashboard = true })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            <input type="hidden" name="action" value="CheckInClients" id="action" />
            <input type="hidden" name="Title" value="Checked In" id="title" />

        </div>
    </div>
</div>

<script src="~/Scripts/CustomScripts/check-in-clients-methods.js"></script>
<script>
    $(function () {
        setTimeout(function () {
            $("#toggler-icon").click()
        }, 100)


        //
        //Initialization of select2
        var pageSize = 20;
        var optionListUrl = '/Appointment/GetUsers';
        //
        //
        //Method which is to be called for populating options in dropdown //dynamically

        var id = "#stylist-name";
        var url = "/Appointment/GetStylists";
        var dataArray = function (params) {
            params.page = params.page || 1;
            return {
                prefix: params.term,
                pageSize: pageSize,
                pageNumber: params.page
            }
        };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Stylist");

        //
        //setting styilst dropdown in case we have value for previous stylist in local storage
        $('<option>').val(localStorage.previouslySelectedStylistId).text(localStorage.previouslySelectedStylistName).appendTo('#stylist-name');
        $("#stylist-name").val(localStorage.previouslySelectedStylistId).trigger("change");


        //
        //if stylist is selected on the base of previous selection
        if ($("#stylist-name").val() != "") {
            LoadTreatment($("#stylist-name").val());
            showPausedAppointmentsForToday();
            showInProgressAppointmentsForToday();
            showFinishedAppointmentsForToday();
            showPendingAppointmentsForToday();
        }

        //
        //when stylist is selected
        $("body").on("change", "#stylist-name", function () {
            LoadTreatment(this.value);
            showPausedAppointmentsForToday();
            showInProgressAppointmentsForToday();
            showFinishedAppointmentsForToday();
            showPendingAppointmentsForToday();
            StoreStylistIdInSession();
        });

        //
        //check in modal popup
        $("body").off("click", "#check-in-clients");
        $("body").on("click", "#check-in-clients", function () {
            $("#check-in-client-modal").modal("show");
        });

        $("body").on("click", ".check-out-client", function (event) {
            var id = $(this).val();
            console.log(id);
            $.ajax({
                url: '@Url.Action("CheckOutClients", "Home")',
                data: { id: id },
                type: "POST"
            }).done(function (res) {
                $("#partial-view-div").html("");
                $("#parital-view-div").load("@Url.Action("AttendanceDashboardPartial", "Home")");
            });
        });

        $("body").on("click", ".clients-radio-button", function () {
            //var stylistId = $(".stylists-radio-button:radio:checked").val();
            var stylistId = $("#stylist-name").val();
            LoadTreatment(stylistId);
        });

        $("body").on("click", ".name-label", function () {
            SelectControlByName(this);
        });

        $("body").on("change", ".treatments-checkbox", function (event) {
            if ($(this).is(':checked')) {
                var element = $(this);
                if ($(".clients-radio-button").is(":checked")) {
                    var clientId = $(".clients-radio-button:radio:checked").val();
                    var treatmentId = $(this).val();
                    var stylistId = $("#stylist-name").val();

                    CheckTreatment(treatmentId, clientId, stylistId).done(function (res) {
                        if (res == true) {
                            element.parent().siblings('.treatment-info').children().hide();
                            //element.parent().siblings('.start-treatment').children().show();
                            //$("#start-treatment").show();
                        }
                        else {
                            //element.parent().siblings('.start-treatment').children().hide();
                            //$("#start-treatment").hide();
                            LoadToaster(res);
                            element.parent().siblings('.treatment-info').children().show();
                            //element.parent().siblings('.treatment-info').children().attr("title", res);
                            element.parent().siblings('.treatment-info').children().html(res);
                            element.prop("checked", false);
                        }
                    });
                }
                else {
                    //$("#start-treatment").hide();
                    //element.parent().siblings('.start-treatment').children().hide();
                    element.parent().siblings('.treatment-info').children().show();
                    element.parent().siblings('.treatment-info').children().attr("title", "Select a client first.");
                    LoadToaster("Select a client first.");
                    element.prop("checked", false);
                }
            }
            else {
                $(this).parent().siblings('.treatment-info').children().hide();
                if ($(".treatments-checkbox:checkbox:checked").length == 0) {
                    //$("#start-treatment").hide();
                }
            }
        });

        $("body").on("click", "#start-treatment", function (event) {
            var treatmentList = [];
            var validationResult = ValidateAppointmentInputs();


            if (validationResult) {
                $(".treatments-checkbox:checkbox:checked").each(function (i, v) { treatmentList.push(v.value); });
                var clientId = $(".clients-radio-button:radio:checked").val();
                var stylistId = $("#stylist-name").val();
                var startedTreatment = '00000000-0000-0000-0000-000000000000';
                BookAppointment(clientId, stylistId, treatmentList, startedTreatment).done(function (res) {
                    if (res != '00000000-0000-0000-0000-000000000000') {
                        window.location.href = "@Url.Action("Start","Appointment")" + "?appointmentId=" + res;
                    }
                    else {
                        // in case of error
                    }
                });
            }
            else {
                // display error when client not selected
            }

        });


        //
        //for loading in progress treatments card
        $("body").on("click", "#in-progress-treatment-card", function () {
            if ($("#stylist-name").val() != null && $("#stylist-name").val() != "") {
                var appointmentStatus = "@Enums.AppointmentTreatmentStatus.Started";
                var calledFor = "In Progress Appointments";
                RedirectFromCardToAppointment(appointmentStatus, calledFor);
            }
        });

        //
        //for loading pending treatments card
        $("body").on("click", "#pending-treatment-card", function () {
            if ($("#stylist-name").val() != null && $("#stylist-name").val() != "") {
                var appointmentStatus = "@Enums.AppointmentTreatmentStatus.Pending";
                var calledFor = "Pending Appointments";
                RedirectFromCardToAppointment(appointmentStatus, calledFor);
            }
        });

        //
        //for loading paused treatments card
        $("body").on("click", "#paused-treatment-card", function () {
            if ($("#stylist-name").val() != null && $("#stylist-name").val() != "") {
                var appointmentStatus = "@Enums.AppointmentTreatmentStatus.Paused";
                var calledFor = "Paused Appointments";
                RedirectFromCardToAppointment(appointmentStatus, calledFor);
            }
        });

        //
        //for loading finished treatments card
        $("body").on("click", "#finished-treatment-card", function () {
            if ($("#stylist-name").val() != null && $("#stylist-name").val() != "") {
                var appointmentStatus = "@Enums.AppointmentTreatmentStatus.Ended";
                var calledFor = "Finished Appointments";
                RedirectFromCardToAppointment(appointmentStatus, calledFor);
            }
        });

        //
        //when value is entered in stylist search
        $("body").on("keyup", "#stylist-search", function (event) {
            SearchStylists(event.target.value);
        });

        //
        //when stylist search button is clicked
        $("body").on("click", "#stylist-search-button", function (event) {
            SearchStylists(event.target.value);
        });

        //
        //when value is entered in client search
        $("body").on("keyup", "#client-search", function (event) {
            SearchClient(event.target.value);
        });

        //
        //when treatment search button is clicked
        $("body").on("click", "#client-search-button", function (event) {
            SearchClient(event.target.value);
        });

        //
        //when value is entered in treatment search
        $("body").on("keyup", "#treatment-search", function (event) {
            SearchTreatment($("#stylist-name").val(), event.target.value);
        });

        //
        //when treatment search button is clicked
        $("body").on("click", "#treatment-search-button", function (event) {
            SearchTreatment($("#stylist-name").val(), event.target.value);
        });

        //
        //when toaster is clicked
        $("body").on("click", ".warning-badges", function () {
            LoadToaster(this.title);
        });

        //
        //To set elements when screen resolution changes
        $(window).resize(function () {
            if($(window).width() < 992){
                //$('#client-partial-table-header').removeClass('row');
                //$('#client-partial-table-header').removeClass('row');
            }
        });

        //To trigger actions on page change/unload
        //$(window).bind('beforeunload', StoreStylistIdInSession());
    });

    //
    //Functions

    //
    //For validating the appointments before start
    function ValidateAppointmentInputs() {
        var error = "";
        var result = true;
        if (!$(".clients-radio-button").is(":checked")) {
            error = "Select client before starting.";
            result = false;
            LoadToaster(error);
        }
        if ($("#stylist-name").val() == null || $("#stylist-name").val() == "") {
            error = "Select stylist before starting.";
            result = false;
            LoadToaster(error);
        }
        if ($(".treatments-checkbox:checkbox:checked").length == 0) {
            error = "Select any treatment before starting.";
            result = false;
            LoadToaster(error);
        }


        return result;

    }

    //
    //For redirecting from card to appointment view
    function RedirectFromCardToAppointment(appointmentStatus, calledFor) {
            var date = "@DateTime.Now.Date";
            var stylistId = $("#stylist-name").val();
            var url = "/Appointment/Index?AppointmentTreatmentStatus=" + appointmentStatus + "&BookingDate=" + date + "&CalledFor=" + calledFor + "&NotIndex=" + true + "&StylistId=" + stylistId;
            window.location = url;
    }

    //
    //For loading pending treatments
    function showPendingAppointmentsForToday() {
        data = {
        StylistId: $("#stylist-name").val(),
        AppointmentTreatmentStatus: 4,
        Status: 1,
        CalledFor: "Pending Appointments",
        NotIndex: true
    }
    $.ajax({
        url: '@Url.Action("GetAppointmentCount", "Appointment")',
        data: { search: data },
        type: "POST",
        success: function (d) {
            $("#pending-appointments").html(d);
        }
    });
    }

    //
    //For loading finished treatments
    function showFinishedAppointmentsForToday() {
        data = {
            StylistId: $("#stylist-name").val(),
            AppointmentTreatmentStatus: 2,
            CalledFor: "Finished Appointments",
            NotIndex: true
        }
        $.ajax({
            url: '@Url.Action("GetAppointmentCount", "Appointment")',
            data: { search: data },
            type: "POST",
            success: function (d) {
                $("#finished-appointments").html(d);
            }
        });
    }

    //
    //For loading paused treatments
    function showPausedAppointmentsForToday() {
        data = {
            StylistId: $("#stylist-name").val(),
            AppointmentTreatmentStatus: 3,
            CalledFor: "Paused Appointments",
            NotIndex: true
        }
        $.ajax({
            url: '@Url.Action("GetAppointmentCount", "Appointment")',
            data: { search: data },
            type: "POST",
            success: function (d) {
                $("#paused-appointments").html(d);
            }
        });
    }

    //
    //For loading treatments in progress
    function showInProgressAppointmentsForToday() {
        data = {
            StylistId: $("#stylist-name").val(),
            AppointmentTreatmentStatus: 1,
            CalledFor: "In Progress Appointments",
            NotIndex: true
        }
        $.ajax({
            url: '@Url.Action("GetAppointmentCount", "Appointment")',
            data: { search: data },
            type: "POST",
            success: function (d) {
                $("#in-progress-appointments").html(d);
            }
        });
    }

    //
    //for selecting checkbox or radio button with name
    function SelectControlByName(nameLabel) {
        nameLabel.previousElementSibling.firstElementChild.click();
    }

      //
    // for stylist search
    function SearchStylists(stylistName) {
       var data = {
            Name: stylistName
        };
            $.ajax({
                url: "@Url.Action("SearchStylist", "Home")",
                data: { model: data },
                type: "POST",
                success: function (res) {
                    var content = "";
                    $.each(res, function (i, val) {
                        content += '<tr><td><input type="radio" name="stylist-radio" class="stylists-radio-button" value="' + val.Id + '" /></td><td>' + val.Name + '</td><td></td><td></td></tr>';
                    })
                    $("#stylist-table-body").html(content);
                }
            });
    }

    //
    //for client search
    function SearchClient(clientName) {
       var data = {
            Name: clientName
        };
            $.ajax({
                url: "@Url.Action("SearchClient", "Home")",
                data: { model: data },
                type: "POST",
                success: function (res) {
                    var content = "";

                    $.each(res, function (i, val) {
                        content += '<tr><td><input type="radio" name="client-radio" class="clients-radio-button" value="' + val.Id + '" /></td><td>' + val.FormattedName + '</td><td></td><td></td></tr>';
                    })
                    $("#client-table-body").html(content);
                }
            });
    }

    //
    //for treatment search
    function SearchTreatment(stylistId, treatmentName) {
        var data = {
            StylistId: stylistId,
            Name: treatmentName
        };
            $.ajax({
                url: "@Url.Action("GetTreatmentList", "Home")",
                data: { model: data },
                type: "POST",
                success: function (res) {
                    var content = "";
                    $.each(res, function (i, val) {
                        content += '<tr><td><input type="checkbox" name="treatment-checkbox" class="treatments-checkbox" value="' + val.Id + '" /></td><td>' + val.Name + '</td><td class="start - treatment" attr-id ="' + val.Id + '" style="cursor: pointer; "><i class="ti ti - control - play"  attr-id ="' + val.Id + '" style="display: none; " data-toggle="tooltip" data-placement="top" title="Start this appointment"></i></td><td class="treatment - info" attr-id ="' + val.Id + '" style="cursor: help; "><i class="ti ti - info"  attr-id ="' + val.Id + '" style="display: none; " data-toggle="tooltip" data-placement="top" title="This treatment is already in progress"></i></td></tr>';
                    });
                    $("#treatment-table-body").html(content);
                }
            });
    }

    function BookAppointment(clientId, stylistId, treatmentList, startedTreatment) {
        var data = {
            ClientId: clientId,
            StylistId: stylistId,
            TreatmentList: treatmentList,
            StartedTreatment: startedTreatment
        };
        var ajaxResult = $.ajax({
            url: '@Url.Action("BookAppointment", "Home")',
            data: { model: data },
            type: "POST"
        }).done(function (res) {
                return res;

            });
        return ajaxResult;
    }



    function CheckTreatment(treatmentId, clientId, stylistId) {
        var data = {
            ClientId: clientId,
            TreatmentId: treatmentId,
            StylistId: stylistId
        }
        var ajaxResult = $.ajax({
            url: '@Url.Action("CheckTreatments", "Home")',
            data: { model: data },
            type: "POST",
            //async: false,
            success: function (res) {
                return res;
            }
        });
        return ajaxResult;
    }

        function LoadTreatment(stylistId) {
        var data = {
            StylistId: stylistId,
                }
            $.ajax({
                url: "@Url.Action("GetTreatmentList", "Home")",
                data: { model: data },
                type: "POST",
                success: function (res) {
                    $("#treatment-list").load("@Url.Action("AttendanceDashboardTreatmentsPartial", "Home")", { model: res });
                }
            });
    }

    //
    //to load toaster
    function LoadToaster(message) {


            $.toast({
                heading: 'Warning Message.',
                text: message,
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'warning',
                hideAfter: 3500,
                stack: 6
            });
    }

    //
    //To store stylist id in session
    function StoreStylistIdInSession() {
        @*$.ajax({
            url: '@Url.Action("SetSessionVariable", "Home")',
            data: { key: "PreviouslySelectedStylistId", value: $("#stylist-name").val() },
            success: function (res) {
                if (typeof (Storage) !== "undefined") {
                    localStorage.setItem("previouslySelectedStylist", res);
                    console.log(localStorage.getItem["previouslySelectedStylist"]);
                }
            }
        });*@
        if (typeof (Storage) !== "undefined") {
            localStorage.setItem("previouslySelectedStylistId", $("#stylist-name").val());
            localStorage.setItem("previouslySelectedStylistName", $("#stylist-name option:selected").text());
            //console.log(localStorage.getItem["previouslySelectedStylist"]);
        }

    }
</script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Select2")
    <script src="~/Scripts/custom.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <script src="~/Scripts/jquery.toast.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    @*<script src="~/Scripts/bootstrap-extension.min.js"></script>*@
    <script src="~/Scripts/metisMenu.js"></script>
    <script src="~/Scripts/tether.min.js"></script>
    @*<script src="~/Scripts/sweetalert.min.js"></script>*@
    @*<script src="~/Scripts/jquery.sweet-alert.custom.js"></script>*@
}
@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
    <link href="~/Content/CustomCss/test.css" rel="stylesheet" />
    <link href="~/Content/jquery.toast.css" rel="stylesheet" />
    @*<link href="~/Content/sweetalert.css" rel="stylesheet" />*@
}