﻿@if (Model.title == "Available")
{
    <div class="appointment-detail-parent" style="background:transparent;">
        <div style="background:transparent;" class="appointment-detail-type"></div>
        <div style="background:transparent;" class="appointment-detail-content"></div>
    </div>
}
else if (Model.title == "UnScheduled")
{
    <div class="appointment-detail-parent">
        <div class="appointment-detail-type" style="background:@Model.bordercolor;"></div>
        <div style="background:lightgray;" class="appointment-detail-content">
        </div>
    </div>
}
else if (Model.title == "Leave")
{
    <div class="appointment-detail-parent">
        <div class="appointment-detail-type" style="background:@Model.bordercolor;"></div>
        <div class="col-md-12 appointment-detail-content">
            <div class="col-md-12 time">
                @Model.startTime-@Model.endTime
            </div>
            <div class="col-md-12 description">
                @Model.description
            </div>
        </div>
    </div>

}
else
{
    <div class="appointment-detail-parent">
        <div class="appointment-detail-type" style="background:@Model.bordercolor;"></div>
        <div class="col-md-12 appointment-detail-content">
            <div class="col-md-12 time">
                @Model.startTime-@Model.endTime
            </div>
            <div class="col-md-12 client">
                @Model.client
            </div>
            <div class="col-md-12 treatment">
                @Model.treatment
            </div>
        </div>
    </div>
}


