﻿@model IEnumerable<Models.ViewModels.LeaveViewModel>
@{
    var recordIndex = 1;
    var dashboardView = ViewBag.dashboardView;
}

<!-- /row -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
                <h5 class="card-title m-b-0"><button class="back-to-filters btn btn-info waves-effect waves-light m-r-10" onclick="backToFilters()">Search filters</button></h5>
                <hr>

            @if (Model.Count() > 0)
            {

                <div class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Stylist</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@recordIndex</td>
                                    <td>@item.Stylist.Name</td>
                                    <td>@item.StartingDate</td>
                                    <td>@item.EndingDate</td>
                                    <td><a href="@Url.Action("Edit","Leave", new { id = item.ReferenceId})">Edit</a></td>
                                </tr>
                                recordIndex = recordIndex + 1;
                            }


                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div><h3>No data to display.</h3></div>
            }
        </div>
    </div>
</div>
<script>
    function backToFilters() {
        $(".report-div").hide(1000);
        $(".filter-div").show(1000);
    };
</script>