﻿@model Models.ViewModels.LeaveViewModel
@using Enums;
@{
    var action = Model.Action;
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm(action, "Leave", FormMethod.Post, new { @class = "form-horizontal form-material", @enctype = "multipart/form-data", id = "leave-form", autocomplete = "off" }))
                {

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-md-12" for="example-text">
                            <span>Name</span>
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Stylist.Id, Model.StylistList, new { @class = "form-control", id = "stylist-name", placeholder = "Enter stylist name" })
                            @Html.ValidationMessageFor(model => model.Stylist.Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12" for="example-text">
                            <span>Note</span>
                        </label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Note, new { @class = "form-control", id = "note", placeholder = "Enter note" })
                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Recursion</label>
                        <div class="col-sm-12">
                            @Html.EnumDropDownListFor(model => model.Recursion, new { @class = "form-control", id = "recursion" })
                            @Html.ValidationMessageFor(m => m.Recursion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group daily-recursion">
                        <label class="col-sm-12">Starting Date</label>
                        <div class="col-sm-12">
                            @Html.TextBoxFor(model => model.StartingDate, Model.StartingDate.ToString("yyyy-MM-dd"), new { @class = "form-control date-picker" })
                            @Html.ValidationMessageFor(m => m.StartingDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row col-md-12 daily-recursion">
                        <label class="col-sm-2">Starting Time</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.DailyStartTime, Model.DailyStartTime.ToString(@"hh\:mm"), new { @class = "form-control time-picker" })
                            @Html.ValidationMessageFor(m => m.DailyStartTime, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-sm-2">Ending Time</label>
                        <div class="col-sm-4">
                            @*@Html.EditorFor(model => model.DailyEndTime, new { HtmlAttributes = new { @class = "form-control time-picker" }})*@
                            @Html.TextBoxFor(model => model.DailyEndTime, Model.DailyEndTime.ToString(@"hh\:mm"), new { @class = "form-control time-picker" })
                            @Html.ValidationMessageFor(m => m.DailyEndTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group daily-recursion">

                    </div>

                    <div class="form-group weekly-recursion" style="display:none;">
                        <label class="col-sm-12">Week Days</label>
                        <div class="col-sm-12">
                            <div class="btn-group selected-days" data-toggle="buttons">
                                <label class="btn btn-primary selected-days" id="day-2">
                                    <input type="checkbox" class="hide-checkbox">Mon
                                    <span class="fa fa-check"></span>
                                </label>
                                <label class="btn btn-primary selected-days" id="day-3">
                                    <input type="checkbox" class="hide-checkbox"> Tue
                                    <span class="fa fa-check"></span>
                                </label>
                                <label class="btn btn-primary selected-days" id="day-4">
                                    <input type="checkbox" class="hide-checkbox"> Wed
                                    <span class="fa fa-check"></span>
                                </label>
                                <label class="btn btn-primary selected-days" id="day-5">
                                    <input type="checkbox" class="hide-checkbox"> Thur
                                    <span class="fa fa-check"></span>
                                </label>
                                <label class="btn btn-primary selected-days" id="day-6">
                                    <input type="checkbox" class="hide-checkbox"> Fri
                                    <span class="fa fa-check"></span>
                                </label>
                                <label class="btn btn-primary selected-days" id="day-7">
                                    <input type="checkbox" class="hide-checkbox"> Sat
                                    <span class="fa fa-check"></span>
                                </label>
                                <label class="btn btn-primary selected-days" id="day-1">
                                    <input type="checkbox" class="hide-checkbox"> Sun
                                    <span class="fa fa-check"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group continuous">
                        <label class="col-sm-12">Continuous</label>
                        <div class="col-sm-12">
                            @Html.CheckBoxFor(model => model.IsContinuous, new { id = "is-continuous" })
                            @Html.ValidationMessageFor(m => m.IsContinuous, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group continuous-recursion">
                        <label class="col-sm-12">Ending Date</label>
                        <div class="col-sm-12">
                            @Html.TextBoxFor(model => model.EndingDate, Model.EndingDate.ToString("yyyy-MM-dd"), new { @class = "form-control date-picker"})
                            @Html.ValidationMessageFor(m => m.EndingDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.DaysArray, new { id = "days-selected" })
                    @Html.HiddenFor(m => m.ReferenceId)
                    @Html.HiddenFor(m => m.Status)
                    @Html.HiddenFor(m => m.Action, new { id = "action" })
                    @Html.HiddenFor(m => m.CreatedBy)
                    @Html.HiddenFor(m => m.CreatedOn)

                    <button type="button" class="btn btn-info waves-effect waves-light m-r-10" id="submit-leave">Submit</button>
                    if (Model.IsDashboard == false)
                    {
                        <button type="button" class="btn btn-inverse waves-effect waves-light" onclick='window.location.href = "@Url.Action("Index","Leave")"'>Cancel</button>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/CustomScripts/leave-methods.js"></script>

<style>
    .hide-checkbox {
        display: none;
    }

    .btn span.fa-check {
        opacity: 0;
    }

    .btn.active span.fa-check {
        opacity: 1;
    }
</style>
