﻿@model Models.ViewModels.LeaveViewModel
@using Models.ViewModels;
@using Enums;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = Model.Action;
    //var type = Model.Action == "Create" ? "---Select---" : (Enum.Parse(typeof(LeaveType), Model.Type.ToString())).ToString();
    TempData["model"] = Model;
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">@action Leave</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Leave")">Leaves</a></li>
                        <li class="breadcrumb-item active">@action Leave</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        @Html.Action("CreatePartial", "Leave", new { model = (LeaveViewModel)TempData["model"] })
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", "#submit-leave", function (event) {
            SubmitLeaveForm().done(function (result) {
                if (result) {
                    window.location.href = "@Url.Action("Index", "Leave")";
                }
            });
        });
    });

</script>


@section Scripts{
        @Scripts.Render("~/bundles/JqueryDateTimePicker")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/Select2")
        @Scripts.Render("~/bundles/Moment")
        @Scripts.Render("~/bundles/foolProof")
    }


@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
    @Styles.Render("~/Content/JqueryDateTimePicker")
}