﻿<style>
    .appointment-detail-parent {
        display: flex;
        background: white;
        height: 100%;
    }

    .appointment-detail-type {
        width: 5px;
        background: green;
        /* Just so it's visible */
    }

    .appointment-detail-content {
        flex: 1;
        padding: 1px;
        color: black;
        background: white;
    }
</style>

<div class="appointment-detail-parent">
    <div class="appointment-detail-type"></div>
    <div class="appointment-detail-content">Wide (rest of width)</div>
</div>
