﻿@model Models.ViewModels.FullCalendarSchedular
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
@*<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Appointments</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>*@
@*<li class="breadcrumb-item active"><a href="@Url.Action("Index", "Leave")">Leaves</a></li>*@
@*<li class="breadcrumb-item active">Appointments</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row content-container">
                <div class="col-md-12" style="margin-top: 20px;display: flex;">
                    <div class="col-md-3 form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="datepicker" id="calendar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div id='full-calendar'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>*@
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>


@*@section Scripts{
        @Scripts.Render("~/bundles/FullCalendarScheduler")
        @Scripts.Render("~/bundles/Select2")
        @Scripts.Render("~/bundles/QTip")
        @Scripts.Render("~/bundles/JqueryDateTimePicker")
    }

    @section Styles{
        @Styles.Render("~/Content/Select2DropDown")
        @Styles.Render("~/Content/FLC")
        @Styles.Render("~/Content/QTip")
        @Styles.Render("~/Content/bs")
        @Styles.Render("~/Content/JqueryDateTimePicker")
    }

    <script>

            $(function () { // document ready

                InitializeSelect2();

                 $("#calendar").datetimepicker({
                    timepicker: false,
                    format: 'Y-m-d',
                    todayHighlight: true,
                    inline:true
                });
                    $("body").on("change dp.change", "#calendar", function(event){
                     var date = $("#calendar").val();
                      $("#full-calendar").fullCalendar("gotoDate", date );
                     console.log(date);
                });
                var res = @Html.Raw(Json.Encode(Model.resources));
                var date = new Date();
                $('#full-calendar').fullCalendar({
                    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                    defaultView: 'agendaDay',
                    defaultDate: date,
                    editable: true,
                    selectable: true,
                    slotDuration: '00:15:00',
                    minTime: "08:00:00",
                    maxTime: "18:00:00",
                    eventLimit: true, // allow "more" link when too many events
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaDay'
                    },
                    views: {
                        agendaTwoDay: {
                            type: 'agenda',
                            duration: { days: 1 },

                            // views that are more than a day will NOT do this behavior by default
                            // so, we need to explicitly enable it
                            groupByResource: true

                            //// uncomment this line to group by day FIRST with resources underneath
                            //groupByDateAndResource: true
                        }
                    },

                    // uncomment this line to hide the all-day slot
                    allDaySlot: false,

                    resources: res,
                    viewRender: function (element) {
                        var moment = $('#full-calendar').fullCalendar('getDate');
                        var date = moment.format('YYYY-MM-DD');
                        $('td').removeClass('xdsoft_current');
                        $('td[data-date="' + Number(date.split('-')[2]).toString() + '"][data-month="' + (Number(date.split('-')[1]) - 1).toString() + '"][data-year="' + Number(date.split('-')[0]).toString() + '"]').addClass('xdsoft_current');
                        UpdateCalendar(date);
                    },
                    eventRender: function (e, element,view) {
                        element.find(".fc-event-title").remove();
                        element.find(".fc-event-time").remove();
                        var new_description = '<strong>Address: </strong><br/>' + e.resourceId + '<br/>';
                        $.ajax({
                            url: "@Url.Action("AppointmentDetails", "Leave")",
                            data: JSON.parse(e.serealizedObject),

                                })
                                    .then(function (content) {
                                        // Set the tooltip content upon successful retrieval
                                        element.html(content);
                                    }, function (xhr, status, error) {
                                        // Upon failure... set the tooltip content to error
                                        element.append('content.text', status + ': ' + error);
                                    });
                    element.qtip({
                        content: {
                            text: function (event, api) {
                                 $.ajax({
                                     url: "@Url.Action("AppointmentToolTip", "Leave")",
                                     data: JSON.parse(e.serealizedObject),

                                })
                                    .then(function (content) {
                                        // Set the tooltip content upon successful retrieval
                                        api.set('content.text', content);
                                    }, function (xhr, status, error) {
                                        // Upon failure... set the tooltip content to error
                                        api.set('content.text', status + ': ' + error);
                                    });

                                return 'Loading...'; // Set some initial text
                            }
                        },
                        show: {
                                solo: true // Only show one tooltip at a time
                             },
                        style: "different-tip-color",
                        position: {
                            my: "bottom center",
                            at: "top center",
                        }
                    });
                  },
                    select: function (start, end, jsEvent, view, resource) {
                        document.getElementById('delete-modal').modal("toggle");

                        console.log(
                            'select',
                            start.format(),
                            end.format(),
                            resource ? resource.id : '(no resource)'
                        );
                    },
                    dayClick: function (date, jsEvent, view, resource) {
                        console.log(
                            'dayClick',
                            date.format(),
                            resource ? resource.id : '(no resource)'
                        );
                    }
                });

        });


        function InitializeSelect2(){
             var pageSize = 20;
            var optionListUrl = '@Url.Action("GetUsers", "Appointment")';
            //
            //
            //Method which is to be called for populating options in dropdown //dynamically

                var id = "#stylist-name";
                var url = "@Url.Action("GetStylists", "Appointment")";
                var dataArray = function (params) {
                    params.page = params.page || 1;
                    return {
                        prefix: params.term,
                        pageSize: pageSize,
                        pageNumber: params.page,
                    }
                };
         Select2AutoCompleteAjax(id, url, dataArray, pageSize)

        }
        function UpdateCalendar(Date)
        {
         $.ajax({
            url: "@Url.Action("FetchCalendarData", "Leave")",
            data:{'date':Date},
                })
                    .then(function (events) {
                       $("#full-calendar").fullCalendar('removeEvents');
                       $("#full-calendar").fullCalendar('addEventSource', events);
                    }, function (xhr, status, error) {
                       var eve=[];
                        $('#full-calendar').fullCalendar('updateEvent', eve);
                    });
        };
    </script>*@
@*<style>


        body {
            margin: 0;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        .content-container {
            background-color: white;
        }

        .fc-toolbar {
            padding: 0px;
        }

        .fc-event-container {
            height: 100%;
        }

        .different-tip-color {
            background-color: dimgray;
            border-color: dimgray;
            color: white;
        }

        .qtip-content {
            padding: 0px;
            min-width: 200px;
        }

        .xdsoft_datepicker {
            width: 220px !important;
            height: 220px !important;
            font-size: x-small;
            padding: 0px !important;
        }

        /*tooltip styling*/
        .tooltip-container {
            background: white;
        }

        .tooltip-content-section {
            padding: 0px 3px;
        }

        .tooltip-section {
            text-align: left;
            padding: 2px;
            float: none;
            margin: 0 auto;
        }

        .tooltip-title {
            color: white;
            font-size: 14px;
            text-align: center;
            font-weight: bold;
            padding: 5px;
        }

        .tooltip-label {
            text-align: left;
            font-size: 11px;
            font-weight: bold;
            color: black;
            display: inline;
            margin-right: 5px;
        }

        .tooltip-content {
            text-align: left;
            font-size: 11px;
            color: black;
            display: inline;
        }

        /*Event Styling*/
        .appointment-detail-parent {
            display: flex;
            background: white;
            height: 100%;
        }

        .appointment-detail-type {
            width: 5px;
            /* Just so it's visible */
        }

        .appointment-detail-content {
            flex: 1;
            padding: 1px;
            color: black;
            background: white;
        }

        .time {
            text-align: left;
            font-size: 8px;
        }

        .client {
            text-align: left;
            font-size: 10px;
            font-weight: bold
        }

        .treatment {
            text-align: left;
            font-size: 10px;
        }

        .description {
            text-align: left;
            font-size: 10px;
        }
    </style>*@
