﻿
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}
<h2>Import Employees</h2>
<script>

    $(document).ready(function () {
        $('#btnUploadFile').on('click', function () {

            $("#loader").show();
            var data = new FormData();
            var files = $("#fileUpload").get(0).files;
            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }
            // Make Ajax request with the contentType = false, and procesDate = false
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/ExcelImport/ImportClients",
                contentType: false,
                processData: false,
                data: data,

                success: function (e) {
                    if (e) {
                        window.location.href ="@Url.Action("Index", "Home", null)";
                    }
                    else {
                        window.location.href ="@Url.Action("Account","Error",null)";
                    }
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {

                // Do other operation
            });
        });
    });
</script>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Import Clients</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item">ExcelImport</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="col-md-12 row">

            <div class="col-md-6">
                <div class="col-md-12 form-group">
                    <div class="col-md-8">
                        <input type="file" class="form-control" name="FileUpload1" id="fileUpload" /><br />
                    </div>

                </div>

                <div class="col-md-12" style="display: none;" id="loader">
                    <img src="~/Images/report-loader.gif" alt="Alternate Text" width="100"/>
                </div>

                <div class="col-md-12 form-group">
                    <div class="col-md-4">
                        <input id="btnUploadFile" class="btn btn-block float-left" type="button" value="Upload File" />
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>