﻿@using Microsoft.AspNet.Identity
@using Helpers;
@{
    var user = new Helpers.LoggedInUserInfo().GetLoggedInUser();
}

<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <!-- Logo icon -->
                <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="~/images/logo-icon1.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="~/images/logo/logo.png" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <span class="hidden-xs">
                    @*<span class="font-bold">Barber</span>Shop*@
                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item">
                    @*<a class="nav-link nav-toggler d-block d-sm-none waves-effect waves-dark" href="javascript:void(0)">
                            <i class="ti-menu"></i>
                        </a>*@
                </li>
                <li class="nav-item">
                    @*<a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" id="toggler-icon" href="javascript:void(0)">
                            <i class="icon-menu"></i>
                        </a>*@
                </li>
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                @*<li class="nav-item">
                        <form class="app-search d-none d-md-block d-lg-block">
                            <input type="text" class="form-control" placeholder="Search & enter">
                        </form>
                    </li>*@
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            @if (Request.IsAuthenticated)
            {
                <ul class="navbar-nav my-lg-0">
                    <!-- ============================================================== -->
                    <!-- Comment -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- User Profile -->
                    <!-- ============================================================== -->

                    <li class="nav-item dropdown u-pro">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <img src="@user.ImageUrl" alt="user" class="">
                            <span class="hidden-md-down">
                                @user.Name &nbsp;
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated flipInY">
                            @*<!-- text-->
                                <a href="javascript:void(0)" class="dropdown-item">
                                    <i class="ti-user"></i> My Profile
                                </a>
                                <!-- text-->
                                <div class="dropdown-divider"></div>
                                <!-- text-->
                                <a href="javascript:void(0)" class="dropdown-item">
                                    <i class="ti-settings"></i> Account Setting
                                </a>
                                <!-- text-->
                                <div class="dropdown-divider"></div>*@
                            <!-- text-->
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i>Log off</a>
                            }
                            @*<a href="login.php" class="dropdown-item">
                                    <i class="fa fa-power-off"></i> Logout
                                </a>*@
                            <!-- text-->
                        </div>
                    </li>
                </ul>

            }
            else
            {
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link  waves-effect waves-dark" href="@Url.Action("Login","Account", new {@returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())})" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                    </li>

                    <!-- ============================================================== -->
                    <!-- End User Profile -->
                    <!-- ============================================================== -->

                </ul>
            }
        </div>
    </nav>
</header>
<script>
    $(function () {
        $(document).on('click', '.cancel-btn', function () {
            history.go(-1);
        });

        ToggleImage();

        $(window).resize(function () {
            ToggleImage();
        });
        $("#toggler-icon").on("click", function () {
            ToggleImage();
        });
    })

    function ToggleImage() {
        if ($(".skin-megna").prop("class").search("mini-sidebar") > 0) {
            $(".light-logo").css("width", "50px");
        }
        else {
            $(".light-logo").css("width", "100%");

        }
    }
</script>

