﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <title>Saloon</title>
    <!-- This page CSS -->
    <!-- Custom CSS -->
    @Styles.Render("~/Content/CustomThemeCss")
    <!-- Popup CSS -->
    @Styles.Render("~/Content/Popup")

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="~/Content/color-theme.css" rel="stylesheet" />

    @RenderSection("Styles", false)
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap tether Core JavaScript -->
    @Scripts.Render("~/bundles/PopperCore")
    <!-- slimscrollbar scrollbar JavaScript -->
    @Scripts.Render("~/bundles/Slimscrollbar")
    <!--Wave Effects -->
    @Scripts.Render("~/bundles/Wave")
    <!-- Popper core -->
    @Scripts.Render("~/bundles/PopperCore")
    <!--Menu sidebar -->
    @Scripts.Render("~/bundles/Sidebarmenu")
    <!--stickey kit -->
    @Scripts.Render("~/bundles/sticky-kit")
    <!--Custom JavaScript -->
    @Scripts.Render("~/bundles/CustomJs")
    <!-- Magnific popup JavaScript -->
    @Scripts.Render("~/bundles/magnific-popup")
    <!--Script section-->
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ajaxSend(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
            if ($(event.currentTarget).is(":button") || $(event.currentTarget).is("td") || $(event.currentTarget).is("i")) {
                $(event.target.activeElement).attr("disabled", true);
            }

        });
        $(document).ajaxComplete(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
            if ($(event.currentTarget).is(":button") || $(event.currentTarget).is("td") || $(event.currentTarget).is("i")) {
                $(event.target.activeElement).attr("disabled", false);
            }
        });
    </script>

</head>

<body class="skin-megna fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Loading</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        @Html.Partial("~/Views/Shared/CustomTheme/_AppointmentDashboardHeader.cshtml")
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        @RenderBody()
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer" style="margin:0px;">
            © 2018 Saloon by Centangle Interactive.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.cancel-btn', function () {
                history.go(-1);
            });
        });
    </script>
</body>

</html>