﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <title>Allin1Beauty Salon</title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <!-- Dashboard 1 Page CSS -->
    <!--Toaster Popup message CSS -->
    @Styles.Render("~/Content/CustomThemeMainCss")
    <!-- Custom CSS -->
    @Styles.Render("~/Content/CustomThemeCss")
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    @RenderSection("Styles", false)
    <link href="~/Content/color-theme.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap popper Core JavaScript -->
    @Scripts.Render("~/bundles/PopperCore")
    <!-- slimscrollbar scrollbar JavaScript -->
    @Scripts.Render("~/bundles/Slimscrollbar")
    <!--Wave Effects -->
    @Scripts.Render("~/bundles/Wave")
    <!--Menu sidebar -->
    @Scripts.Render("~/bundles/Sidebarmenu")
    <!--Custom JavaScript -->
    @Scripts.Render("~/bundles/CustomJs")
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    @Scripts.Render("~/bundles/Morris")
    <!-- Popup message jquery -->
    <!-- jQuery peity -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script>
        $(document).ajaxSend(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
            if ($(event.currentTarget).is(":button") || $(event.currentTarget).is("td") || $(event.currentTarget).is("i")) {
                $(event.target.activeElement).attr("disabled", true);
            }

        });
        $(document).ajaxComplete(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
            if ($(event.currentTarget).is(":button") || $(event.currentTarget).is("td") || $(event.currentTarget).is("i")) {
                $(event.target.activeElement).attr("disabled", false);
            }
        });
    </script>
</head>

<body class="skin-megna fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Loading</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        @Html.Partial("~/Views/Shared/CustomTheme/_Header.cshtml")
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        @Html.Partial("~/Views/Shared/CustomTheme/_Side-bar.cshtml")
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        @RenderBody()
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2019 All IN 1 BEAUTY. All Rights Reserved. Created by Centangle Interactive.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.cancel-btn', function () {
                history.go(-1);
            });
        });
    </script>

</body>

</html>