﻿@using Microsoft.AspNet.Identity
@using Models.ViewModels
@using Helpers;
@{
    var user = new Helpers.LoggedInUserInfo().GetLoggedInUser();
}

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                @if (User.Identity.IsAuthenticated)
                {

                    <li class="user-pro">
                        @if (user != null)
                        {
                            <a href="javascript:void(0)">
                                <img src="@Url.Content(user.ImageUrl)" alt="user-img" class="img-circle ">
                                <span class="hide-menu">@user.Name</span>
                            </a>
                        }
                        @*<ul aria-expanded="false" class="collapse">

                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    <li>
                                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i>Log off</a>
                                    </li>
                                }

                            </ul>*@
                    </li>


                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a class="waves-effect waves-dark" href="@Url.Action("Index", "Home")">
                            <i class="icon-speedometer"></i>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="waves-effect waves-dark" href="@Url.Action("StylistDashboard", "Home")">
                            <i class="icon-speedometer"></i>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("SuperAdministrator"))
                    {
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fa fa-user-md"></i>
                                <span class="hide-menu">Administrators</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="@Url.Action("Index", "Account", new { role = "Administrator" })">All Administrators</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Register", "Account", new { role = "Administrator" })">Add Administrator</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("EditApp", "Account")">Edit Branch</a>
                                </li>
                            </ul>
                        </li>

                    }
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="fa fa-user-md"></i>
                            <span class="hide-menu">Stylists</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Account", new { role = "Stylist" })">All Stylists</a>
                            </li>
                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                            {

                                <li>
                                    <a href="@Url.Action("Register", "Account", new { role = "Stylist" })">Add Stylist</a>
                                </li>

                            }
                            @if (!(User.IsInRole("Client")))
                            {
                                <li>
                                    <a href="@Url.Action("StylistDashboard", "Home")">Dashboard</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Leave")">Leaves</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon-people"></i>
                            <span class="hide-menu">Clients</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Account", new { role = "Client" })">All Clients</a>
                            </li>
                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                            {

                                <li>
                                    <a href="@Url.Action("Register", "Account", new { role = "Client" })">Add Client</a>
                                </li>
                                @*<li>
                                        <a href="@Url.Action("AddReferenceNumber", "Account")">Transfer</a>
                                    </li>*@
                                <li>
                                    <a href="@Url.Action("CheckInClients", "Home")">Check In/Out</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ScanClients", "Home")">Scan QR Code</a>
                                </li>
                                @*<li>
                                        <a href="@Url.Action("CheckOutClients", "Home")">Check Out</a>
                                    </li>*@
                            }
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="ti-calendar"></i>
                            <span class="hide-menu">Treatment</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Treatment")">All Treatments</a>
                            </li>
                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator") || User.IsInRole("Stylist"))
                            {

                                <li>
                                    <a href="@Url.Action("Create", "Treatment")">Add Treatment</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="ti-calendar"></i>
                            <span class="hide-menu">Treatment Categories</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "TreatmentCategory")">All Categories</a>
                            </li>
                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator") || User.IsInRole("Stylist"))
                            {

                                <li>
                                    <a href="@Url.Action("Create", "TreatmentCategory")">Add Category</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="ti-calendar"></i>
                            <span class="hide-menu">Product</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Product")">All Products</a>
                            </li>
                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator") || User.IsInRole("Stylist"))
                            {

                                <li>
                                    <a href="@Url.Action("Create", "Product")">Add Product</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="ti-calendar"></i>
                            <span class="hide-menu">Product Categories</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "ProductCategory")">All Categories</a>
                            </li>
                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator") || User.IsInRole("Stylist"))
                            {

                                <li>
                                    <a href="@Url.Action("Create", "ProductCategory")">Add Category</a>
                                </li>
                            }
                        </ul>
                    </li>
                    if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                    {

                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="ti-calendar"></i>
                                <span class="hide-menu">Discount</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="@Url.Action("Index", "Discount")">All Discounts</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Create", "Discount")">Add Discount</a>
                                </li>
                            </ul>
                        </li>
                    }
                    if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                    {

                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="ti-calendar"></i>
                                <span class="hide-menu">Point</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="@Url.Action("Edit", "Point")">Edit Point</a>
                                </li>
                            </ul>
                        </li>
                    }

                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="ti-calendar"></i>
                            <span class="hide-menu">Invoices</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">

                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                            {
                                <li>
                                    <a href="@Url.Action("UnpaidAppointments", "Appointment")">Unpaid Invoices</a>
                                </li>
                            }
                        </ul>
                    </li>

                    @*<li>
                                                <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                                    <i class="ti-calendar"></i>
                                                    <span class="hide-menu">Appointment</span>
                                                </a>
                                                <ul aria-expanded="false" class="collapse">
                                                    @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator") || User.IsInRole("Stylist"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("AppointmentDashboard", "Appointment")">Dashboard</a>
                                                </li>
                                            }

                                                        @if(User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                                                        {
                                                            < li >
                                                                    < a href = "@Url.Action("Index", "Appointment", new { Status = Enums.AppointmentStatus.Processing, AppointmentTreatmentStatus = Enums.AppointmentTreatmentStatus.Paused, CalledFor = "Unapproved Appointments", NotIndex = true })" > Unapproved Appointment </ a >

                                                                     </ li >
                            <li>
                                <a href="@Url.Action("UnpaidAppointments", "Appointment")">Unpaid Appointment</a>
                            </li>
                        }
                                    </ul>
                                    </li>*@

                    if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                    {

                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="ti-envelope"></i>
                                <span class="hide-menu">Reports</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="@Url.Action("GetTreatmentReport", "Report")">Treatment</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetInvoiceReport", "Report")">Invoice</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetClientPointReport", "Report")">Client Point</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetStylistCommissionReport", "Report")">Stylists Commission</a>
                                </li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>