﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <title>Allin1Beauty Salon</title>
    <!-- This page CSS -->
    <!-- Custom CSS -->
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.css" rel="stylesheet" />
    @Styles.Render("~/Content/CustomThemeCss")
    <!-- Popup CSS -->
    @Styles.Render("~/Content/Popup")
    <!-- Bootstrap CSS -->

    @RenderSection("Styles", false)
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="~/Content/color-theme.css" rel="stylesheet" />
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @Scripts.Render("~/bundles/jquery")
    <!-- tether Core JavaScript -->
    @Scripts.Render("~/bundles/PopperCore")
    <!-- Bootstrap bundle JavaScript -->
    <!-- slimscrollbar scrollbar JavaScript -->
    @Scripts.Render("~/bundles/Slimscrollbar")
    <!--Wave Effects -->
    @Scripts.Render("~/bundles/Wave")
    <!--Menu sidebar -->
    @Scripts.Render("~/bundles/Sidebarmenu")
    <!--stickey kit -->
    @Scripts.Render("~/bundles/sticky-kit")
    <!--Custom JavaScript -->
    @Scripts.Render("~/bundles/CustomJs")
    <!-- Magnific popup JavaScript -->
    @Scripts.Render("~/bundles/magnific-popup")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <!--Script section-->
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ajaxSend(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
            $('.btn').attr("disabled", true);

        });
        $(document).ajaxComplete(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
            $('.btn').attr("disabled", false);
        });
    </script>

</head>
<body class="skin-megna fixed-layout">

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Loading</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        @Html.Partial("~/Views/Shared/CustomTheme/_Header.cshtml")
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        @Html.Partial("~/Views/Shared/CustomTheme/_Side-bar.cshtml")
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        @RenderBody()
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2019 All IN 1 BEAUTY. All Rights Reserved. Created by Centangle Interactive.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.cancel-btn', function () {
                history.go(-1);
            });
        });
    </script>

</body>

</html>