﻿@model IEnumerable<Models.ViewModels.TreatmentViewModel>
@using Models.ViewModels;
@{
    var model = Model == null || Model.Count() == 0 ? new List<TreatmentViewModel>() : Model;
}
<div class="col-md-12 row">

    <div class="col-md-12">
        <div class="row col-lg-6 col-md-12">
            <h4>Stylist Treatments</h4>
        </div>
    </div>

    @foreach (var item in model)
    {
        <div class="p-b-20 px-1">
            <div class="card product-card make-cursor-pointer" attr-id="@item.Id">
                <button name="@item.Name" value="@item.Id" attr-id="@item.Id" class="btn btn-success stylist-treatments treatment-button">
                    @item.Name
                    <input type="checkbox" class="treatment-checkbox" hidden/>
                </button>
            </div>
        </div>
    }
    <div class="p-b-20 px-1">
        <div class="card product-card make-cursor-pointer"prop("checked", !(checkboxElement.prop("checked")))>
            <button type="button" class="btn btn-success treatment-button" id="back-to-categories">
                Back
            </button>
        </div>
    </div>

</div>

