﻿@model Models.ViewModels.AttendanceDashboardViewModel


<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-lg-12 col-md-12 col-sm-12 attendance-column-table-scrollable" style="margin-bottom:10px;background:white;" id="client-list">
                    <div class="table-responsive" id="checked-in-client-table-div">
                        @Html.Action("AttendanceDashboardClientsPartial", "Home", new { model = Model.ClientList })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 treatments-container">
        <div class="card">
            <div class="card-body">
                <div class="col-lg-12 col-md-12 col-sm-12 attendance-column-table-scrollable" id="treatment-list" style="margin-bottom:10px;background:white;">
                   @*@Html.Action("AttendanceDashboardTreatmentsPartial", "Home", new { model = Model.TreatmentList })*@

                </div>
            </div>
        </div>
    </div>
</div>

