﻿@model IEnumerable<Models.ViewModels.TreatmentViewModel>
@using Models.ViewModels;
@{
    var model = Model == null || Model.Count() == 0 ? new List<TreatmentViewModel>() : Model;
}
<style>
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .color-bordered-table.dark-bordered-table thead th, .color-bordered-table.inverse-bordered-table thead th {
        background-color: #343a40;
        color: #fff;
    }
</style>
<div class="table-responsive">

    <div class="col-md-12">
        <div class="row col-lg-6 col-md-12">
            <h4>Stylist Treatments</h4>
        </div>
    </div>

    <table id="treatments-table" class="table table-striped">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Treatment</th>
                <th>Action</th>
                <th>Duration</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody id="treatment-table-body">
            @foreach (var item in model)
            {
                <tr class="clickable treatment">
                    <td><img class="img-circle img-responsive" style="width:66px;height:66px;" src="@item.ImageUrl" /></td>
                    <td class="name-label pointer">@item.Name</td>
                    <td class="pointer">
                        <input type="checkbox" name="treatment-checkbox" class="treatments-checkbox option-input" value="@item.Id" />
                    </td>
                    <td>
                        @item.ApproximateTime min
                    </td>
                    <td class="treatment-info" attr-id="@item.Id" style="cursor: help;">
                        <span class="warning-badges badge badge-warning" attr-id="@item.Id" style="display:none;" data-toggle="tooltip" data-placement="top" title="This treatment is already in progress">Attention</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>