﻿@model IEnumerable<Models.ViewModels.UserAttendanceViewModel>

<div class="table-responsive">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th class="row"><span class="col-md-3">Stylists</span><span class="col-md-9"><input type="text" name="search" id="stylist-search" autocomplete="off" class="col-md-10 form-control" value="" /><button type="button" id="stylist-search-button" class="col-md-2 form-control"><span class="fa fa-search"></span></button></span></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="stylist-table-body">
            @foreach (var item in Model)
            {
            <tr class="">
                <td><input type="radio" name="stylist-radio" class="stylists-radio-button" value="@item.Id" /></td>
                <td>@item.Name</td>
                <td></td>
                <td></td>
            </tr>
            }
        </tbody>
    </table>
</div>
