﻿@model IEnumerable<Models.ViewModels.UserAttendanceViewModel>

<div class="col-md-12" style="margin-bottom: 25px;">
    <h4 style="display:inline-block">Checked In Clients</h4>
    <button type="button" id="check-in-clients" class="btn btn-success btn-lg pull-right">
        <i class="fa fa-user"></i>
        Checked In Client
    </button>
</div>

<table id="customer-table" class="table table-striped">

    <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            @*<th>Select</th>*@
        </tr>
    </thead>
    <tbody id="client-table-body">
        @foreach (var item in Model)
        {
            <tr class="client clickable-client">
                <td><img class="img-circle img-responsive" style="width:66px;height:66px;" src="@item.ImageUrl" /></td>
                <td class="name-label pointer">@item.FormattedName
                    <input type="radio" name="client-radio" class="clients-radio-button option-input radio" style="display:none;" value="@item.Id" />
                </td>
                @*<td class="pointer"></td>*@
            </tr>
        }
    </tbody>
</table>
