﻿
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}

<h2>counter</h2>
<div class="timeTo timeTo-white" id="time-to" style="font-family: Verdana,sans-serif;"></div>

<div id="time-to">

</div>


@section Scripts{
        @Scripts.Render("~/bundles/TimeTo")
    }
@section Styles{
        @Styles.Render("~/Content/TimeTo")
    }


<script>
    $('#time-to').timeTo({
        timeTo: new Date(new Date('Mon Jul 23 2018 09:00:00 GMT+0500 (Pakistan Standard Time)')),
        theme: "white",
        displayCaptions: true,
        fontSize: 48,
        captionSize: 14
    });

</script>
