﻿
@*<h5 class="card-title">Scan</h5>*@

<div class="form-group row" id="check-in-by-scan" style="display:none;">
    <div class="col-md-8">
        <label class="col-md-12" for="example-text">
            <span> Scanned Id</span>
        </label>
        <div class="col-md-12">
            <input type="text" name="Id" id="check-in-client-id" class="form-control" />
        </div>
    </div>

    <div class="col-md-4">
        <img src="#" alt="Qr code image" id="qr-check-in-client-image" class="qr-code-image" />
    </div>
</div>
@*<div class="col-md-12">
        <h5 id="check-in-manually" style="color:#ff6a3a; cursor:pointer;">Select Manually</h5>
</div>*@

<div class="form-group pr-0" id="check-in-by-select">
    <div class="col-md-12 row pr-0">
        <div class="col-md-12">
            <select class="client-list-check-in-select2 form-control" name="client-list"></select>
        </div>

        <div class="row col-md-12 form-group" id="check-in-client-error-div">
        </div>

        <div class="col-md-12" style="padding-top: 5px;">
            <button class="btn btn-lg btn-success" id="check-in-button" style="width:100%">Check In</button>
        </div>
    </div>
</div>


<div class="col-md-12">
    <h5 id="check-in-by-scan" style="display:none; color:#ff6a3a; cursor:pointer;">Select by scanning</h5>
</div>
