﻿
@{
    ViewBag.Title = "ScanClients";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = ViewBag.Action;
    var title = action.Contains("In") ? "Checked In" : action.Contains("Out") ? "Checked Out" : "";
    var forDashboard = ViewBag.ForDashboard != null ? (bool)ViewBag.ForDashboard : false;
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">@title Client</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">@title Client</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        @Html.Action("CheckInClientsPartial", "Home", new { title = "CheckInClients" })

                        <div class="col-md-12" id="checked-in-client-table-div">
                            @Html.Action("GetPresentClientPartial", "Home", new { forDashboard = false, action = "checked in" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        @Html.Partial("~/Views/Home/_CheckOutClientPartial.cshtml", "Home")

                        <div class="col-md-12" id="checked-out-client-table-div">
                            @Html.Action("GetPresentClientPartial", "Home", new { forDashboard = false, action = "checked out" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="Action" value="@action" id="action" />
        <input type="hidden" name="forDashboard" value="@forDashboard.ToString()" id="for-dashboard" />
        <input type="hidden" name="Title" value="@title" id="title" />

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
}

@section Scripts{
    @Scripts.Render("~/bundles/Select2")
    @Scripts.Render("~/bundles/DataTables")
}
<script src="~/Scripts/CustomScripts/check-in-clients-methods.js"></script>
<script>
    $(function () {
        $(".myTable").DataTable();
        //$("#client-id").mask("99999999-9999-9999-9999-999999999999");
    });

</script>