﻿@model IEnumerable<Models.ViewModels.UserAttendanceViewModel>
@{
    var clientIndex = 1;
    var forDashboard = ViewBag.ForDashboard != null ? (bool)ViewBag.ForDashboard : false;
}

@if (forDashboard)
{
    foreach (var item in Model)
    {
        <tr>
            <td class="pointer"><input type="radio" name="client-radio" class="clients-radio-button" value="@item.Id" /></td>
            <td class="name-label pointer">@item.FormattedName</td>
            <td></td>
            <td></td>
        </tr>
    }
}

else
{
    <div class="table-responsive">
        <table class="table table-striped myTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Clients</th>
                    <th>Status</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@clientIndex</td>
                        <td>@item.Name</td>
                        <td>@item.Action</td>
                        <td>@item.AttendanceDate</td>
                    </tr>
                    clientIndex = clientIndex + 1;
                }
            </tbody>
        </table>
    </div>

}

