﻿@{
    Layout = "~/Views/Shared/CustomTheme/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Dashboard</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">

                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Info box -->
        <!-- ============================================================== -->

        <div class="row">
            <div class="col-12">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="card-title">GENERAL</h4>

                        <div class="row">


                            <div class="col-md-3 col-lg-3 col-xlg-3">
                                <a href="@Url.Action("Index","Account", new { role = "Client" })">
                                    <div class="box bg-success text-center">
                                        <h1 class="font-light text-white" id="client-count">0</h1>
                                        <h6 class="text-white">Clients</h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-lg-3 col-xlg-3">
                                <a href="@Url.Action("Index","Appointment", new {AppointmentTreatmentStatus = Enums.AppointmentTreatmentStatus.Ended, BookingDate = DateTime.Now.Date, CalledFor = "Treatments", NotIndex = true })">
                                    <div class="box bg-primary text-center">
                                        <h1 class="font-light text-white" id="stylist-commission">0</h1>
                                        <h6 class="text-white">Commission</h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-lg-3 col-xlg-3">
                                <a href="@Url.Action("Index","Account", new { role = "Stylist" })">
                                    <div class="box bg-info text-center">
                                        <h1 class="font-light text-white" id="stylist-count">0</h1>
                                        <h6 class="text-white">Stylists</h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-lg-3 col-xlg-3">
                                <a href="@Url.Action("Index","Treatment")">
                                    <div class="box bg-dark text-center">
                                        <h1 class="font-light text-white" id="treatment-count">0</h1>
                                        <h6 class="text-white">Treatments</h6>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="card-title">TREATMENTS</h4>

                        <div class="row">

                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <a href="@Url.Action("Index","Appointment", new {AppointmentTreatmentStatus = Enums.AppointmentTreatmentStatus.Started, BookingDate = DateTime.Now.Date, CalledFor = "In Progress Treatments", NotIndex = true })">
                                    <div class="box bg-info text-center">
                                        <h1 class="font-light text-white" id="in-progress-appointments">0</h1>
                                        <h6 class="text-white">In Progress</h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <a href="@Url.Action("Index", "Appointment", new { AppointmentTreatmentStatus = Enums.AppointmentTreatmentStatus.Ended, BookingDate = DateTime.Now.Date, CalledFor = "Finished Treatments", NotIndex = true })">
                                    <div class="box bg-success text-center">
                                        <h1 class="font-light text-white" id="finished-appointments">0</h1>
                                        <h6 class="text-white">Finished</h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <a href="@Url.Action("Index", "Appointment", new { AppointmentTreatmentStatus = Enums.AppointmentTreatmentStatus.Paused, BookingDate = DateTime.Now.Date, CalledFor = "Paused Treatments", NotIndex = true })">
                                    <div class="box bg-warning text-center">
                                        <h1 class="font-light text-white" id="paused-appointments">0</h1>
                                        <h6 class="text-white">Paused</h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <a href="@Url.Action("Index","Appointment", new {Status = Enums.AppointmentStatus.Cancelled, BookingDate = DateTime.Now.Date, CalledFor = "Cancelled Treatments", NotIndex = true })">
                                    <div class="box bg-danger text-center">
                                        <h1 class="font-light text-white" id="cancelled-appointments">0</h1>
                                        <h6 class="text-white">Cancelled</h6>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-2 col-lg-2 col-xlg-2">
                                <a href="@Url.Action("Index","Appointment", new {Status = Enums.AppointmentStatus.Approved, AppointmentTreatmentStatus = Enums.AppointmentTreatmentStatus.Pending, BookingDate = DateTime.Now.Date, CalledFor = "Pending Treatments", NotIndex = true })">
                                    <div class="box bg-dark text-center">
                                        <h1 class="font-light text-white" id="pending-appointments">0</h1>
                                        <h6 class="text-white">Pending</h6>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- .row -->
        <div class="col-md-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <h4>Pending Treatments</h4>
                    <div class="d-flex flex-row">
                        @Html.Action("GetAppointments", "Appointment", new { Status = Enums.AppointmentStatus.Approved, AppointmentTreatmentStatus = Enums.AppointmentTreatmentStatus.Pending, BookingDate = DateTime.Now.Date, CalledFor = "Pending Treatments", NotIndex = true })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <h4>Present Clients</h4>
                    <div class="d-flex flex-row">
                        @Html.Action("GetPresentUsers", "Report", new { role = "Client", action = "Checked In" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <h4>Invoices</h4>
                    <div class="d-flex flex-row">
                        @Html.Action("InvoiceReport", "Report")
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <h4>Commission</h4>
                    <div class="d-flex flex-row">
                        @Html.Action("StylistCommissionReport", "Report")
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

@section Scripts{
    @Scripts.Render("~/bundles/Morris")
    @Scripts.Render("~/bundles/Toast")
    @Scripts.Render("~/bundles/Peity")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/QTip")
}
@section Styles{
    @Styles.Render("~/Content/QTip")
}
<script>
    $(function () {
         //showUnApprovedAppointments();
        //showUnpaidInvoices();
        //showAppointmentsForToday();

        $('.dashboard-table').DataTable();
        showStylistCommission();
        getUsers("Client", "#client-count");
        getUsers("Stylist", "#stylist-count");
        getTreatments();
        getAppointmentCountForToday();

    setTimeout(function () {
            //showStylistCommission();
            //showUnApprovedAppointments();
            //showUnpaidInvoices();
            getAppointmentCountForToday();
            showStylistCommission();
            getUsers("Client", "#client-count");
            getUsers("Stylist", "#stylist-count");
            getTreatments();
        }, 30000);


        //$(".card-body").qtip({
        //    content: {
        //        text: function () {
        //            var res = $(this).attr("tip");
        //            return res;
        //        }
        //    },
        //    show: {
        //        solo: true // Only show one tooltip at a time
        //    },
        //    style: "different-tip-color",
        //    position: {
        //        my: "bottom center",
        //        at: "top center",
        //    }
        //});

    });
/* BEGIN EXTERNAL SOURCE */



   //Functions

     function showUnApprovedAppointments () {
        data = {
            Status: "Processing",
            BookingDate: new Date(),
            AppointmentTreatmentStatus: "Paused",
            CalledFor: "Unapproved Appointments",
            NotIndex: true
        }
        $.ajax({
            url: '@Url.Action("GetUnApprovedAppointments","Home")',
            data: { model: data },
            type: "POST",
            success: function (d) {
                $("#unapproved-appointments").html(d);
            }
        });
    }

    function showUnpaidInvoices () {

        $.ajax({
            url: '@Url.Action("GetUnpaidInvoices", "Appointment")',
            type: "POST",
            success: function (d) {
                $("#completed-treatments").html(d);
            }
        });
    }
    function getUsers (role, targetId) {
        $.ajax({
            url: '@Url.Action("GetUsersCount", "Account")',
            type: "POST",
            data: {role: role},
            success: function (d) {
                $(targetId).html(d);
            }
        });
    }
    function getTreatments () {

        $.ajax({
            url: '@Url.Action("GetTreatmentsCount", "Treatment")',
            type: "POST",
            success: function (d) {
                $("#treatment-count").html(d);
            }
        });
    }

    function showStylistCommission () {
        data = {
            AppointmentTreatmentStatus: "Paused",
            Status: "Processing"
        }
        $.ajax({
            url: '@Url.Action("GetStylistCommission", "Home")',
            data: { model: data },
            type: "POST",
            success: function (d) {
                $("#stylist-commission").html(d);
            }
        });
    }

    function showNewClients () {
        data = {
            AppointmentTreatmentStatus: "Ended"
        }
        $.ajax({
            url: '@Url.Action("GetNewClients", "Home")',
            data: { model: data },
            type: "POST",
            success: function (d) {
                $("#new-clients").html(d);
            }
        });
    }

    function getAppointmentCountForToday() {
        $.ajax({
            url: '@Url.Action("GetAllAppointmentsCount", "Appointment")',
            type: "POST",
            success: function (d) {
                $("#pending-appointments").html(d.Pending);
                $("#finished-appointments").html(d.Finished);
                $("#paused-appointments").html(d.Paused);
                $("#in-progress-appointments").html(d.InProgress);
                $("#cancelled-appointments").html(d.Cancelled);

            }
        });
    }


</script>
