﻿@{
    ViewBag.Title = "ScanClients";
    Layout = "~/Views/Shared/CustomTheme/_LoginLayout.cshtml";
}

<link href="/Scripts/dist/css/pages/first-time-register.css" rel="stylesheet">
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<section id="wrapper">
    <div class="login-register register-card-scroll" style="background-image:url(/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <h3 class="box-title m-b-20">SCAN QR CODE</h3>

                <div class="row ml-1 mr-1" id="scan-div">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <input type="text" name="Id" id="check-in-client-id" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12" id="qr-image-div">
                        <div class="form-group">
                            <img src="#" alt="Qr code image" id="qr-image" class="qr-code-image pull-right"  style="display:none" />
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>

}
<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    $(function () {
        //$("#client-id").mask("99999999-9999-9999-9999-999999999999");
        $("#check-in-client-id").focus();
        $("body").on("input", "#check-in-client-id", function () {
            var id = $("#check-in-client-id").val();
            $.ajax({
                url: '/Home/GetQrImage',
                data: { id: id },
                type: "POST"
            }).done(function (res) {
                $("#qr-image").attr("src", res);
                $("#qr-image").show();
            });
        });

        $("body").on("keypress focus", "#check-in-client-id", function (e) {
            if (e.which === 13) {
                var id = $("#check-in-client-id").val();
                CheckInClient(id, "ScanInClients", "#response-span");
            }
        });
        
        function CheckInClient(id, url, responseSpan) {
            $.ajax({
                url: '/Home/' + url,
                data: { id: id, forDashboard: false },
                type: "POST"
            }).done(function (res) {
                if (res !== "") {
                    $("#check-in-client-id").val("");
                    $("#check-in-client-id").html("");
                    $("#qr-image").hide();
                    $("#check-in-client-id").focus();

                    swal({
                        title: "ALL IN 1 BEAUTY.",
                        html: true,
                        text: res,
                        timer: 3000,
                        showConfirmButton: false
                    });
                }

            });
        }
    });

</script>

