﻿@model Models.ViewModels.TaxViewModel

@{
    var action = Model.Action;
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tax Details</h5>
                <hr />

                @using (Html.BeginForm(action, "Tax", FormMethod.Post, new { @class = "form-horizontal form-material pt-3", @enctype = "multipart/form-data", autocomplete = "off" }))
                {

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-md-12" for="example-text">
                                <span> Name</span>
                            </label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter tax name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-12" for="bdate">
                                <span>Percentage</span>
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Percentage, new { @class = "form-control", @placeholder = "Enter percentage" })
                                @Html.ValidationMessageFor(m => m.Percentage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Action)
                    @Html.HiddenFor(model => model.Id)

                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                    <button type="button" onclick="Cancel()" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>

<script>

        function Cancel(d) {
            window.location.href = "@Url.Action("Index", "Tax")";
    }
</script>

