﻿@model Models.ViewModels.TaxViewModel


<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete: <span><b>@Model.Name</b></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="button" onclick="window.location.href='@Url.Action("Delete","Tax",new { id=Model.Id })'" value="Delete" class="btn btn-danger" />
    </div>
</div>
