﻿@model IEnumerable<Models.ViewModels.TaxViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var recordIndex = 1;

}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Taxes</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Tax</li>
                    </ol>
                    @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                    {
                        <button type="button" class="btn btn-info d-none d-lg-block m-l-15" onclick="window.location.href='@Url.Action("Create", "Tax")'"><i class="fa fa-plus-circle"></i> Create New</button>
                    }
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- /row -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Taxes</h5>
                        <hr>
                        <div class="table-responsive">
                            <table id="myTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Percentage</th>

                                        @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@recordIndex</td>
                                            <td>@item.Name</td>
                                            <td>@item.Percentage</td>

                                            @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                                            {
                                                <td>
                                                    <input type="button" onclick="window.location.href='@Url.Action("Edit","Tax", new { id = item.Id })'" value="Edit" class="btn btn-success" />
                                                    <input type="button" onclick="LoadDeleteModal('@item.Id')" value="Delete" class="btn btn-danger" />
                                                </td>

                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                        </tr>
                                        recordIndex = recordIndex + 1;
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document" id="delete-modal-content">

    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/DataTable")
    @Styles.Render("~/Content/favicon")
}

@section Scripts{
    @Scripts.Render("~/bundles/DataTables")
}
<script>
    $(function () {
        $("#myTable").DataTable();
         });

    function LoadDeleteModal(id) {
               $.ajax({
                url: "@Url.Action("_DeleteModal","Tax")",
                data: { id: id },
                }).done(function (result) {
                    $('#delete-modal-content').html(result);
                    $('#delete-modal').modal("show");
                });
    }
</script>
