﻿.pointer {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .stylist-dashboard-check-in-button {
        /*padding-left: 0;*/
        float: right;
        padding-right: 0
    }
}

.jq-icon-warning {
    background-color: #fec107 !important;
    color: #fff !important;
}
