﻿<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="el-card-item">
            <div class="el-card-avatar el-overlay-1">
                <img src="@Model.ImageUrl" style="height:200px" alt="user" />
                <div class="el-overlay">
                    <ul class="el-info">
                        <li><a class="btn default btn-outline image-popup-vertical-fit" href="@Model.ImageUrl" data-toggle="tooltip" data-placement="left" title="Magnify Image" name="Image"><i class="icon-magnifier-add"></i></a></li>
                        <li><a class="btn default btn-outline" href='@Url.Action("Details","Account",new { id = Model.Id, role = Model.Role })' data-toggle="tooltip" data-placement="left" title="Get Details"><i class="icon-user"></i></a></li>
                        @*@if (Model.Role == "Stylist" && (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator")))
        {
            <li><a class="btn default btn-outline" href='@Url.Action("Create","Schedule",new { id = Model.Id, role = Model.Role })' data-toggle="tooltip" data-placement="left" title="Add Schedule"><i class="icon-clock"></i></a></li>
        }*@

                    </ul>
                    </div>
                </div>
                <div class="el-card-content" style="height: 130px; max-width:219.09px; max-height:310px; border-style: solid; border-color:white;">
                    <h4 class="box-title"><b>@Model.Name</b></h4> <small><span class="fa fa-phone-square"></span> @Model.PhoneNumber</small>
                    <br />
                    <small>Age: @Model.Age years</small>
                </div>
            </div>
        </div>
    </div>
