﻿@model IEnumerable<Models.ViewModels.RegisterViewModel>

<div class="col-md-12">
    <h5 class="card-title m-b-0"><button class="back-to-filters btn btn-info waves-effect waves-light m-r-10" onclick="backToFilters()">Search Filters</button></h5>
    <hr />
</div>
@if (Model.Count() == 0)
{
    <h3>No records to display.</h3>
}
else
{

    foreach (var item in Model)
    {
        <!-- .col -->
        <div class="col-md-4 col-sm-4">
            <div class="card">
                <div class="card-body">
                    <a href="@Url.Action("Details", "Account", new { id = item.Id, role = "Client" })">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 text-center">
                                <img src="@item.ImageUrl" alt="user" class="img-circle img-responsive make-client-image-round">
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <h5 class="card-title m-b-0">@item.Name</h5>
                                <p>
                                    <address>
                                        House # @item.Address.House, Street # @item.Address.Street, @item.Address.Area, @item.Address.City
                                        <br />
                                        <br />
                                        Phone # <abbr title="Phone">@item.PhoneNumber</abbr>
                                    </address>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.col -->
    }
}

<script>
    function backToFilters() {
        $(".report-div").hide(1000);
        $(".filter-div").show(1000);
    };
</script>
