﻿@model List<Models.ViewModels.RegisterViewModel>
@{
    var role = ViewBag.Role.ToString();
    bool appendedView = ViewBag.AppendedView ?? false;
}

<div class="col-md-12">
    @if (Model.Count() == 0 && !appendedView)
    {
        @*if (role == "Client")
        {
            <div class="col-md-12">
                <h5 class="card-title m-b-0"><button class="back-to-filters btn btn-info waves-effect waves-light m-r-10" onclick="backToFilters()">Search Filters</button></h5>
                <hr>
            </div>
        }*@
        <h3>No records to display.</h3>
    }
    else
    {
        @*if (role == "Client" && !appendedView)
        {
            <div class="col-md-12">
                <h5 class="card-title m-b-0"><button class="back-to-filters btn btn-info waves-effect waves-light m-r-10" onclick="backToFilters()">Search Filters</button></h5>
                <hr>
            </div>
        }*@

        <div class="row el-element-overlay">
            @{ var outerLoopLimit = Model.Count() < 4 ? 1 : Model.Count() / 4;}
            @for (var index = 0; index < outerLoopLimit; index++)
            {
            <div class="col-lg-6 row">
                @{var innerIndex = (index * 4); }
                @for (var item = innerIndex; item < innerIndex + 4 && item < Model.Count();  item++)
                {
                    @Html.Partial("_ClientList", Model[item])
                }
            </div>

            }

        </div>
    }

</div>
<script src="~/Scripts/CustomScripts/search-filters-methods.js"></script>
<script>
    function backToFilters() {
        //$(".report-div").hide(1000);
        //$(".filter-div").show(1000);
    }
</script>
