﻿@model Models.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "AddReferenceNumber";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Add Client Reference</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Account", new { role = "Client"})">Clients</a></li>
                        <li class="breadcrumb-item active">Add Reference</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Scan</h5>
                        <form action="@Url.Action("AddReferenceNumber","Account")" method="post">
                            <div class="form-group col-md-12">
                                <label class="col-sm-12">Client</label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(model => model.Id, new List<SelectListItem>(), new { @class = "form-control", id = "client-name" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-md-12" for="example-email">
                                    <span> Email</span>
                                </label>
                                <div class="col-md-12">
                                    <span id="email-span">@Model.Email</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-md-12" for="example-email">
                                    <span> Phone</span>
                                </label>
                                <div class="col-md-12">
                                    <span id="phone-number-span">@Model.PhoneNumber</span>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-group col-md-12 row">
                                <div class="col-md-8">
                                    <label class="col-md-12" for="example-text">
                                        <span> Scanned Id</span>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" name="ReferenceId" id="reference-id" class="form-control" required />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <img src="#" alt="Qr code image" id="qr-image" class="qr-code-image" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10" style="float:right" id="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
}

@section Scripts{
    @Scripts.Render("~/bundles/Select2")
}

<script>
    $(function () {
        //$("#client-id").mask("99999999-9999-9999-9999-999999999999");
        $("#qr-image").hide();

            //
            //
            //Method which is to be called for populating options in dropdown //dynamically

            var pageSize = 20;
            var id = "#client-name";
            var url = "@Url.Action("GetUsers", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page
                }
            };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Client");

        //
        //on change in client name
        $("body").on("change", "#client-name", function (event) {
            getClient($("#"+event.currentTarget.id).val());
        });


        $("body").on("input", "#reference-id", function () {
            var id = $("#reference-id").val();
            $.ajax({
                url: '@Url.Action("GetQrImage","Home")',
                data: { id: id },
                type: "POST"
            }).done(function (res) {
                $("#qr-image").attr("src", res);
                $("#qr-image").show();
            });
        });

        $("body").on("click", "#cancel", function () {
            window.location.href = '@Url.Action("Index","Home")';
        });
    });

        function getClient(id) {
            if (id == "" || id == null) {
                $("#email-span").html("");
                $("#phone-number-span").html("");
            }
            else {
                $.ajax({
                    url: "@Url.Action("GetUserDetail","Appointment")",
                    data: { id: id },
                    success: function (response) {
                        $("#email-span").html(response.Email);
                        $("#phone-number-span").html(response.PhoneNumber);
                    }
                });
            }

    }
</script>
