﻿@using Models.ViewModels
@model FirstTimeRegistrationViewModel
@{
    ViewBag.Title = "AppRegister";
    Layout = "~/Views/Shared/CustomTheme/_LoginLayout.cshtml";
    var action = Model.Action == "Register" ? "AppRegister" : "EditApp";
    var displayHeading = Model.Action == "Register" ? "1st Time Registration" : "Edit Branch";
}
<link href="/Scripts/dist/css/pages/first-time-register.css" rel="stylesheet">
<section id="wrapper">
    <div class="login-register register-card-scroll" style="background-image:url(/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                @using (Html.BeginForm(action, "Account", FormMethod.Post, new { @class = "form-horizontal form-material", @id = "loginform", @enctype = "multipart/form-data", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <h3 class="box-title m-b-20">@displayHeading</h3>

                    <div class="row ml-1 mr-1">
                        @if (action == "AppRegister")
                        {
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="col-md-12" for="example-text">
                                        <span> Name:</span>
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.Application.Name, new { @class = "form-control", placeholder = "Application Name" })
                                        @Html.ValidationMessageFor(model => model.Application.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group ">

                                        <label class="col-md-12" for="example-text">
                                            <span> Application Id (Optional):</span>
                                        </label>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(model => model.Application.Id, new { @class = "form-control", placeholder = "Optional" })
                                            @Html.ValidationMessageFor(model => model.Application.Id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Branch Name:</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Branch.Name, new { @class = "form-control", placeholder = "Branch Name" })
                                    @Html.ValidationMessageFor(model => model.Branch.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Branch VAT:</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Branch.VAT, new { @class = "form-control", id = "vat", placeholder = "Value Added Tax", type = "number", max = "100", min = "0", maxlength = "3" })
                                    @Html.ValidationMessageFor(model => model.Branch.VAT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Opening Time:</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Branch.OpeningTime, new { @class = "form-control", id = "opening-time", placeholder = "Opening Time", onfocus = "(this.type='time')", onblur = "(this.type='text')" })
                                    @Html.ValidationMessageFor(model => model.Branch.OpeningTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-12" for="example-text">
                                        <span> Closing Time:</span>
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Branch.ClosingTime, new { @class = "form-control", id = "closing-time", placeholder = "Closing Time", onfocus = "(this.type='time')", onblur = "(this.type='text')" })
                                        @Html.ValidationMessageFor(model => model.Branch.ClosingTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-12" for="example-text">
                                        <span> Currency Name:</span>
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Currency.Name, new { @class = "form-control", placeholder = "Currency Name" })
                                        @Html.ValidationMessageFor(model => model.Currency.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Currency Value:</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Currency.Value, new { @class = "form-control", placeholder = "Currency Value" })
                                    @Html.ValidationMessageFor(model => model.Currency.Value, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Branch Logo:</span>
                                </label>
                                <div class="col-md-12">
                                    <div class="row" onClick=(showImageName())>
                                        <div class="col-md-1">
                                            <img src="/images/photo (1).png" alt="" placeholder="Upload image" Upload image>
                                        </div>
                                        <div class="col-md-10 ml-2">
                                            <span id="image-name">Upload image</span>
                                        </div>
                                    </div>
                                    <input type="file" id="img-upload" name="Branch.Logo" value=@Model.Branch.LogoUrl hidden>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Area:</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Branch.Address.Area, new { @class = "form-control", placeholder = "Area" })
                                    @Html.ValidationMessageFor(model => model.Branch.Address.Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> City:</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Branch.Address.City, new { @class = "form-control", placeholder = "City" })
                                    @Html.ValidationMessageFor(model => model.Branch.Address.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-12" for="example-text">
                                    <span> Shop:</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Branch.Address.House, new { @class = "form-control", placeholder = "Shop" })
                                    @Html.ValidationMessageFor(model => model.Branch.Address.House, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-12" for="example-text">
                                    <span> Street:</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Branch.Address.Street, new { @class = "form-control", placeholder = "Street" })
                                    @Html.ValidationMessageFor(model => model.Branch.Address.Street, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        @Html.HiddenFor(m => m.Currency.Id)
                        @Html.HiddenFor(m => m.Branch.Id)
                        @Html.HiddenFor(m => m.Application.Id)

                    </div>


                    <div class="form-group text-center">
                        <div class="col-xs-3 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">@Model.Action</button>
                        </div>
                    </div>
                }


            </div>
        </div>

    </div>
</section>


<script>
    $(document).ready(function () {
        var openingTime = $("#opening-time").val();
        var closingTime = $("#closing-time").val();
        var vat = $("#vat").val();
        if (vat == 0) {
            $("#vat").val("");
        }
        if (openingTime == "00:00:00" && closingTime == "00:00:00") {
            $("#opening-time").val("");
            $("#closing-time").val("");
        }
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#image-name").html(fileName);
        });
    });
    function showImageName() {
        $("#img-upload").click();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}