﻿@model Models.ViewModels.RegisterViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">@Model.Role Details</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        @if (Model.Role == "Stylist")
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Account", new { role = "Stylist" })">Stylists</a></li>
                        }
                        else if (Model.Role == "Administrator")
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Account", new { role = "Administrator" })">Administrators</a></li>
                        }
                        else if (Model.Role == "Client")
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("Clients","Account")">Clients</a></li>
                        }
                        <li class="breadcrumb-item active">@Model.Role Details</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-md-12">
                            <div class="col-md-4 ml-3 mt-3">
                                <h3 class="card-title">Basic Information</h3>
                            </div>
                            <hr />
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>
                                        <label class="col-md-12" for="example-text">
                                            <span> Name</span>
                                        </label>
                                    </h5>
                                    <div class="col-md-12">
                                        @Html.DisplayFor(m => m.Name, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>
                                        <label class="col-md-12" for="bdate">
                                            <span> Date of Birth</span>
                                        </label>
                                    </h5>
                                    <div class="col-md-12">
                                        @Model.DOB.ToString("dd-MMM-yyyy")

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5><label class="col-sm-12">Gender</label></h5>
                                    <div class="col-sm-12">
                                        @Html.DisplayFor(model => model.Gender, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>
                                        <label class="col-md-12" for="example-phone">
                                            <span>Phone</span>
                                        </label>
                                    </h5>
                                    <div class="col-md-12">
                                        @Html.DisplayFor(model => model.PhoneNumber, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>
                                        <label class="col-md-12" for="example-email">
                                            <span> Email</span>
                                        </label>
                                    </h5>
                                    <div class="col-md-12">
                                        @Html.DisplayFor(model => model.Email, new { @class = "form-control" })

                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>
                                        <label class="col-md-12" for="example-address-city">
                                            <span>City</span>
                                        </label>
                                    </h5>
                                    <div class="col-md-12">
                                        @Html.DisplayFor(model => model.Address.City, new { @class = "form-control" })

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <h5>
                                        <label class="col-md-12" for="example-address-area">
                                            <span>Area</span>
                                        </label>
                                    </h5>
                                    <div class="col-md-12">
                                        @Html.DisplayFor(model => model.Address.Area, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>
                                        <label class="col-md-12" for="example-address-house">
                                            <span>House</span>
                                        </label>
                                    </h5>
                                    <div class="col-md-12">
                                        @Html.DisplayFor(model => model.Address.House, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group col-md-6">
                                    <h5>
                                        <label class="col-md-12" for="example-address-street">
                                            <span>Street</span>
                                        </label>
                                    </h5>
                                    <div class="col-md-12">
                                        @Html.DisplayFor(model => model.Address.Street, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-2">
                            <div class="col-md-7">
                                <div class="row col-md-12">
                                    <img class="img-responsive" src="@Model.ImageUrl" id="image-thumbnail" alt="" style="max-width:120px; max-height:120px;">
                                </div>
                                @if (Model.QRCodeImage != null)
                                {
                                    <div class="row col-md-12">
                                        <img src="@Model.QRCodeImage" alt="" class="qr-code-image" />
                                    </div>
                                }
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.Address.Id)
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <hr />
                            <button type="button" onclick="window.location.href='@Url.Action("Edit", "Account", new { Id = Model.Id, Role = Model.Role })'" class="btn btn-info">Edit</button>
                            @if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
                            {
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button>
                                if (Model.Role == "Stylist")
                                {
                                    <button type="button" class="btn btn-dribbble" onclick="window.location.href = '@Url.Action("AddStylistTreatment","StylistTreatment", new { id = Model.Id})'">Add Treatments</button>
                                }
                            }

                            @if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator") || Model.Id == User.Identity.GetUserId())
                            {
                                <button type="button" class="btn btn-facebook" onclick="window.location.href = '@Url.Action("ResetUserPasswordCustom","Account", new { id = Model.Id, role = Model.Role})'">Reset Password</button>
                            }
                            @if (Model.Role == "Client")
                            {
                                <button type="button" onclick="window.location.href='@Url.Action("GetClientTreatmentHistory", "Report", new { id = Model.Id })'" class="btn btn-dark">History</button>
                            }
                            <button type="button" onclick="Cancel(this)" class="btn btn-warning m-r-10">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete: <span><b>@Model.Name</b></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" onclick="window.location.href='@Url.Action("Delete", "Account", new { id = Model.Id, role = Model.Role })'" value="Delete" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<script>

    $(function () {
        //$("#delete-modal").css("display","none");
    });

    function showModal() {
        $("#delete-modal").css("display","block");
    }

    function Cancel(d) {
        var role = "@Model.Role";
        if (role == "Stylist") {
            window.location.href = "@Url.Action("Index", "Account", new { role = "Stylist"})";
        }
        else if (role == "Administrator") {
            window.location.href = "@Url.Action("Index", "Account", new { role = "Administrator"})";
        }
        else {
            window.location.href = "@Url.Action("Clients","Account")";
        }

    }
</script>