﻿@model Models.ViewModels.RegisterViewModel
@using Foolproof
@using Models.ViewModels;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var role = Session["role"] != null ? Session["role"].ToString() : "";
    var action = Model.Action;
    TempData["model"] = Model;
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">@action @role</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Account", new { role = role})">@role</a></li>
                        <li class="breadcrumb-item active">@action @role</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card" id="user-partial-view">
                    @Html.Action("EditPartial", "Account", new { model = (RegisterViewModel)TempData["model"] })
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<script>
    $(document).ready(function () {
        $("body").on("click", "#submit-user", function (event) {
            event.preventDefault();
            SubmitUserForm().done(function (result) {
                if (result.Id != null && !result.Error) {
                    Cancel();
                }
                else if (!result) {

                }
                else {
                    $("#user-partial-view").html(result);
                }
            });
        });

    });
    function ShowImage(input) {


        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-thumbnail').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
        //var thumbnail = $("#Image").val();
        //$("#image-thumbnail").attr("src", thumbnail);

    }
    function Cancel(d) {
        var role = "@Model.Role";
        if (role == "Stylist") {
            window.location.href = "@Url.Action("Index", "Account", new { role = role })";
        }
        else if (role == "Client") {
            window.location.href = "@Url.Action("Index","Account", new { role = role })";
        }
        else {
             window.location.href = "@Url.Action("Index","Account", new { role = role })";
        }

    }
</script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
