﻿@model Models.ViewModels.RegisterViewModel
@{
    var role = Session["role"] != null ? Session["role"].ToString() : "";
    var action = Model.Action;
}

<style>
    .error {
        color: #e46a76;
    }
</style>
<div class="card-body">
    <h5 class="card-title">Basic Information</h5>
    <hr />

    @using (Html.BeginForm(action, "Account", FormMethod.Post, new { @id = "user-form", @class = "form-horizontal form-material pt-3", @enctype = "multipart/form-data", autocomplete = "off" }))
    {

        @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-6">
            <label class="col-md-12" for="example-text">
                <span> Name</span>
            </label>
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter name", autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-12">Profile Image</label>
            <div class="col-sm-12">
                <div class="col-md-6">
                    <img class="img-responsive" src="@Model.ImageUrl" id="image-thumbnail" alt="" style="max-width:120px;">
                </div>
                <div class="fileinput fileinput-new input-group col-sm-6" data-provides="fileinput">
                    <div data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file">
                        <input type="file" name="Image" id="Image" onchange="ShowImage(this)">
                    </span> <a href="javascript:void(0)" class="input-group-addon btn btn-default fileinput-exists" onclick='document.getElementById("Image").value = ""; document.getElementById("image-thumbnail").src = "";' data-dismiss="fileinput">Remove</a>
                </div>
            </div>
        </div>
        @if (action == "Register" && Model.Role != "Client")
        {

            <div class="form-group col-md-6">
                <label class="col-sm-12">Password</label>
                <div class="col-sm-12">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Must have at least one digit & one uppercase", required = true, autocomplete = "false", value = Model.Password })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-12" for="example-email">
                    <span> Confirm Password</span>
                </label>
                <div class="col-md-12">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-enter password", required = true, autocomplete = "false", value = Model.ConfirmPassword })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group col-md-6">
            <label class="col-md-12" for="bdate">
                <span> Date of Birth</span>
            </label>
            <div class="col-md-12">
                <input type="date" name="DOB" class="form-control mydatepicker" placeholder="enter your birth date" value="@Model.DOB.ToString("yyyy-MM-dd")" autocomplete="false">
                @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-12">Gender</label>
            <div class="col-sm-12">
                @Html.EnumDropDownListFor(model => model.Gender, "Gender", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.Role == "Client")
        {
            <div class="form-group col-md-6">
                <label class="col-md-12" for="example-email">
                    <span> Email</span>
                </label>
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Email, new { @class = "form-control", @placeholder = "Enter email", autocomplete = "false" })
                    @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                    <span class="text-danger" id="email-custom-error"></span>
                </div>
            </div>
        }

        else
        {
            <div class="form-group col-md-6">
                <label class="col-md-12" for="example-email">
                    <span> Email</span>
                </label>
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Email, new { @class = "form-control", @placeholder = "Enter email", autocomplete = "false", required = "true" })
                    @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                    <span class="text-danger" id="email-custom-error"></span>
                </div>
            </div>
        }
        <div class="form-group col-md-6">
            <label class="col-md-12" for="example-phone">
                <span>Phone</span>
            </label>
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "Enter phone number", type = "number", autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-12" for="example-address-area">
                <span>Area</span>
            </label>
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Address.Area, new { @class = "form-control", @placeholder = "Enter area", autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.Address.Area, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-12" for="example-address-city">
                <span>City</span>
            </label>
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Address.City, new { @class = "form-control", @placeholder = "Enter city name", autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-12" for="example-address-house">
                <span>House</span>
            </label>
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Address.House, new { @class = "form-control", @placeholder = "Enter house number", autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.Address.House, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-md-12" for="example-address-street">
                <span>Street</span>
            </label>
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Address.Street, new { @class = "form-control", @placeholder = "Enter street number", autocomplete = "false" })
                @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (action == "Register" && Model.Role == "Client")
        {

            <div class="form-group col-md-6">
                @*<label class="col-sm-12">Check in after registration</label>*@
                <div class="col-sm-12">
                    @Html.CheckBoxFor(model => model.CheckIn) <span>Check in after registration</span>
                    @Html.ValidationMessageFor(m => m.CheckIn, "", new { @class = "text-danger" })
                </div>
            </div>
        }

    </div>
        @Html.HiddenFor(model => model.Address.Id)
        @Html.HiddenFor(model => model.Role)
        @Html.HiddenFor(model => model.Action)
        @Html.HiddenFor(model => model.Id)

        <button type="button" id="submit-user" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
    }
</div>
<script>
    $(function () {
        $("body").off("change", "#Email")
        $("body").on("change", "#Email", function (event) {
            validateEmailFromDatabase($("#Id").val(), event.target.value);
        });
    });
    function ShowImage(input) {


        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-thumbnail').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
        //var thumbnail = $("#Image").val();
        //$("#image-thumbnail").attr("src", thumbnail);

    }


    function SubmitUserForm() {
        //if (!$("#user-form").valid()) {
        //    return $.Deferred().resolve(false);
        //}
        var form1 = $("#user-form").serializeArray();
        var form = new FormData($("#user-form")[0]);
        form1["Image"] = $("#Image")[0].files[0];
        form.append("Image", $("#Image")[0].files[0]);
        //var object = {};
        //form.forEach(function (value, key) {
        //    object[key] = value;
        //});
        //var json = form.serializeArray();

        var ajaxResult = $.ajax({

            type: "POST",
            url: '/Account/' + $("#Action").val(),
            cache: false,
            contentType: false,
            processData: false,
            data: form,
            success: function (result) {
                return result;
            },
            error: function (error) {
                return false;
            }
        });
        return ajaxResult;

    }
    function validateEmailFromDatabase(id, email) {
        var emailValid = validateEmail(email);
        if (!emailValid) {
            addErrorMessage("Email", "Invalid Email address");
        }
        else {
            $.ajax({

            type: "POST",
            url: "@Url.Action("ValidateEmailFromDatabase", "Report", new { email = Model.Email })",
            data: { "email": email, "id": id},
            success: function (result) {
                if(result){
                    addErrorMessage("Email", "");
                }
                else {
                    addErrorMessage("Email", "Email already in use");
            }
            },
            error: function (error) {
                return false;
            }
        });
        }

    }
    function addErrorMessage(msgFor, error) {
        
        if (error == "") {
            $("#submit-user").attr("disabled", false);
            $("#email-custom-error").html("");
            
        }
        else {
            $("#submit-user").attr("disabled", true);
            $("#email-custom-error").html('<span id="' + msgFor + '-error" class="text-danger">' + error + '.</span>');
            console.log(msgFor, error);
        }
    }

    function validateEmail(email) {

    var pattern = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;



    return $.trim(email).match(pattern) ? true : false;

}
</script>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}