﻿@model Models.ViewModels.AccountSearchViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var role = ViewBag.role.ToString();
}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor"><span>@role</span>s</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Account", new { role = role})"><span>@role</span>s</a></li>
                    </ol>
                    @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                    {
                        <button type="button" onclick='window.location.href="@Url.Action("Register", "Account", new { role = role })"' class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                    }
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <div class="row filter-div">
            <div class="col-sm-12">
                <div class="card">
                    @if (role == "Administrator")
                    {
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Administrator Filters</h5>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-9">
                                    <label class="col-sm-12">Name</label>
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(m => m.Id, new List<SelectListItem>(), "Select Administrator", new { @id = "administrator-name", @class = "form-control administrator-name", @placeholder = "Select administrator" })
                                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="col-sm-12"> </label>
                                    <div class="col-md-12 mt-2">
                                        <button name="Submit" class="submit-button btn btn-info waves-effect waves-light @*m-r-10*@" style="float:right">Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    }
                    else if (role == "Stylist")
                    {
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Stylist Filters</h5>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label class="col-sm-12">Name</label>
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(m => m.Id, new List<SelectListItem>(), "Select stylist", new { @id = "stylist-name", @class = "form-control stylist-name", @placeholder = "Enter stylist" })
                                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group col-md-5">
                                    <label class="col-sm-12">Treatment</label>
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(m => m.TreatmentId, new List<SelectListItem>(), "Select Treatment", new { @id = "treatment-name", @class = "form-control treatment-name", @placeholder = "Enter treatment" })
                                        @Html.ValidationMessageFor(model => model.TreatmentId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-2">
                                    <label class="col-sm-12"> </label>
                                    <div class="col-md-12 mt-2">
                                        <button name="Submit" class="submit-button btn btn-info waves-effect waves-light @*m-r-10*@" style="float:right">Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    }
                    else
                    if (role == "Client")
                    {
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Client Filters</h5>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-9">
                                    <label class="col-sm-12">Name</label>
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(m => m.Id, new List<SelectListItem>(), "Select client", new { @id = "client-name", @class = "form-control", @placeholder = "Enter stylist" })
                                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="form-group col-md-5">
                                    <label class="col-sm-12">Contact No</label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "client-number", @class = "form-control", @placeholder = "Enter Contact Number" })
                                    </div>
                                </div>*@

                                <div class="form-group col-md-3">
                                    <label class="col-sm-12"> </label>
                                    <div class="col-md-12 mt-2">
                                        <button name="Submit" class="submit-button btn btn-info waves-effect waves-light @*m-r-10*@" style="float:right">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row loader-div">
            <div class="col-sm-12">
                <img src="~/images/report-loader.gif" alt="Alternate Text" style="background:none" />
            </div>
        </div>

        <div class="row report-div">
            @Html.Action("_IndexPartial", "Account")
        </div>


        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
}

@section Scripts{
    @Scripts.Render("~/bundles/Select2")
}

<script src="~/Scripts/CustomScripts/search-filters-methods.js"></script>
<script>
    $(function () {
        InitialOrientation();


             @*$(".stylist-name").on("change", function () {
            var pageSize = 20;
            var id = ".treatment-name";
            var stylist = $(this).val();
            var url = "@Url.Action("GetTreatments", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    stylistId: stylist
                }
                };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize)
        });*@

        InitializeSelect2();

        var i = 1;

        $(window).scroll(function () {
            if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
                //Add something at the end of the page
                i++;
                AppendClientList(i);
            }
        });

        $(".submit-button").on("click", function () {
            var id;
            var role = "@role";
            if (role == "Administrator") {
                id = $(".administrator-name").val();
            }
            else if (role == "Stylist") {
                id = $(".stylist-name").val();
            }
            else if (role == "Client") {
                id = $("#client-name").val();
            }
            var treatment = $(".treatment-name").val();

            var data = {
                Id: id,
                TreatmentId: treatment,
                //Select2: true,
                Role: role,
                PhoneNumber:$("#client-number").val(),
            };
            var url = "@Url.Action("_IndexPartial", "Account")";

            //
            // method for ajax call
            GetSearchFilterAjaxResult(url, data, true);

        });


        function AppendClientList(i) {
            var role = "@role";
            var data = {
                "CurrentPage": i,
                "Role": role,
                "AppendedView": true
            };
            $.ajax({
                data: {"search": data},
                url: "@Url.Action("_IndexPartial", "Account")",
                type: "POST",
                success: function (res) {
                    $(".report-div").append(res);
                    console.log(res);
                }
            });
        }

        function InitializeSelect2() {
            var pageSize = 20;
            var optionListUrl = '@Url.Action("GetUsers", "Appointment")';
            //
            //
            //Method which is to be called for populating options in dropdown //dynamically

            InitializeAdministrator(pageSize);
            InitializeStylist(pageSize);
            InitializeTreatment(pageSize);
            InitializeClient(pageSize);

        }
    });

    function InitializeAdministrator(pageSize) {
        
            var id = ".administrator-name";
            var url = "@Url.Action("GetAdministrators", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select");
    }

    function InitializeStylist(pageSize) {
        
            var id = ".stylist-name";
            var url = "@Url.Action("GetStylists", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Stylist")
    }

    function InitializeClient(pageSize) {
        
            var id = "#client-name";
            var url = "@Url.Action("GetUsers", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page
                }
            };
            Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Client")
    }

    function InitializeTreatment(pageSize) {
            var id = "#treatment-name";
            var url = "@Url.Action("GetTreatments", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                    stylistId: $("#stylist-name").val(),
                }
        };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Treatment");
    }
</script>
