﻿@using BarberShop.Models
@model Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/CustomTheme/_LoginLayout.cshtml";
    bool firstTimeRegistration = Session["FirstTimeRegistration"] != null ? (bool)Session["FirstTimeRegistration"] : false;
}
<link href="~/Scripts/dist/css/pages/login-register-lock.css" rel="stylesheet">
<section id="wrapper">
    <div class="login-register register-card-scroll" style="background-image:url(/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-material", @id = "loginform", role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    if (!firstTimeRegistration)
                    {
                        <h3 class="box-title m-b-20">Sign In</h3>

                        <div class="form-group ">
                            <div class="col-xs-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-xs-12">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                            </div>
                        </div>
                        @*<div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                Don't have an account? <a href='@Url.Action("Register", "Account", new { role = "Client", isRegistered = true })' class="text-info m-l-5"><b>Sign Up</b></a>
                            </div>
                        </div>*@
                    }
                    else
                    {
                        <h3 class="box-title m-b-20 text-center">Welcome to ALL IN 1 BEAUTY</h3>

                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                To initiate registeration. <a href='@Url.Action("AppRegister", "Account", new { role = "Administrator" })' class="text-info m-l-5"><b>Register</b></a>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</section>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@