﻿@model Models.ViewModels.RegisterViewModel
@using Enums
@{
    ViewBag.Title = "Register";
    var pageTitle = Session["role"] != null ? Session["role"].ToString() : "";
    Layout = "~/Views/Shared/CustomTheme/_LoginLayout.cshtml";
    var firstTimeRegistration = Session["FirstTimeRegistration"] != null ? (bool)Session["FirstTimeRegistration"] : false;
}
<link href="/Scripts/dist/css/pages/first-time-register.css" rel="stylesheet">

<section id="wrapper">
    <div class="login-register register-card-scroll" style="background-image:url(/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", @id = "loginform", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    if (firstTimeRegistration)
                    {<h3 class="box-title m-b-20"> Sign Up</h3>}
                    else
                    {
                     <h3 class="box-title m-b-20"> @pageTitle Registration</h3>
                    }
                        <div class="row ml-1 mr-1">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6 row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="row" onClick=(showImageName())>
                                            <div class="col-md-1">
                                                <img src="/images/photo (1).png" alt="" placeholder="Upload image" Upload image>
                                            </div>
                                            <div class="col-md-10 ml-2">
                                                &nbsp&nbsp<span id="image-name">Upload image</span>
                                            </div>
                                        </div>
                                        <input type="file" id="Image" name="Image" hidden>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <img class="img-responsive" src="@Model.ImageUrl" id="image-thumbnail" alt="" style="max-width:60px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='date' name="DOB" class="form-control" value="@Model.DOB.ToString("yyyy-MM-dd")" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.EnumDropDownListFor(model => model.Gender, "Gender", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.TextBoxFor(model => model.Address.Area, new { @class = "form-control", @placeholder = "Post Code" })
                                    @Html.ValidationMessageFor(model => model.Address.Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control", @placeholder = "City" })
                                    @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.TextBoxFor(model => model.Address.House, new { @class = "form-control", @placeholder = "House" })
                                    @Html.ValidationMessageFor(model => model.Address.House, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    @Html.TextBoxFor(model => model.Address.Street, new { @class = "form-control", @placeholder = "Street" })
                                    @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*@if (pageTitle == "User")
                    {
                        <div class="col-md-6">
                            <div class="form-group ">
                                <input class="form-control" type="number" name="DefaultPercentage" placeholder="Percentage">
                            </div>
                        </div>
                    }*@
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-3 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Add</button>
                            </div>
                        </div>
                    }


                </div>
        </div>

    </div>
</section>

<script>
    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#image-name").html(fileName);
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image-thumbnail').attr('src', e.target.result);
            }

            reader.readAsDataURL(this.files[0]);

        });
    });
    function showImageName() {
        $("#Image").click();
    }
</script>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
