﻿@model Models.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetUserPasswordCustom";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Reset Password</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        @if (Model.Role == "Client")
                        {
                            <li class="breadcrumb-item active"><a href="@Url.Action("Clients","Account")">Clients</a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Account", new { role = Model.Role })">@Model.Role<span>s</span></a></li>
                        }
                        <li class="breadcrumb-item active"><a href="@Url.Action("ResetUserPasswordCustom","Account", new { id = Model.UserId, role = Model.Role })">Reset Password</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic Information</h5>
                        @using (Html.BeginForm("ResetUserPasswordCustom", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", @enctype = "multipart/form-data" }))
                        {

                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span>Email Address</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.DisplayFor(model=>model.Email)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Password</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.UserId)
                                    @Html.HiddenFor(model => model.Role)
                                    @Html.HiddenFor(model => model.Code)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Confirm Password</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                            <button type="button" class="btn btn-inverse waves-effect waves-light cancel-btn">Cancel</button>
                        }
                        @using (Html.BeginForm("Delete", "AppointmentApproval", Model, FormMethod.Post, new { id = "delete-form" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
     
