﻿@model Models.ViewModels.TreatmentViewModel
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
            <b>@Model.Name</b>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <img id="pr-image" src="@Model.ImageUrl" alt="Minion Banana" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-borderless table-striped dfTable table-right-left">
                        <tbody>
                            <tr>
                                <td class="col-xs-5">Name</td>
                                <td class="col-xs-7">@Model.Name</td>
                            </tr>
                            <tr>
                                <td>Points</td>
                                <td>@Model.Points</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>@Model.Price</td>
                            </tr>
                            <tr>
                                <td>Time Required</td>
                                <td>@Model.ApproximateTime</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>@Model.Category.Name</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Descriptions</div>
                    <div class="panel-body">@Model.Description</div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        @if(User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
        { 
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.href='@Url.Action("Edit","Treatment",new { id=Model.Id })'">Edit</button>
        <button type="button" class="btn btn-primary modal-footer-btn" data-toggle="modal" data-target="#delete-modal">Delete</button>
        @*<button type="button" class="btn btn-primary modal-footer-btn" onclick="window.location.href='@Url.Action("Index","StylistTreatment",new { id=Model.Id })'">Stylists</button>*@
        }
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete: <span><b>@Model.Name</b></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="button" onclick="window.location.href='@Url.Action("Delete","Treatment",new { id=Model.Id })'" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>