﻿@model Models.ViewModels.StylistScheduleListViewModel
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";

    var data = JsonConvert.SerializeObject(Model.JqsList);
    var scheduleList = new JArray(data);
}

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Stylist Schedule</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Account", new { role = "Stylist"})">Stylists</a></li>
                        <li class="breadcrumb-item active">Schedule</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="container form-horizontal">
                            <h1 id="modalHeading">Add Schedule</h1>
                            <hr />

                            <div id="schedule">

                            </div>

                            <hr />

                            <div class="form-group">
                                <div class="col-md-12">
                                    <button class="btn btn-primary pull-right" id="add-schedule">Add Schedule</button>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.StylistId, new { @class = "stylist-id" })
                            @Html.HiddenFor(m => m.Action, new { @class = "action" })

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqs")
}
@section Styles{
    @Styles.Render("~/Content/jqs")
}

<script>
    $(function () {
        var data = @Html.Raw(scheduleList);
        //
        //Add schedule button
        $("#add-schedule").on("click", function () {
            var result = $("#schedule").jqs("export");
            var stylistId = $(".stylist-id").val();
            var action = $(".action").val();
            var sched = { Action: action, JqsList: JSON.parse(result), StylistId: stylistId  };
            var indexUrl = "@Url.Action("Index", "Home")";
            $.ajax({
                type: 'POST',
                dataType: 'text',
                data: JSON.stringify(sched),
                url: '/Schedule/Create',
                cache: false,
                success: function (e) {
                    console.log("Success");
                    window.location.href = indexUrl;
                },
                error: function (e) {
                    console.log("Error");
                }
            });
            //$("#eventModal").modal("hide");

        });

        $('#schedule').jqs({
            mode: 'edit',
            hour: 24,
            days: 7,
            periodDuration: 30,
            data: (JSON.parse(data)),
            periodOptions: false,
            periodColors: [],
            periodTitle: '',
            periodBackgroundColor: 'rgba(82, 155, 255, 0.5)',
            periodBorderColor: '#2a3cff',
            periodTextColor: '#000',
            periodRemoveButton: 'Remove',
            //periodDuplicateButton: 'Duplicate',
            //periodTitlePlaceholder: 'Title',
            minTime: "08:00",
            maxTime: "17:00",
            businessHours: {
                start: '08:00', // start time (8am)
                end: '17:00', // end time (5pm)
            },
            selectAllow: function (selectInfo) {
                var duration = moment.duration(selectInfo.end.diff(selectInfo.start));
                return duration.asHours() <= 4;
            },
            daysList: [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday',
                'Sunday'
            ],
            onInit: function () { },
            onAddPeriod: function (period, jqs) {},
            onRemovePeriod: function () { },
            onDuplicatePeriod: function () { },
            onClickPeriod: function () { }

        });
    });
</script>


