﻿@if (Model.title == "UnScheduled")
{
    <div class="tooltip-container">
        <div class="tooltip-title" style="background:@Model.bordercolor;">
            @Model.title
        </div>
        <div class="tooltip-content-section">
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Stylist
                </div>
                <div class="tooltip-content">
                    @Model.stylist
                </div>
            </div>
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Blocked For
                </div>
                <div class="tooltip-content">
                    @Model.startTime-@Model.endTime
                </div>
            </div>
        </div>
    </div>
}
else if (Model.title == "Leave")
{
    <div class="tooltip-container">
        <div class="tooltip-title" style="background:@Model.bordercolor;">
            @Model.title
        </div>
        <div class="tooltip-content-section">
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Stylist
                </div>
                <div class="tooltip-content">
                    @Model.stylist
                </div>
            </div>
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Duration
                </div>
                <div class="tooltip-content">
                    @Model.startTime-@Model.endTime
                </div>
            </div>
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Applied On
                </div>
                <div class="tooltip-content">
                    @Model.bookingDate
                </div>
            </div>
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Description
                </div>
                <div class="tooltip-content">
                    @Model.description
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="tooltip-container">
        <div class="tooltip-title" style="background:@Model.bordercolor;">
            @Model.title
        </div>
        <div class="tooltip-content-section">
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Client
                </div>
                <div class="tooltip-content">
                    @Model.client
                </div>
            </div>
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Treatment
                </div>
                <div class="tooltip-content">
                    @Model.treatment
                </div>
            </div>
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Duration
                </div>
                <div class="tooltip-content">
                    @Model.startTime - @Model.endTime
                </div>
            </div>

            <div class="tooltip-section">
                <div class="tooltip-label">
                    Booked On
                </div>
                <div class="tooltip-content">
                    @Model.bookingDate
                </div>
            </div>
            <div class="tooltip-section">
                <div class="tooltip-label">
                    Description
                </div>
                <div class="tooltip-content">
                    @Model.description
                </div>
            </div>
        </div>
    </div>
}







