﻿@if (Model.title == "Available")
{
    <div class="event-detail-parent" style="background:transparent;">
        <div style="background:transparent;" class="event-detail-type"></div>
        <div style="background:transparent;" class="event-detail-content"></div>
    </div>
}
else if (Model.title == "UnScheduled")
{
    <div class="event-detail-parent">
        <div class="event-detail-type" style="background:@Model.bordercolor;"></div>
        <div style="background:lightgray;" class="event-detail-content">
        </div>
    </div>
}
else if (Model.title == "Leave")
{
    <div class="event-detail-parent">
        <div class="event-detail-type" style="background:@Model.bordercolor;"></div>
        <div class="event-detail-content">
            <div class="row">
                <div class="col-md-6 time">
                    @Model.startTime-@Model.endTime
                </div>
                <div class="col-md-6 delete">

                    <button type="button" class="close @Model.title" id="@Model.id" aria-label="Close" data-toggle="tooltip" data-placement="top" title="delete this leave">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @if (Model.isRecurring)
                    {
                        <img src="~/Content/assets/icons/repeat.png" height="16" width="16" style="float:right;margin-right:1px;" data-toggle="tooltip" data-placement="top" title="recurring leave"/>
                    }
                </div>
                <div class="col-md-12 description">
                    @Model.description
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="event-detail-parent">
        <div class="event-detail-type" style="background:@Model.bordercolor;"></div>
        <div class="event-detail-content">
            <div class="row">
                <div class="col-md-6 time">
                    @Model.startTime-@Model.endTime
                </div>
                <div class="col-md-6 delete">
                    <button type="button" class="close @Model.title" id="@Model.id" aria-label="Close" data-toggle="tooltip" data-placement="top" title="delete this appointment">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span data-toggle="tooltip" style="float:right;margin-right:1px;" data-placement="top" title="Start this appointment">
                        <i class="fa fa-play start-this-appointment" id="@Model.id" data-toggle="tooltip" data-placement="top" title="Start this appointment"></i>
                    </span>

                </div>
                <div class="col-md-12 client">
                    @Model.client
                </div>
                <div class="col-md-12 treatment">
                    @Model.treatment
                </div>
            </div>
        </div>
    </div>
}


