﻿@model IEnumerable<Models.ViewModels.TreatmentViewModel>
@using Models.ViewModels;
@{
    var model = Model == null || Model.Count() == 0 ? new List<TreatmentViewModel>() : Model;
    Layout = null;
}
<div class="col-md-12 row">

    <div class="col-md-12">
        <div class="row col-lg-6 col-md-12">
            <h4>Treatments</h4>
        </div>
    </div>

    <div class="row">

        @foreach (var item in model)
        {
            <div class="p-b-10 px-1">
                <div class="make-cursor-pointer" attr-id="@item.Id">
                    <button name="@item.Name" value="@item.Id" attr-id="@item.Id" class="btn btn-success treatments category-grid-button">
                        @item.Name
                        <input type="checkbox" class="treatment-checkbox" hidden />
                    </button>
                </div>
            </div>
        }
        <div class="p-b-10 px-1">
            <div class="make-cursor-pointer" prop("checked", !(checkboxElement.prop("checked")))>
                <button type="button" class="btn btn-success category-grid-button" id="back-to-treatment-categories">
                    Back
                </button>
            </div>
        </div>

    </div>
</div>



