﻿@model IEnumerable<Models.ViewModels.TreatmentCategoryViewModel>
@using Models.ViewModels;
@{
    var model = Model == null || Model.Count() == 0 ? new List<TreatmentCategoryViewModel>() : Model;
    Layout = null;
}
<div class="col-md-12 row">

    <div class="col-md-12">
        <div class="row col-lg-6 col-md-12">
            <h4>Treatment Categories</h4>
        </div>
    </div>

    @foreach (var item in model)
    {
        <div class="p-b-10 px-1">
            <div class="make-cursor-pointer" attr-id="@item.Id">
                <button type="button" name="@item.Name" value="@item.Id" attr-id="@item.Id" class="btn btn-success treatment-categories category-grid-button">
                    @item.Name
                </button>
            </div>
        </div>
    }

</div>

