﻿@model Models.ViewModels.AppointmentViewModel
@{
    var action = !string.IsNullOrEmpty(Model.Action) ? Model.Action : "Create";
    var isDashboard = Model.IsDashboard;
    string viewFor = ViewBag.ViewFor != null ? ViewBag.ViewFor.ToString() : "Create Appointment";
    Model.BookingDate = DateTime.Parse(Model.BookingDate.ToString("d/MMM/yyyy"));
}
<link href="~/Content/custom-style.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(action, "Appointment", FormMethod.Post, new { id = "appointment-form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-12">
                    <h3 class="card-title">Stylist: @Model.Stylist.Name</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <h6 class="card-title">Client</h6>
                    @Html.DropDownListFor(m => m.ClientId, new List<SelectListItem>(), "Select Client...", new { @id = "app-client-id", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ClientId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <h6 class="card-title">Treatment</h6>
                    @Html.DropDownListFor(m => m.TreatmentId, new List<SelectListItem>(), "Select Treatement...", new { @id = "app-treatment-id", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TreatmentId, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(m => m.BookingDate)
            @Html.HiddenFor(m => m.StylistId)
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="button" id="submit-appointment" disabled class="btn btn-success btn-lg m-r-10" style="width:100%">Submit</button>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(function () {
        var pageSize = 20;
        var clientId = "#app-client-id";
        var url = '/Home/GetUsers';
        var dataArray = function (params) {
            params.page = params.page || 1;
            return {
                prefix: params.term,
                pageSize: pageSize,
                pageNumber: params.page,
                title:'Checked Out',
            };
        };
        Select2AutoCompleteAjax(clientId, url, dataArray, pageSize,"Select Client");

        var treatmentId = "#app-treatment-id";
        url = "/Appointment/GetTreatments"
        dataArray = function (params) {
            params.page = params.page || 1;
            return {
                prefix: params.term,
                pageSize: pageSize,
                pageNumber: params.page,
                stylistId: $("#stylist-id").val()
            };
        };
        Select2AutoCompleteAjax(treatmentId, url, dataArray, pageSize,"Select Treatment");
    });
</script>
