﻿@model Models.ViewModels.AppointmentViewModel
@using Enums;
@{
    Layout = null;
}
<!-- .col -->
<div class="col-md-6 col-sm-6 col-xs-6 single-appointment-wrapper @Model.Id">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h4 class="card-title col-md-8" style="min-height:55px;">@Model.Treatment.Name</h4>
                <input type="hidden" name="Status" class="@Model.Id status" value="@Model.AppointmentTreatmentStatus" />
                @if (Model.AppointmentTreatmentStatus == AppointmentTreatmentStatus.Paused)
                {
                    <span class="col-md-4 @Model.Id status-badge"><span class="badge badge-warning float-right">Paused</span></span>
                }
                else if (Model.AppointmentTreatmentStatus == AppointmentTreatmentStatus.Started)
                {
                    <span class="col-md-4 @Model.Id status-badge"><span class="badge badge-success float-right">Started</span></span>
                }
                else if (Model.AppointmentTreatmentStatus == AppointmentTreatmentStatus.Pending)
                {
                    <span class="col-md-4 @Model.Id status-badge"><span class="badge badge-info float-right">Pending</span></span>
                }
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5" style="font-weight: 600; margin: 10px 0;">
                    <i class="fa fa-user"></i> Client:
                </div>
                <div class="col-md-7 col-sm-7" style="margin: 10px 0;">
                    @Model.Client.Name
                </div>

                <div class="col-md-5 col-sm-5" style="font-weight: 600; margin: 10px 0;">
                    <i class="fa fa-clock"></i> Remaining Time:
                </div>
                <div class="col-md-7 col-sm-7 timer-wrapper @Model.Id" style="margin: 10px 0;">
                    <div class="appointment-timer @Model.Id" style="height:100%"></div>
                    <input type="hidden" class="appointment-id @Model.Id" value="@Model.Id" />
                    <input type="hidden" class="total-time @Model.Id" value="@Model.TotalTime" />
                    <input type="hidden" class="timer-elapsed-time @Model.Id" value="@Model.ElapsedTime" />
                    <input type="hidden" class="appointment-status @Model.Id" value="@Model.AppointmentTreatmentStatus" />


                    <input type="hidden" class="treatment-id @Model.Id" value="@Model.Treatment.Id" />
                    <input type="hidden" class="stylist-id @Model.Id" value="@Model.StylistId" />
                    <input type="hidden" class="treatment-price @Model.Id" value="@Model.Treatment.Price" />
                    <input type="hidden" class="timer-start-time @Model.Id" />
                    <input type="hidden" class="timer-end-time @Model.Id" value="@(new DateTimeOffset(Model.ActualEndingTime).ToUnixTimeMilliseconds())" />
                </div>
                <div class="col-md-12 col-sm-12 text-center" style="margin: 10px 0;">
                    <div class="btn-group remove-from-view" role="group" aria-label="button group">
                        <button class="btn btn-success  btn-rounded finish-appointment @Model.Id"><i class="fa fa-check"></i> Finish</button>
                        @if (Model.AppointmentTreatmentStatus == AppointmentTreatmentStatus.Started)
                        {
                            <a class="btn btn-warning  btn-rounded pause-timer @Model.Id"><i class="fa fa-pause"></i> Pause</a>
                        }
                        @if (Model.AppointmentTreatmentStatus == AppointmentTreatmentStatus.Paused)
                        {
                            <a class="btn btn-warning  btn-rounded resume-timer @Model.Id"><i class="fa fa-play"></i> Resume</a>
                        }
                        @if (Model.AppointmentTreatmentStatus == AppointmentTreatmentStatus.Pending)
                        {
                            <a class="btn btn-warning  btn-rounded start-timer @Model.Id"><i class="fa fa-play"></i> Start</a>
                        }
                        <button type="button" class="btn  btn-danger btn-rounded cancel-appointment @Model.Id"><i class="fa fa-window-close"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.Id, new { @class = "appointment-id" })



<script>

    function CancelAppointment() {
        var r = confirm("Are you sure you want to cancel this appointment");
        if (r == true) {
            var data = {
                Id: $(".appointment-id").val(),
                Status: "Cancelled",
                AppointmentTreatmentStatus: "Pending"
            }
            $.ajax({
                url: '@Url.Action("Edit","Appointment")',
                type: "POST",
                data: { model: data }
            }).done(function (res) {
                if (res) {
                    $(".start-partial-view").hide();
                    isCheckedIn = true;
                    loadCurrentAppointments(null);
                }
            });
        }
    }
</script> 