﻿
@{
    Layout = "~/Views/Shared/CustomTheme/_AppointmentDashboardLayout.cshtml";
}

<div class="page-wrapper" style="margin:0px;">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row content-container">
            <div class="col-md-12" style="margin-top: 20px;display: flex;">
                <div class="col-md-2 form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dropdown" style="z-index: 1000;">
                                <button class="btn btn-sm btn-secondary dropdown-toggle col-md-8" type="button" id="add-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add
                                </button>
                                <div class="dropdown-menu col-md-8" aria-labelledby="dropdownMenuButton">
                                    <a id="appointment-modal" style="border-bottom:1px solid #cccccc;" class="dropdown-item" href="#">Appointment</a>
                                    <a id="leave-modal" class="dropdown-item" href="#">Leave</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="datepicker" id="date-calendar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 form-group">
                    <div class="row">
                        <div class="col-md-12" id="full-calendar-parent-div">
                            <div id='full-calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- Modal -->
<div class="modal fade" id="add-modal" role="dialog" aria-labelledby="Appointment\Leave" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12" style="display: flex;">
                    <div class="input-group" style="display:inline;text-align: center;">
                        <div class="btn-group radio-group">
                            <label id="appointment-button" class="btn">Appointment <input value="appointment" name="add" type="radio"></label>
                            <label id="leave-button" class="btn">Leave <input value="leave" name="add" type="radio"></label>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div class="modal-body">
                <div id="modal-leave-panel" style="display:none;"></div>
                <div id="modal-appointment-panel" style="display:none;"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="client-modal" role="dialog" aria-labelledby="Client Modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body" id="client-modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/FullCalendarScheduler")
    @Scripts.Render("~/bundles/Select2")
    @Scripts.Render("~/bundles/QTip")
    @Scripts.Render("~/bundles/JqueryDateTimePicker")
    @Scripts.Render("~/bundles/bootstrap-bundle")
    @Scripts.Render("~/bundles/JqueryUi")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/foolProof")
}

@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
    @Styles.Render("~/Content/FLC")
    @Styles.Render("~/Content/QTip")
    @Styles.Render("~/Content/JqueryDateTimePicker")
<style>
   #full-calendar  {
        width: 300%;
    }
    #full-calendar-parent-div {
        display: block;
        overflow-x: scroll;
    }
    </style>
}


<script>
    // res is used in fullcalendar
    var res = @Html.Raw(Json.Encode(Model.resources));
    $(function () { // document ready
        InitializeSelect2();
        $('.modal-dialog').draggable({// Make Modal panel dragable
            handle: ".modal-header"
        });
        //
        //to enable search in select2 textbox in a modal
        $('select:not(.normal)').each(function () {
            $(this).select2({
                dropdownParent: $(this).parent()
            });
        });

        //For Calendar at left
        $("#date-calendar").datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            todayHighlight: true,
            inline:true
        });
        $("body").on("change dp.change", "#date-calendar", function(event){
            var date = $("#date-calendar").val();
                $("#full-calendar").fullCalendar("gotoDate", date );
                console.log(date);
        });

    });


    function InitializeSelect2(){
         var pageSize = 20;
        var optionListUrl = '@Url.Action("GetUsers", "Appointment")';
        //
        //
        //Method which is to be called for populating options in dropdown //dynamically

            var id = "#stylist-name";
            var url = "@Url.Action("GetStylists", "Appointment")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page,
                }
            };
     Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Stylist")

    }

</script>
<script src="~/Scripts/AppointmentDashboard/appointment-fullcalendar.js"></script>
<script src="~/Scripts/AppointmentDashboard/appointment-modalPanel.js"></script>
<link rel="stylesheet" href="~/Scripts/AppointmentDashboard/appointment.css">

