﻿@model Models.ViewModels.AppointmentViewModel
@{
    var action = !string.IsNullOrEmpty(Model.Action) ? Model.Action : "Create";
    var isDashboard = Model.IsDashboard;
    string viewFor = ViewBag.ViewFor != null ? ViewBag.ViewFor.ToString() : "Create Appointment";
    Model.BookingDate = DateTime.Parse(Model.BookingDate.ToString("d/MMM/yyyy"));
}
<link href="~/Content/custom-style.css" rel="stylesheet" />
@if (viewFor.Contains("Start Create"))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm(action, "Appointment", FormMethod.Post, new { id = "appointment-form", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row col-md-12 form-group">
                            <div class="col-md-12">
                                <h6 class="card-title">Client Details</h6>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control partial-appointment-textbox" name="email" value="@Model.Client.Name" id="client-name-appointment" readonly />
                                @Html.HiddenFor(m => m.ClientId, new { id = "client-name" })
                                <script>
                                    $(function () {
                                        GetUserDetails($("#client-name").val());
                                    });
                                </script>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control partial-appointment-textbox" name="email" value="" id="load-stylist-email" readonly />
                            </div>

                        </div>

                        <div class="row col-md-12 form-group">
                            <div class="col-md-12">
                                <h6 class="card-title">Stylist Details</h6>
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.StylistId, Model.StylistsList, "Select Stylist...", new { @id = "stylist-name", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.StylistId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="row col-md-12 form-group">
                            <div class="col-md-12">
                                <h6 class="card-title">Treatment Details</h6>
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.TreatmentId, Model.TreatmentsList, "Select Treatement...", new { @id = "treatment-name", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TreatmentId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        if (!Model.IsForStart)
                        {
                            <div class="row col-md-12 form-group">

                                <div class="col-md-12">
                                    <h6 class="card-title">Appointment Details</h6>
                                </div>

                                <div class="col-md-6">
                                    @Model.BookingDate.ToString("dd-MMM-yyyy")
                                    @Html.HiddenFor(m => m.BookingDate)
                                </div>

                                <div class="col-md-6">
                                    <input type="time" id="start" name="AppointmentStartingTime" value="@Model.AppointmentStartingTime.ToString("HH:mm")" class="form-control" placeholder="enter time of appointment">
                                    <img src="~/images/loader.gif" id="loader" style="width:50px" />
                                </div>

                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.BookingDate)
                            @Html.HiddenFor(m => m.AppointmentStartingTime, new { id = "start" })
                        }

                        <div id="error-div"> 
                           
                        </div>

                        @Html.HiddenFor(m => m.TotalTime)
                        @Html.HiddenFor(m => m.Action, new { id = "action" })
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.Treatment.ApproximateTime)
                        @Html.HiddenFor(m => m.IsDashboard)

                        <div class="form-group" style="display:none;">

                            <div class="card">
                                <div class="card-body">
                                    <div id="calender"></div>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="submit-appointment" disabled class="btn btn-success btn-lg m-r-10" style="width:100%" disabled>Submit</button>
                        if (Model.IsDashboard == false)
                        {
                            if (action != "Create")
                            {
                                <button type="button" id="delete" class="btn btn-info waves-effect waves-light m-r-10" onclick="javascript:document.getElementById('delete-form').submit();">Delete</button>
                            }

                            <button type="button" class="btn btn-inverse waves-effect waves-light" onclick="window.location.href='@Url.Action("Index","Appointment")'">Back</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm(action, "Appointment", FormMethod.Post, new { id = "appointment-form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row col-md-12 form-group">
                            <div class="col-md-12">
                                <h6 class="card-title">Client Details</h6>
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.ClientId, Model.ClientsList, "Select Client...", new { id = "client-name", @class = "form-control partial-appointment-textbox" })
                                @Html.ValidationMessageFor(m => m.ClientId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control partial-appointment-textbox" name="email" value="" id="load-stylist-email" readonly />
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control partial-appointment-textbox" name="name" value="" id="load-stylist-phone" readonly />
                            </div>
                            <div class="col-md-1" id="edit-div" style="display: none;">
                                <button class="btn btn-success pull-right update-user-button" aria-pressed="false" type="button" data-toggle="modal" href="#client-modal">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-1" id="create-div" style="display: none;">
                                <button class="btn btn-success pull-right update-user-button" aria-pressed="false" type="button" data-toggle="modal" href="#client-modal">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>


                        <div class="row col-md-12 form-group">
                            <div class="col-md-12">
                                <h6 class="card-title">Treatment Details</h6>
                            </div>
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.TreatmentId, Model.TreatmentsList, "Select Treatement...", new { @id = "treatment-name", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TreatmentId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row col-md-12 form-group">
                            <div class="col-md-12">
                                <h6 class="card-title">Stylist Details</h6>
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.StylistId, Model.StylistsList, "Select Stylist...", new { @id = "stylist-name", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.StylistId, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-4">
                                <input type="date" id="BookingDate" name="BookingDate" value="@Model.BookingDate.ToString("yyyy-MM-dd")" class="form-control" onchange="VerifyDate()" placeholder="enter date of appointment" data-mask="99/99/9999">
                            </div>

                            <div class="col-md-4">
                                <input type="time" id="start" name="AppointmentStartingTime" value="@Model.AppointmentStartingTime.ToString("HH:mm")" class="form-control" placeholder="enter time of appointment">
                                <img src="~/images/loader.gif" id="loader" style="width:50px" />
                            </div>

                        </div>
                        <div class="row col-md-12 form-group" id="error-div">
                        </div>

                        @Html.HiddenFor(m => m.TotalTime)
                        @Html.HiddenFor(m => m.Action, new { id = "action" })
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.Treatment.ApproximateTime)
                        @Html.HiddenFor(m => m.IsDashboard)

                        <div class="form-group" style="display:none;">

                            <div class="card">
                                <div class="card-body">
                                    <div id="calender"></div>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="submit-appointment" disabled class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                        if (Model.IsDashboard == false)
                        {
                            if (action != "Create")
                            {
                                <button type="button" id="delete" class="btn btn-info waves-effect waves-light m-r-10" onclick="javascript:document.getElementById('delete-form').submit();">Delete</button>
                            }

                            <button type="button" class="btn btn-inverse waves-effect waves-light" onclick="window.location.href='@Url.Action("Index","Appointment")'">Back</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

}


@using (Html.BeginForm("Delete", "Appointment", Model, FormMethod.Post, new { id = "delete-form" }))
{
    @Html.AntiForgeryToken()
}


<script src="~/Scripts/CustomScripts/appointment-methods.js"></script>
