﻿@model Models.ViewModels.AppointmentViewModel
@using Models.ViewModels;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    //var action = !string.IsNullOrEmpty(Model.Action) ? Model.Action : "Create";
    TempData["model"] = Model;
}

<h2>Create</h2>


<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Book Appointment</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Book Appointment</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        @Html.Action("CreatePartial", "Appointment", new { model = (AppointmentViewModel)TempData["model"] })

        <!-- ============================================================== -->
        <!-- End PAge Content -->
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="client-modal" role="dialog" aria-labelledby="Client Modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body" id="client-modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/FullCalendarScheduler")
    @Scripts.Render("~/bundles/Select2")
    @Scripts.Render("~/bundles/QTip")
    @Scripts.Render("~/bundles/JqueryDateTimePicker")
    @Scripts.Render("~/bundles/bootstrap-bundle")
    @Scripts.Render("~/bundles/JqueryUi")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/foolProof")
}

@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
    @Styles.Render("~/Content/FLC")
    @Styles.Render("~/Content/QTip")
    @Styles.Render("~/Content/JqueryDateTimePicker")
}

<script>
    $(document).ready(function () {
        $("body").on("click", "#submit-appointment", function (event) {
             SubmitAppointmentForm().done(function (result) {
                    if (result) {
                        window.location.href = "@Url.Action("Index", "Appointment", new { Status = Enums.AppointmentStatus.Approved, AppointmentTreatmentStatus = Enums.AppointmentTreatmentStatus.Ended, CalledFor = "Booked Treatments", NotIndex = true })";
                    }
                });
        });

    });

</script>