﻿@model IEnumerable<Models.ViewModels.AppointmentViewModel>
@{
    var recordIndex = 1;
    var action = Session["action"] != null ? Session["action"].ToString() : "Appointments";
}


<div class="table-responsive">
    @if (Model != null && Model.Count() > 0)
    {
        <table id="myTable" class="table table-striped dashboard-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Treatment</th>
                    <th>Stylist</th>
                    <th>Starting</th>
                    <th>Ending</th>
                    <th>Price</th>
                    @*<th>Edit</th>
                        <th>Status</th>
                        <th>Start</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@recordIndex</td>
                        <td>@item.Client.Name</td>
                        <td>@item.Treatment.Name</td>
                        <td>@item.Stylist.Name</td>
                        <td>@item.AppointmentStartingTime</td>
                        <td>@item.AppointmentEndingTime</td>
                        <td>@item.Treatment.Price</td>
                        @*@if ((item.Status != Enums.AppointmentStatus.Completed && item.AppointmentTreatmentStatus != Enums.AppointmentTreatmentStatus.Ended))
                            {
                                <td><a href="@Url.Action("Edit","Appointment",new { bookingDate = item.AppointmentStartingTime.Date, id = item.Id })" title="Update" aria-label="Update" data-pjax="0"><i class="fa fa-pen"></i></a></td>
                                <td><a href="@Url.Action("Edit","AppointmentApproval",new { id = item.Id })" title="Change Status" aria-label="Change Status" data-pjax="0"><i class="fa fa-edit"></i></a></td>
                                if (action != "Unapproved Appointments" && action != "Cancelled Appointments")
                                {
                                    <td><a href="@Url.Action("Start","Appointment",new { appointmentId = item.Id })" title="Start Treatment" aria-label="Start Treatment" data-pjax="0"><i class="fa fa-hourglass-start"></i></a></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }*@
                    </tr>
                    recordIndex = recordIndex + 1;
                }


            </tbody>
        </table>
    }
    else
    {
        <hr />
        <h3>No record found.</h3>
    }
</div>



@*@section Styles{
        @Styles.Render("~/Content/DataTable")
        @Styles.Render("~/bundles/favicon")
    }

    @section Scripts{
        @Scripts.Render("~/bundles/DataTables")
    }*@