﻿@model IEnumerable<Models.ViewModels.AppointmentViewModel>
@using Enums;
@{
                /**/

                var recordIndex = 1;
                DateTime lastAppointmentEndingDateTime = ViewBag.LastAppointmentEndingDateTime != null ? ViewBag.LastAppointmentEndingDateTime : DateTime.Now;
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row col-md-12 mr-0 pr-0">
                    <h5 class="card-title m-b-0 col-md-11">Appointments</h5>
                    <div class="col-md-1 pull-right mr-0 pr-0" data-toggle="tooltip" data-placement="top" title="Create new appointments">

                        <button type="button"  id="create-appointment-button" class="btn btn-success btn-lg pull-right" aria-pressed="false">
                        <i class="fa fa-plus-circle"></i> Create Appointment
                        </button>

                        <input type="hidden" id="last-appointment-ending-date-time" value="@lastAppointmentEndingDateTime" />
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Treatment</th>
                                <th>Stylist</th>
                                <th>Starting</th>
                                <th>Ending</th>
                                <th>Elapsed Time(Min)</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@recordIndex</td>
                                    <td>@item.Client.Name</td>
                                    <td>@item.Treatment.Name</td>
                                    <td>@item.Stylist.Name</td>
                                    <td>@item.AppointmentStartingTime</td>
                                    <td>@item.AppointmentEndingTime</td>
                                    <td>@(Math.Round(item.ElapsedTime, 2))</td>
                                    <td>
                                        @switch (item.AppointmentTreatmentStatus.ToString())
                                        {
                                            case "Started":<span class="badge badge-success">@item.AppointmentTreatmentStatus</span>; break;
                                        case "Ended": <span class="badge badge-danger">@item.AppointmentTreatmentStatus</span>; break;
                                    case "Paused": <span class="badge badge-info">@item.AppointmentTreatmentStatus</span>; break;
                                case "Pending": <span class="badge badge-warning">@item.AppointmentTreatmentStatus</span>; break;
                        }
                                    </td>
                                    @*@if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator") || User.IsInRole("Stylist"))*@
                                    @*{*@
                                    @if (item.AppointmentTreatmentStatus != Enums.AppointmentTreatmentStatus.Started && (item.Status != Enums.AppointmentStatus.Completed && item.AppointmentTreatmentStatus != Enums.AppointmentTreatmentStatus.Ended))
                                    {
                                        <td style="cursor: pointer;"><button type="button" class="btn btn-success start-this-appointment" id="@item.Id"><i class="fa fa-play-circle"></i> Start </button></td>

                                    }
                                    @*}*@

                                </tr>
                                recordIndex = recordIndex + 1;
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/favicon")
}