﻿@model IEnumerable<Models.ViewModels.AppointmentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = Session["action"] != null ? Session["action"].ToString() : "Treatments";
    var recordIndex = 1;

}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">@action</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">@action</li>
                    </ol>
                    @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                    {
                        <button type="button" class="btn btn-info d-none d-lg-block m-l-15" onclick="window.location.href='@Url.Action("Create", "Appointment")'"><i class="fa fa-plus-circle"></i> Create New</button>
                    }
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- /row -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">@action</h5>
                        <hr>
                        <div class="table-responsive">
                            <table id="myTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Treatment</th>
                                        <th>Stylist</th>
                                        <th>Starting</th>
                                        <th>Ending</th>
                                        <th>Price</th>
                                        <th>Current Status</th>

                                        @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator") && !(action.Contains("Cancelled") || action.Contains("Finished")))
                                        {
                                            @*<th>Status</th>
                                                <th>Edit</th>
                                                <th>Start</th>*@
                                        }
                                        @if (User.IsInRole("Stylist") || !(action.Contains("Cancelled") || action.Contains("Finished")))
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@recordIndex</td>
                                        <td>@item.Client.Name</td>
                                        <td>@item.Treatment.Name</td>
                                        <td>@item.Stylist.Name</td>
                                        <td>@item.AppointmentStartingTime</td>
                                        <td>@item.AppointmentEndingTime</td>
                                        <td>@item.Treatment.Price</td>
                                        <td>
                                            @switch (item.AppointmentTreatmentStatus.ToString())
                                            {
                                                case "Started":<span class="badge badge-success">@item.AppointmentTreatmentStatus</span>; break;
                                            case "Ended": <span class="badge badge-danger">@item.AppointmentTreatmentStatus</span>; break;
                                        case "Paused": <span class="badge badge-info">@item.AppointmentTreatmentStatus</span>; break;
                                    case "Pending": <span class="badge badge-warning">@item.AppointmentTreatmentStatus</span>; break;
                                case "Cancelled": <span class="badge badge-danger">@item.AppointmentTreatmentStatus</span>; break;
                            }
                                        </td>
                                        @if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator") || User.IsInRole("Stylist"))
                                        {
                                            if ((item.Status != Enums.AppointmentStatus.Completed && item.AppointmentTreatmentStatus != Enums.AppointmentTreatmentStatus.Ended))
                                            {
                                                if (item.IsEditAllowed)
                                                {
                                                    if (User.IsInRole("SuperAdministrator") || User.IsInRole("Administrator"))
                                                    {
                                                        @*<td><a href="@Url.Action("Edit", "Appointment", new { bookingDate = item.AppointmentStartingTime.Date, id = item.Id })" title="Update" aria-label="Update" data-pjax="0"><i class="fa fa-pen"></i></a></td>*@
                                                        <td><a href="@Url.Action("Edit", "AppointmentApproval", new { id = item.Id })" title="Change Status" aria-label="Change Status" data-pjax="0"><i class="fa fa-edit"></i></a></td>

                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                }
                                                else
                                                {
                                                    if (action != "Unapproved Appointments" && action != "Cancelled Appointments")
                                                    {
                                                        <td><a href="@Url.Action("MultiTreatmentStart", "Appointment", new { stylistId = item.Stylist.Id })" class="btn btn-success"><i class="fa fa-play-circle"></i> View </a></td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                }
                                            }
                                        }

                                    </tr>
                                        recordIndex = recordIndex + 1;
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/DataTable")
    @Styles.Render("~/Content/favicon")
}

@section Scripts{
    @Scripts.Render("~/bundles/DataTables")
}
<script>
    $(function () {
        $("#myTable").DataTable()
    });
</script>
