﻿@model Models.ViewModels.InvoiceReportViewModel
@using Models.ViewModels;
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";

    var currency = Session["Currency"] != null ? Session["Currency"].ToString() : "€";
    double totalPrice = 0;
    var userPoints = Model.UserPoints;
    if (Model.InvoiceItems != null)
    {
        var appointment = Model.InvoiceItems.Count() > 0 ? Model.InvoiceItems[0] : new TreatmentReportViewModel();
        //totalPrice = Model.InvoiceItems.Sum(x => (x.TreatmentPrice - x.Discount));

    }
}
<style>
    label {
        font-weight: 600 !important;
    }

    .change-font-to-black {
        color: black !important;
    }

    .table thead th {
        border: 1px solid #dee2e6 !important;
        background: #01c0c8 !important;
        color: #fff !important;
    }

    .table td, .table th {
        padding: 0.5rem !important;
        border: 1px solid #dee2e6 !important;
        vertical-align: middle !important;
    }

    .invoice-heading {
        font-size: 34px !important;
        color: green;
        font-weight: 800;
        letter-spacing: 2px;
    }

    .point-table-td {
        font-size: 15px;
        font-weight: 600;
        padding-right: 10px;
    }
</style>
@*<link href="~/Content/fontawesome.min.css" rel="stylesheet" />*@
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Customer's Invoice</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        @if (Model.IsTreatmentView)
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("GetTreatmentReport","Report")">Treatment Report</a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item"><a href="@Url.Action("GetInvoiceReport","Report")">Invoice Report</a></li>
                        }
                        <li class="breadcrumb-item active">Customer's  Invoice</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="invoice-heading">@(Model.IsPaidByPin ? "PIN" : "CASH") INVOICE</h3>
                            </div>
                            <div class="col-md-6">
                                <span style=" float: right; margin: 6px 0;"><i class="fa fa-calendar pr-1"></i> <label>Invoice Date: </label>@DateTime.Now.ToString("dd-MMM-yyyy")</span>
                            </div>
                        </div>
                        <hr>
                        @if (Model.InvoiceItems != null)
                        {
                            <div class="row">

                                <div class="col-md-6">
                                    <table>
                                        <tr>
                                            <td colspan="2">
                                                <img src="/images/logo/logo.png" alt="homepage" class="light-logo mb-2" style="max-width:150px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 7px;"><i class="fa fa-address-card pr-1"></i><label><b>Address: </b></label></td>
                                            <td>@Model.Branch.Address.House, @Model.Branch.Address.Area, @Model.Branch.Address.City</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 7px;"><i class="fa fa-phone-square pr-1"></i><label><b>Contact: </b></label></td>
                                            <td>+061-526-7338, +40-737-0585</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 7px;"><i class="fa fa-envelope pr-1"></i><label><b>Email: </b></label></td>
                                            <td>info@allin1beauty.nl</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-6">
                                    <table style="width: 50%; float: right;">
                                        <tr>
                                            <td style="padding-top: 7px;"><i class="fa fa-user pr-1"></i><label><b>Client: </b></label></td>
                                            <td style="text-transform: uppercase; font-size: 16px; font-weight: 500;">@Model.User.Name</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 7px;"><i class="fa fa-home pr-1"></i><label><b>House: </b></label></td>
                                            <td>@Model.User.Address.House</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 7px;"><i class="fa fa-map-marker pr-1"></i> <label><b>Street:</b> </label></td>
                                            <td>@Model.User.Address.Street</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 7px;"><i class="fa fa-map pr-1"></i><label>Area: </label></td>
                                            <td>@Model.User.Address.Area</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 7px;"><i class="fa fa-address-card pr-1"></i> <label>City: </label></td>
                                            <td>@Model.User.Address.City</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-12">
                                    <div class="table-responsive m-t-40">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center"><b>ITEM</b></th>
                                                    <th class="text-center"><b>QUANTITY</b></th>
                                                    <th class="text-center"><b>PRICE (Incl. Tax)</b></th>
                                                    <th class="text-center"><b>TAX</b></th>
                                                    <th class="text-center"><b>DISCOUNT</b></th>
                                                    <th class="text-center"><b>TOTAL</b></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @{
                                                    var invoiceItems = Model.InvoiceItems.GroupBy(x => x.TreatmentId).ToList();
                                                }
                                                @for (var app = 0; app < invoiceItems.Count(); app++)
                                                {
                                                    var quantity = invoiceItems[app].Count();
                                                    var treatmentPrice = Math.Round((invoiceItems[app].Max(x => x.TreatmentPrice) * quantity), 2);
                                                    var treatmentVat = Math.Round(((invoiceItems[app].Max(x => x.TreatmentPrice) / 100 * invoiceItems[app].Max(x=>x.TreatmentTax)) * quantity), 2);
                                                    var discount = invoiceItems[app].Max(x => x.Discount) * quantity;
                                                    totalPrice += (treatmentPrice - discount);
                                                    <tr>
                                                        <td class="text-center">@(app + 1)</td>
                                                        <td>@invoiceItems[app].Max(x => x.TreatmentName)</td>
                                                        <td class="text-right">@quantity</td>
                                                        <td class="text-right"><span>@treatmentPrice</span> @currency.</td>
                                                        <td class="text-right"><span>@treatmentVat</span> @currency.</td>
                                                        <td class="text-right">@discount @currency.</td>

                                                        <td class="text-right"><span class="discounted-price">@(Math.Round(treatmentPrice - discount, 2))</span> @currency.</td>

                                                    </tr>
                                                }

                                                <tr>
                                                    <td class="text-right" colspan="6" style="font-weight:600; font-size:24px"><b>Total</b></td>
                                                    <td class="text-right" style="font-weight:600; font-size:24px"><b> <span class="final-price">@(Math.Round(totalPrice, 2))</span> @currency.</b></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <table class="pull-right" style=" margin:20px;">

                                        @if (userPoints > 0)
                                        {
                                            <tr>
                                                <td class="point-table-td"><b>Points Used:</b></td>
                                                <td> <span>@Html.EditorFor(m => m.PointsUsed, new { htmlAttributes = new { @class = "form-control client-points", min = "0", style = "width:100px" } })</span></td>
                                            </tr>
                                        }
                                        @if (Model.PointsUsed > 0)
                                        {
                                            <tr>
                                                <td class="point-table-td"><b>Points Used:</b></td>
                                                <td>@Model.PointsUsed</td>
                                            </tr>
                                        }
                                        @if (Model.IsTreatmentView)
                                        {
                                            <tr>
                                                <td class="point-table-td"><b>Amount Given:</b></td>
                                                <td>@(Math.Round(Model.InvoiceItems[0].AmountRecieved, 2))</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="point-table-td"><b>Amount Given:</b></td>
                                                <td><span>@Math.Round(Model.AmountGiven, 2)</span> @currency.</td>
                                            </tr>
                                        }
                                    </table>

                                </div>

                            </div>
                        }
                        else
                        {
                            <h3>No Treatments to show</h3>
                        }

                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

<script>
    var maximumValue = @userPoints;

    $(function () {
        $("#pay-by-points").hide();
        $("#add-to-wallet").hide();
        $("#wallet-link").hide();
        $(".amount-recieved").val(parseInt($(".final-price").html()));
        var pointValue = parseInt($(".point-worth").val());

        //
        // functionality for client points
        $(".client-points").on("keyup click", function () {
            if ($(this).val() == "") {
                validatePoints(0);
            }
            else if (parseInt($(this).val()) <= maximumValue && parseInt($(this).val()) >= 0) {
                var numberOfPoints = parseInt($(this).val());
                validatePoints(numberOfPoints);
            }
            else if ($(this).val() > maximumValue) {
                $(this).val(maximumValue);
                validatePoints(maximumValue);
            }
            else
                $(this).val(0);

        });

        //
        // functionality for amount given
        $(".amount-given").on("keyup click", function () {
            var amountPayable = parseInt($(".grand-total").html());
            var amountPaid = $(this).val();
            var remainder = amountPaid - amountPayable;
            $(".remainder-after-cash").html(remainder);

            if (ValidateRemainder()) {
                $("#error-span").remove();
            }
        });

        //
        // functionality of purchased points
        $(".points-purchased").on("keyup click", function () {
            pointsPurchased(pointValue);
        });

    });

            var grandTotal = parseInt($(".final-price").html()) - amountDeducted;
        if (grandTotal >= 0)
        $(".amount-recieved").val(grandTotal);
        $("span.grand-total").html(grandTotal.toString());
        $(".final-remainder").html(grandTotal.toString());
        var cashRemainder = (parseInt($("#AmountGiven").val()) - grandTotal);
        $(".remainder-after-cash").html(cashRemainder.toString());
        if (ValidateRemainder()) {
            $("#error-span").remove();
        }
    }

    function pointsPurchased(pointValue) {
        var remainder = parseInt($(".remainder-after-cash").html());
        $(".final-remainder").html(remainder - ($(".points-purchased").val() * pointValue));
    }

</script>

