﻿@model List<Models.ViewModels.AppointmentViewModel>
@using Models.ViewModels;

@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    TempData["model"] = Model;
    string stylistId = ViewBag.Stylist != null ? ViewBag.Stylist.Id.ToString() : "";
    DateTime lastAppointmentEndingDateTime = ViewBag.LastAppointmentEndingDateTime != null ? ViewBag.LastAppointmentEndingDateTime : DateTime.Now;
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                @*<h4 class="text-themecolor">Start @Model.Treatment.Name</h4>*@
                <h4>
                    <span><b>Stylist:</b> @(ViewBag.Stylist != null ? ViewBag.Stylist.Name : "")</span>
                </h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <button type="button" id="create-appointment-button" class="btn btn-success btn-md float-right" aria-pressed="false">
                        <i class="fa fa-plus-circle"></i> Create Appointment
                    </button>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row start-partial-view">
            <div class="col-md-12">
                <input type="hidden" id="last-appointment-ending-date-time" value="@lastAppointmentEndingDateTime" />
            </div>
            <div class="row col-md-12 col-lg-12" id="treatments-wrapper">
                @foreach (var appointmentModel in Model)
                {
                    @Html.Partial("_MultiTreatmentStartPartial", appointmentModel)
                }
            </div>
        </div>
        @if (!string.IsNullOrEmpty(stylistId))
        {
            <div id="finished-treatment-table-div">
                @Html.Action("_GetCurrentStylistAppointments", "Appointment", new { stylistId = stylistId })
            </div>
        }
    </div>
    <input type="hidden" name="StylistId" value="@stylistId" id="stylist-id" />
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

<!-- Modal -->
<div class="modal fade" id="create-modal" role="dialog" aria-labelledby="Appointment/Leave" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12" style="display: flex;">
                    <div class="input-group" style="display:inline;text-align: center;">
                        <h3>Create Appointment</h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-md-2">

                </div>
            </div>

            <div class="modal-body" id="create-appointment-modal">

            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/TimeTo")
    @Scripts.Render("~/bundles/Select2")
    @*@Scripts.Render("~/bundles/DataTable")*@
    @Scripts.Render("~/bundles/JqueryDateTimePicker")
    @Scripts.Render("~/bundles/bootstrap-bundle")
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/foolProof")
}

@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
    @Styles.Render("~/Content/JqueryDateTimePicker")
    @Styles.Render("~/Content/TimeTo")
    @Styles.Render("~/Content/favicon")
}

<script src="~/Scripts/CustomScripts/views/Appointment/appointment-states.js"></script>
<script src="~/Scripts/CustomScripts/views/Appointment/create-appointment.js"></script>
<script src="~/Scripts/CustomScripts/views/Appointment/timer.js"></script>
<script>

    $(function () {
        //setTimeout(function () {
        //    $("#toggler-icon").click()
        //}, 100);
        $('body').addClass('mini-sidebar');
        $(window).on("beforeunload", function (e) {
            e.preventDefault();
            $.when(PreserveCurrentStates()).done(function (result) {
                location.href = e.href;
            });
        });
    });
</script>
