﻿@*@model IList<Models.ViewModels.AppointmentViewModel>*@
@*@model Models.ViewModels.AppointmentDisplayModel*@
@model Models.ViewModels.InvoiceRecordViewModel
@using Models.ViewModels;
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";

    var currency = Session["Currency"] != null ? Session["Currency"].ToString() : "€";
    double totalPrice = 0;
    var appointment = new AppointmentViewModel();
    var userPoints = Model.UserPoints;

    if (Model.InvoiceItems != null)
    {
        appointment = Model.InvoiceItems.Count() > 0 ? Model.InvoiceItems[0].Appointment : new AppointmentViewModel();
        Model.TotalPayment = totalPrice;
    }
}

<style>
    label {
        font-weight: 600 !important;
    }

    .change-font-to-black {
        color: black !important;
    }

    .table thead th {
        border: 1px solid #dee2e6 !important;
        background: #01c0c8 !important;
        color: #fff !important;
    }

    .table td, .table th {
        padding: 0.5rem !important;
        border: 1px solid #dee2e6 !important;
        vertical-align: middle !important;
    }

    .invoice-heading {
        font-size: 34px !important;
        color: red;
        font-weight: 800;
        letter-spacing: 2px;
    }

    .point-table-td {
        font-size: 15px;
        font-weight: 600;
        padding-right: 10px;
    }


    .category-grid-button {
        width: 250px;
        padding: 2em;
        white-space: inherit;
    }
</style>
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Customer's Payment</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Customer's  Payment</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form action="@Url.Action("Payment", "Appointment")" method="post" id="invoice-form" enctype="application/x-www-form-urlencoded">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="invoice-heading">INVOICE</h3>
                                </div>
                                <div class="col-md-6">
                                    <span style=" float: right; margin: 6px 0;">
                                        <i class="fa fa-user pr-1"></i><label><b>Client: </b></label>
                                        <span style="text-transform: uppercase; font-size: 16px; font-weight: 500;">@appointment.Client.Name</span>
                                        <i class="fa fa-calendar pl-3 pr-1"></i>
                                        <label>Invoice Date: </label>@DateTime.Now.ToString("dd-MMM-yyyy")
                                    </span>
                                </div>
                            </div>
                            <hr style="margin-top: 0.1rem !important;">
                            @if (Model.InvoiceItems != null)
                            {
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 treatments-container">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="col-lg-12 col-md-12 col-sm-12 attendance-column-table-scrollable" id="product-list" style="margin-bottom:10px;background:white;">
                                                    @*@Html.Action("AttendanceDashboardTreatmentsPartial", "Home", new { model = Model.TreatmentList })*@

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 treatments-container">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="col-lg-12 col-md-12 col-sm-12 attendance-column-table-scrollable" id="treatment-list" style="margin-bottom:10px;background:white;">
                                                    @*@Html.Action("AttendanceDashboardTreatmentsPartial", "Home", new { model = Model.TreatmentList })*@

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="table-responsive m-t-40">
                                            <table class="table table-hover" id="invoice-item-table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th><b>ITEM</b></th>
                                                        <th class="text-right"><b>PRICE (TAX EXL.)</b></th>
                                                        <th class="text-right"><b>TAX</b></th>
                                                        <th class="text-right"><b>QUANTITY</b></th>
                                                        <th class="text-right"><b>DISCOUNT(%)</b></th>
                                                        <th class="text-right"><b>TOTAL</b></th>
                                                        <th class="text-right"><b>REMOVE</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="invoice-item-table-body">
                                                    @for (var app = 0; app < Model.InvoiceItems.Count(); app++)
                                                    {
                                                        var treatmentPrice = Math.Round((Model.InvoiceItems[app].Appointment.Treatment.Price), 2);
                                                        var treatmentVat = Math.Round((Model.InvoiceItems[app].Appointment.Treatment.Price / 100 * Model.InvoiceItems[app].Appointment.TreatmentTax), 2);
                                                        totalPrice += (treatmentPrice);
                                                        <tr class="invoice-item-row">
                                                            <td class="text-center row-index">@(app + 1)</td>
                                                            <td>@Model.InvoiceItems[app].Appointment.Treatment.Name</td>
                                                            <td class="text-right"><span></span> @treatmentPrice @currency.</td>
                                                            <td class="text-right"><span></span>@treatmentVat @currency.</td>
                                                            <td style="text-align:right;">1</td>
                                                            <td class="text-right"><input type="number" name="Discount-Percentage" maxlength="3" max="100" min="0" value="0" class="form-control discount-percentage" style="width:100px;" /></td>

                                                            <td class="text-right"><span class="discounted-price">@(treatmentPrice)</span> @currency.</td>
                                                            <td></td>
                                                            <input type="hidden" class="row-total-price" value="@(treatmentPrice)" />
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Id)
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Treatment.Price, new { @class = "treatment-price" })
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Treatment.Tax.Percentage, new { @class = "tax" })
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.PointWorth, new { @class = "point-worth" })
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Discount, new { @class = "discount-price" })
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Stylist.Id)
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Client.Id)
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Treatment.Id, new { @class = "hidden-treatment-ids" })
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Treatment.Price)
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Treatment.Points)
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Approver.Id)
                                                            @Html.HiddenFor(m => m.InvoiceItems[app].Appointment.Treatment.ApproximateTime)
                                                        </tr>
                                                    }

                                                    <tr>
                                                        <td class="text-right" colspan="6" style="font-weight:600; font-size:24px"><b>Total</b></td>
                                                        <td class="text-right" colspan="2" style="font-weight:600; font-size:24px"><b> <span class="final-price">@(totalPrice)</span> @currency.</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <table class="pull-right" style=" margin:20px;">

                                            @if (userPoints > 0)
                                            {
                                                <tr>
                                                    <td class="point-table-td"><b>Points Available:</b></td>
                                                    <td> <span class="points">@Model.UserPoints</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="point-table-td"><b>Points Used:</b></td>
                                                    <td> <span>@Html.EditorFor(m => m.PointsUsed, new { htmlAttributes = new { @class = "form-control client-points", min = "0", style = "width:100px" } })</span></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td class="point-table-td"><b>Remaining :</b></td>
                                                <td><span class="grand-total">@(totalPrice)</span> @currency.</td>
                                            </tr>
                                            @Html.HiddenFor(m => m.GrandTotal, new { @class = "grand-total" })
                                            @Html.HiddenFor(m => m.AmountRecieved, new { @class = "amount-recieved" })
                                            <tr>
                                                <td class="point-table-td"><b>Amount Given:</b></td>
                                                <td>@Html.EditorFor(m => m.AmountGiven, new { htmlAttributes = new { @class = "form-control amount-given", min = "0", type = "number", style = "width:100px" } })</td>
                                            </tr>
                                            <tr>
                                                <td class="point-table-td"><b>Remainder :</b></td>
                                                <td><span class="remainder-after-cash">@(-(totalPrice))</span> @currency.</td>
                                            </tr>
                                            <tr>
                                                <td class="point-table-td"><b>Coupon #:</b></td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control" name="CouponNumber" value="" id="coupon-number" style="width:100px" />
                                                    <button id="verify-coupon" type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-12" id="add-to-wallet">
                                        <div class="pull-right m-t-30 text-right">
                                            <p>Points Available: <span class="points-purchasable">@Model.UserPoints</span></p>
                                            <p>Select Points: <span> @Html.TextBoxFor(m => m.PointsPurchased, new { @class = "form-control points-purchased", type = "number", min = "0", style = "width:100px" })</span></p>
                                            <hr>
                                            <h3><b>Remaining :</b><span class="final-remainder">@(totalPrice)</span> @currency.</h3>

                                        </div>
                                        <div class="clearfix"></div>
                                        <hr>
                                    </div>
                                    <div class="col-md-12 row mb-3">
                                        <div class="col-md-8" id="error-div">
                                        </div>
                                        <div class="col-md-4 text-right row">
                                            <div class="text-right pr-1">
                                                <a class="btn btn-lg btn-success" id="pay-by-cash" style="color:white;"> Pay By Cash </a>
                                            </div>
                                            <div class="text-right">
                                                <a class="btn btn-lg btn-success" id="pay-by-pin" style="color:white;"> Pay By Pin </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <h3>No Treatments to show</h3>
                            }

                        </div>
                        <input type="hidden" name="" id="client-id" value="@appointment.Client.Id" />
                        <input type="hidden" name="IsPaidByPin" id="is-paid-by-pin" />
                        <input type="hidden" name="name" value="@currency" id="branch-currency" />
                        <span id="selected-product-ids-span" hidden>

                        </span>
                        <span id="selected-treatment-ids-span" hidden>

                        </span>
                    </form>
                </div>
            </div>
        </div>
        <!-- .row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<script src="~/Scripts/CustomScripts/views/Invoice/CategoryGrid.js"></script>
<script>
    var maximumValue = @userPoints;

    $(function () {
        $("#pay-by-points").hide();
        $("#add-to-wallet").hide();
        $("#wallet-link").hide();

        LoadCategories("@Url.Action("_GetProductCategoryList", "Appointment")", "product-list");
        LoadCategories("@Url.Action("_GetTreatmentCategoryList", "Appointment")", "treatment-list");
        $(".amount-recieved").val(parseFloat($(".final-price").html()));
        var pointValue = parseFloat($(".point-worth").val());

        //
        // functionality for submitting by paying in cash
        $("body").off("click", "#pay-by-cash")
            $("body").on("click", "#pay-by-cash", function (event) {
                event.preventDefault();

            if (ValidateRemainder()) {
                $("#error-span").remove();
                $("#invoice-form").submit();
                @*$.ajax({
                    type: "POST",
                    url: "@Url.Action("Payment", "Appointment")",
                    data: $(this).serializeArray(),
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (data) {
                        return false;
                    }
                });*@
            }
            else {
                TimeVerificationError("*Pay full amount first");
            }

            });

        //
        // functionality for submitting by paying with pin.
        $("body").off("click", "#pay-by-pin")
            $("body").on("click", "#pay-by-pin", function (event) {
                event.preventDefault();
                $(".remainder-after-cash").html(0);
                var finalPrice = parseFloat($(".final-price").html());
                $("#GrandTotal").val(finalPrice);
                $("#AmountGiven").val(finalPrice);
                $("#PointsUsed").val(0);
                $("#is-paid-by-pin").val(true);
                $("#error-span").remove();
                $("#invoice-form").submit();
        });

        //
        // functionality for discount percentage
        $(document).on("keyup click change", ".discount-percentage", function () {

            if ($(this).val() == "" || parseFloat($(this).val()) <= 100 && parseFloat($(this).val()) >= 0) {

                RecalculateRowValues(this, "Discount");
                RecalculateAllValues();
            }
        });

        //
        // functionality for quantity in products
        $(document).on("keyup click", ".product-quantity", function () {
            RecalculateRowValues(this, "Product");
            RecalculateAllValues();
        });

        //
        // functionality for client points
            $(".client-points").off("keyup click")
            $(".client-points").on("keyup click", function () {
            if ($(this).val() == "") {
                validatePoints(0);
            }
            else if (parseInt($(this).val()) <= maximumValue && parseInt($(this).val()) >= 0) {
                var numberOfPoints = parseInt($(this).val());
                validatePoints(numberOfPoints);
            }
            else if ($(this).val() > maximumValue) {
                $(this).val(maximumValue);
                validatePoints(maximumValue);
            }
            else
                $(this).val(0);

        });

        //
        // functionality for amount given
        $(".amount-given").on("keyup click", function () {
            var amountPayable = parseFloat($(".grand-total").html());
            var amountPaid = $(this).val();
            var remainder = amountPaid - amountPayable;
            $(".remainder-after-cash").html(remainder.toFixed(2).toString());

            if (ValidateRemainder()) {
                $("#error-span").remove();
            }

        });

        //
        // functionality of purchased points
        $(".points-purchased").on("keyup click", function () {
            pointsPurchased(pointValue);
        });

        var productCategory = {
            class: "product-categories",
            categoryUrl: "@Url.Action("_GetProductCategoryList", "Appointment")",
            itemListUrl: "@Url.Action("_GetProducts", "Appointment")",
            tableId: "product-list",
        };

        var product = {
            class: "products",
            checkBoxClass: "product-checkbox",
            selectedIdClass: "selected-product-ids",
            selectedIdSpanId: "selected-product-ids-span",
            itemDetailUrl: "@Url.Action("GetProductDetails", "Appointment")",
            itemType: "Product",
            tableId: "product-list",
        }

        //
        //functionality of coupon number
        $(document).on("click", "#verify-coupon", function () {
            GetCouponDiscountedItems();
        });


        LoadGrid(productCategory, product, "#back-to-product-categories");

        var treatmentCategory = {
            class: "treatment-categories",
            categoryUrl: "@Url.Action("_GetTreatmentCategoryList", "Appointment")",
            itemListUrl: "@Url.Action("_GetTreatments", "Appointment")",
            tableId: "treatment-list",
        }


        var treatment = {
            class: "treatments",
            checkBoxClass: "treatment-checkbox",
            selectedIdClass: "selected-treatment-ids",
            selectedIdSpanId: "selected-treatment-ids-span",
            itemDetailUrl: "@Url.Action("GetTreatmentDetails", "Appointment")",
            itemType: "Treatment",
            tableId: "treatment-list",
        }
        LoadGrid(treatmentCategory, treatment, "#back-to-treatment-categories");


    });

    //
    //Adjust row values whenever discount is made or quantity is changed.
    function RecalculateRowValues(element, type) {
        var thisVal = parseFloat($(element).val());
        if ($(element).val() == "") { thisVal = 0; }

        var rowTotalPrice = parseFloat($(element).parent().parent().find(".row-total-price").val());
        var finalPrice = 0;

        if (type === "Discount") {
            var discount = (rowTotalPrice / 100) * thisVal;
            finalPrice = rowTotalPrice - discount;
            $(element).parent().parent().find(".discount-price").val(discount);
            $(element).parent().parent().find(".discounted-price").html(finalPrice.toFixed(2).toString());
        }

        else {
            var treatmentPrice = $(element).parent().parent().find(".treatment-price").val();
            finalPrice = treatmentPrice * thisVal;
            $(element).parent().parent().find(".row-total-price").val(finalPrice);
            $(element).parent().parent().find(".discounted-price").html(finalPrice.toFixed(2).toString());
            RecalculateRowValues($(element).parent().parent().find(".discount-percentage"), "Discount");

        }

    }


    function validatePoints(numberOfPoints) {
        var pointValue = parseFloat($(".point-worth").val());
        var amountDeducted = pointValue * numberOfPoints;
        var requiredPoints = parseInt($(".final-price").html()) / pointValue;
        if (requiredPoints >= maximumValue) {
            maximumValue = maximumValue;
        }
        else {
            maximumValue = requiredPoints;
        }

        var grandTotal = parseFloat($(".final-price").html()) - amountDeducted;
        if (grandTotal >= 0)
        $(".amount-recieved").val(grandTotal);
        $("span.grand-total").html(grandTotal.toFixed(2).toString());
        $(".final-remainder").html(grandTotal.toFixed(2).toString());
        var cashRemainder = (parseFloat($("#AmountGiven").val()) - grandTotal);
        $(".remainder-after-cash").html(cashRemainder.toFixed(2).toString());
        if (ValidateRemainder()) {
            $("#error-span").remove();
        }
    }

    function pointsPurchased(pointValue) {
        var remainder = parseFloat($(".remainder-after-cash").html());
        $(".final-remainder").html((remainder - ($(".points-purchased").val() * pointValue)).toFixed(2).toString());
    }


    function TimeVerificationError(msg) {
        $("#error-span").remove();
        $('#error-div').html('<div class="alert alert-danger alert-rounded" style="width:100% !important;"><i class="fa fa-exclamation-triangle"></i><span class="text-danger pl-2 pr-2" id="error-span">' + msg + '</span><button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button></div>').delay(500);
    }

    function ValidateRemainder() {
        var remainder = parseFloat($(".remainder-after-cash").html());
        if (remainder >= 0) {
            return true;
        }
        else {
            return false;
        }

    }


    //
    //To add a row in invoice item table
    function AddInvoiceItem(item, index, type) {
        console.log(item);
        var taxAmount = parseFloat(item.Price) / 100 * parseFloat(item.Tax.Percentage);

        var currency = $("#branch-currency").val();
        var trStart = '<tr class="invoice-item-row" id="'+ item.Id +'">';
        var tdIndex = '<td class="text-center row-index">' + parseInt(index + 1) + '</td>';
        var tdItemtName = '<td>' + item.Name + '</td>';
        var tdItemPrice = '<td class="text-right"><span></span>' + item.Price + ' ' + currency + '.</td>';
        var tdItemTax = '<td class="text-right"><span></span>' + parseFloat(taxAmount) + ' ' + currency + '.</td>';
        var tdItemQuantity = type === "Product" ? '<td class="text-right"><input type="number" id="InvoiceItems_' + index + '__Appointment_' + type + '_Quantity" name="InvoiceItems[' + index + '].Appointment.' + type + '.Quantity" maxlength="3" max="100" min="1" value="1" class="form-control product-quantity" style="width:100px;" /></td>' : '<td style="text-align: right;">1</td>';
        var tdDiscountInput = '<td class="text-right"><input type="number" name="Discount-Percentage" maxlength="3" max="100" min="0" value="0" class="form-control discount-percentage" style="width:100px;" /></td>';

        var tdDiscountedPrice = '<td class="text-right"><span class="discounted-price">' + parseFloat(item.Price) + '</span> ' + currency + '.</td > ';
        var tdRemoveItem = '<td><button class="btn btn-danger remove-item" attr-id="'+ item.Id +'">Remove</button></td>';
        var tdRowTotalHidden = '<input type="hidden" class="row-total-price" value="' + parseFloat(item.Price) +'" />';
        var tdTreatmentPriceHidden = '<input class="treatment-price" data-val="true" data-val-number="The field Price must be a number." data-val-required="The Price field is required." id="InvoiceItems_' + index + '__Appointment_Treatment_Price" name="InvoiceItems[' + index + '].Appointment.'+ type +'.Price" type="hidden" value="' + item.Price +'">';
        var tdItemPointsHidden = '';
        if (type == "Treatment") {
            tdItemPointsHidden = '<input data-val="true" data-val-number="The field Points must be a number." data-val-required="The Points field is required." id="InvoiceItems_' + index + '__Appointment_' + type + '_Points" name="InvoiceItems[' + index + '].Appointment.' + type + '.Points" type="hidden" value="' + item.Points + '">';
        }
        var tdItemTaxHidden = '<input class="tax" data-val="true" data-val-number="The field TAX must be a number." data-val-required="The VAT field is required." id="InvoiceItems_' + index + '__Appointment_' + type + '_Tax_Percentage" name="InvoiceItems[' + index + '].Appointment.' + type + '.Tax.Percentage" type="hidden" value="' + item.Tax.Percentage + '">';
        var tdItemDiscountHidden = '<input class="discount-price" data-val="true" data-val-number="The field Discount must be a number." data-val-range="The field Discount must be between 0 and 100." data-val-range-max="100" data-val-range-min="0" data-val-required="The Discount field is required." id="InvoiceItems_' + index + '__Appointment_Discount" name="InvoiceItems[' + index + '].Appointment.Discount" type="hidden" value="0">';
        var tdClientIdHidden = '<input id="InvoiceItems_' + index + '__Appointment_Client_Id" name="InvoiceItems[' + index + '].Appointment.Client.Id" type="hidden" value="' + $("#client-id").val() + '">';
        var ItemIdHidden = '<input data-val="true" data-val-required="The Id field is required." class="hidden-treatment-ids" id="InvoiceItems_' + index + '__Appointment_'+ type +'_Id" name="InvoiceItems[' + index + '].Appointment.'+ type +'.Id" type="hidden" value="' + item.Id +'">';
        var ItemDynamicallyAddedHidden = '<input data-val="true" data-val-required="The Id field is required." id="InvoiceItems_' + index + '__Appointment_'+ type +'_IsDynamicallyAdded" name="InvoiceItems[' + index + '].Appointment.'+ type +'.IsDynamicallyAdded" type="hidden" value="true">';
        var tdItemPriceHidden = '<input id="InvoiceItems_' + index + '__Appointment_'+ type +'_Price" name="InvoiceItems[' + index + '].Appointment.'+ type +'.Price" type="hidden" value="' + item.Price +'">';
        var trEnd = '</tr>';
        var row = trStart + tdIndex + tdItemtName + tdItemPrice + tdItemTax + tdItemQuantity + tdDiscountInput + tdDiscountedPrice + tdRemoveItem + tdRowTotalHidden + tdTreatmentPriceHidden + tdItemPointsHidden + ItemDynamicallyAddedHidden + tdItemTaxHidden + tdItemDiscountHidden + tdClientIdHidden + ItemIdHidden + tdItemPriceHidden + trEnd;
        $(".invoice-item-row").last().next().remove();
        $("#invoice-item-table-body").append(row).append(AddLastRow());
        RecalculateAllValues();
    }

    function GetCouponDiscountedItems() {
        var customerId = $("#client-id").val();
        var treatmentIds = $(".hidden-treatment-ids").map((i, v) => v.value).get().join(",");
        var couponNumber = $("#coupon-number").val();
        var url = "/Discount/GetDiscountedItems";
        var data = {
            "promoCode": couponNumber,
            "treatments": treatmentIds,
            "customerId": customerId
        };
        $.ajax({
            url: url,
            method: "POST",
            data: data,
             success: function (result) {
                if (result.success) {
                    var targetTreatmentDiscount = "";
                    for (var key in result.response) {
                        var discount=result.response[key]
                        targetTreatmentDiscount = $(".hidden-treatment-ids[value='" + key + "']").parent().find(".discount-percentage");
                        if (discount > 0) {
                                $(targetTreatmentDiscount).val(discount).trigger("change");
                                console.log(discount);
                            }
                        }
                }
                else {
                    alert(result.response);
                }
            },
            error: function (response) {
                alert("error!");  //
            }
        });
    }

</script>
