﻿@model Models.ViewModels.AppointmentViewModel
@using Models.ViewModels;

@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    TempData["model"] = Model;
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Start @Model.Treatment.Name</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Start Treatment</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row start-partial-view">
            @Html.Action("StartPartial", "Appointment", new { model = (AppointmentViewModel)TempData["model"] })
        </div>

        <div id="appointment-partial-view">

        </div>
        @if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
        {
            <div class="pr-0 p-b-30 m-b-30">
                <button class=" btn btn-success row float-right" id="generate-invoice" data-toggle="tooltip" data-placement="top" title="Generate invoice">Generate Invoice</button>
            </div>
        }
        else if (User.IsInRole("Stylist"))
        {
            <div class="pr-0 p-b-30 m-b-30">
                <button class=" btn btn-success row float-right" id="go-to-home" data-toggle="tooltip" data-placement="top" title="Go to home page">Go to home</button>
            </div>
        }
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

<!-- Modal -->
<div class="modal fade" id="create-modal" role="dialog" aria-labelledby="Appointment/Leave" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12" style="display: flex;">
                    <div class="input-group" style="display:inline;text-align: center;">
                        <h3>Create Appointment</h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-md-2">

                </div>
            </div>

            <div class="modal-body" id="create-appointment-modal">

            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/TimeTo")
    @Scripts.Render("~/bundles/Select2")
    @Scripts.Render("~/bundles/JqueryDateTimePicker")
    @Scripts.Render("~/bundles/bootstrap-bundle")
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/foolProof")
}

@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
    @Styles.Render("~/Content/JqueryDateTimePicker")
    @Styles.Render("~/Content/TimeTo")
    @Styles.Render("~/Content/favicon")
}


<script>

    $(function () {
      //  $("#submit").hide();
        setTimeout(function () {
            $("#toggler-icon").click()
        }, 100)
        var isCheckedIn = false;
        //
        //Pause Timer
        $("body").on("click", "#pause-timer", function(e){
            e.preventDefault();
            UpdateElapsedTime(true);

            @*$.post("@Url.Action("UpdateElapsedTime","Appointment", new { Id = Model.Id, ElapsedTime = Model.AppointmentStartingTime.AddMinutes(Model.ElapsedTime)})")*@
        });

        $(window).on("beforeunload", function (e) {
            e.preventDefault();
            UpdateElapsedTime(false);
            location.href = e.href;
        });


        $("body").on("click", ".start-this-appointment", function (event) {
            if ($(".start-partial-view").css("display") != "none") {
                $("#pause-timer").click();
            }
            var data = JSON.stringify({ 'id': event.currentTarget.id });

            $.ajax({
                url: '@Url.Action("GetAppointment", "Appointment")',
                type: "post",
                data: data,
                contentType: "application/json",
                success: function (res) {
                    $(".start-partial-view").load('@Url.Action("LoadStartPartial", "Appointment")', { "model": res });
                    $(".start-partial-view").show();
                    isCheckedIn = false;
                    loadCurrentAppointments();
                }
            });
        });

        $("body").on("click", "#go-to-home", function () {
            $("#submit-start").click();
            window.location.href = '@Url.Action("Index","Home")';
        });


        $("body").on("click", "#submit-appointment", async function (event){

            var verifyForm = await VerifyTime();

            console.log('ran after ajax call', verifyForm)

            if (verifyForm) {
                SubmitAppointmentForm().done(function (result) {
                    if (result) {
                        $("#create-modal").modal("hide");
                        loadCurrentAppointments();
                    }
                });
            }
        });

        $("body").on("click", "#generate-invoice", function () {
            if (!isCheckedIn) {
                $("#start-form").submit();
            }
            if ($(".start-this-appointment").length > 0) {
                if (confirm("Are you sure you want to generate the invoice")) {
                    window.location.href = '@Url.Action("Payment","Appointment", new { id = Model.ClientId})';
                }
            }
            else {
                    window.location.href = '@Url.Action("Payment","Appointment", new { id = Model.ClientId})';
            }
        });

        $("body").on("click", "#resume-timer", function (e) {
            isCheckedIn = false;
            e.preventDefault();
            $("#resume-timer").hide();
            $("#pause-timer").show();
            $("#timer-start-time").val($.now());
            var time = $("#TotalTime").val() * 1000;
            time = (time - parseFloat($("#timer-elapsed-time").val())) / 1000;
            $('#time-to').timeTo(time, {
                displayDays: false,
                theme: "white",
                displayCaptions: false,
                fontSize: 48,
                countdown:true,
            }, function () {
                $("#submit").click();
                });
            UpdateElapsedTime(false);
        });

        $("body").on("submit", "#start-form", function (event) {
            event.preventDefault();
            var r = confirm("Are you sure you want to submit?");
            if (r == true) {
            var object = {};
            var objectArr = $(this).serializeArray();
            $.map(objectArr, function (obj, i) {
                object[obj.name] = obj.value;
            });
            $.ajax({
                url: '@Url.Action("Finish", "Appointment")',
                type: "post",
                data: { model: object },
                success: function (res) {
                    if (res) {
                        $(".start-partial-view").hide();
                        $(".appointment-id").remove();
                        isCheckedIn = true;
                        loadCurrentAppointments();
                    }
                }
                });
            }
        });

        //
        //Load Appointment table
        loadCurrentAppointments();
    });
    function UpdateElapsedTime(pauseTreatment) {
        var newGuid = "00000000-0000-0000-0000-000000000000";
        var id;
        var elapsedTime = 0;
        if (pauseTreatment) {
            $("#timer-end-time").val($.now());
            $("#time-to").timeTo("stop");
            id = $(".appointment-id").length ? $(".appointment-id").val() : newGuid;
            elapsedTime = $.now() - $("#timer-start-time").val();
            $("#timer-elapsed-time").val(elapsedTime + parseFloat($("#timer-elapsed-time").val()));
            elapsedTime = parseFloat(elapsedTime / 60000);
        }
                 var data = JSON.stringify({
                'Id': id,
                'ElpasedTime': elapsedTime,
                'PauseTreatment': pauseTreatment
            });
        $.ajax({
            type: "post",
            url: "@Url.Action("UpdateElapsedTime", "Appointment")",
            data: data,
            contentType: 'application/json',
            success: function (success) {
                if (success) {
                    if (pauseTreatment) {

                        $("#pause-timer").hide();
                        $("#resume-timer").show();
                        isCheckedIn = true;
                    }
                    loadCurrentAppointments();
                }
            }
        });
    }
    function loadCurrentAppointments(appointmentId) {
        var newGuid = "00000000-0000-0000-0000-000000000000";

        var stylistId = $("#stylist-id").val();
        var clientId = $("#client-id").val();
        if (appointmentId == null) {
            appointmentId = $("#Id").length ? $("#Id").val() : newGuid;
        }
        $("#appointment-partial-view").load('@Url.Action("GetCurrentClientAppointments", "Appointment")', { "stylistId": stylistId, "clientId": clientId, "discardAppointmentId": appointmentId });
        @*$("#appointment-partial-view").load("@Html.Raw(@Url.Action("GetCurrentClientAppointments", "Appointment", new { @clientId = Model.Client.Id, @stylistId = Model.Stylist.Id }))")*@

    }

</script>
