﻿@model Models.ViewModels.AppointmentViewModel
@using Enums;

        @if (Model.AppointmentTreatmentStatus == AppointmentTreatmentStatus.Ended)
        {
            <div class="card-body">
                <h4 class="card-title">This treatment has already been completed.</h4>
            </div>
            @Html.HiddenFor(m => m.Id, new { @class = "appointment-id" })
            @Html.HiddenFor(m => m.Stylist.Name)
            @Html.HiddenFor(m => m.Client.Name)
            @Html.HiddenFor(m => m.Treatment.Id, new { id = "treatment-id" })
            @Html.HiddenFor(m => m.Treatment.Price, new { id = "treatment-price" })
            @Html.HiddenFor(m => m.Treatment.Points, new { id = "treatment-points" })
            @Html.HiddenFor(m => m.TreatmentId)
            @Html.HiddenFor(m => m.TotalTime)
            @Html.HiddenFor(m => m.Client.Id, new { id = "client-id" })
            @Html.HiddenFor(m => m.Stylist.Id, new { id = "stylist-id" })

        }
        else
        {
                using (Html.BeginForm("Start", "Appointment", FormMethod.Post, new { @class = "form-horizontal form-material", id = "start-form", @enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()

                    <div class="row">
                        <!-- .col -->
                        <div class="col-md-6 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Active Treatment</h4>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4" style="font-weight: 600; margin: 10px 0;">
                                            <i class="fa fa-user"></i> Client:
                                        </div>
                                        <div class="col-md-8 col-sm-8" style="margin: 10px 0;">
                                            @Model.Client.Name
                                        </div>

                                        <div class="col-md-4 col-sm-4" style="font-weight: 600; margin: 10px 0;">
                                            <i class="fa fa-id-card"></i> Treatment:
                                        </div>
                                        <div class="col-md-8 col-sm-8" style="margin: 10px 0;">
                                            @Model.Treatment.Name
                                        </div>

                                        <div class="col-md-4 col-sm-4" style="font-weight: 600; margin: 10px 0;">
                                            <i class="fa fa-user"></i> Stylist:
                                        </div>
                                        <div class="col-md-8 col-sm-8" style="margin: 10px 0;">
                                            @Model.Stylist.Name
                                        </div>

                                        <div class="col-md-4 col-sm-4" style="font-weight: 600; margin: 10px 0;">
                                            <i class="fa fa-clock"></i> Remaining Time:
                                        </div>
                                        <div class="col-md-8 col-sm-8" style="margin: 10px 0;">
                                            <div id="time-to" style="height:100%"></div>
                                        </div>

                                        <div class="col-md-4 col-sm-4" style="font-weight: 600; margin: 10px 0;">
                                            <i class="fa fa-list-alt"></i> Actions:
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <input type="hidden" name="timer-start-time" id="timer-start-time" />
                                            <input type="hidden" name="timer-end-time" id="timer-end-time" />
                                            <input type="hidden" value="0" name="timer-elapsed-time" id="timer-elapsed-time" />

                                            <div class="btn-group remove-from-view" role="group" aria-label="button group">
                                                <button type="submit" id="submit-start" class="btn btn-success btn-rounded"><i class="fa fa-check"></i> Finish</button>
                                                <a class="btn btn-warning btn-rounded" id="pause-timer"><i class="fa fa-pause"></i> Pause</a>
                                                <a class="btn btn-warning btn-rounded" id="resume-timer"><i class="fa fa-play"></i> Resume</a>
                                                <button type="button" onclick="CancelAppointment();" class="btn btn-danger btn-rounded"><i class="fa fa-window-close"></i> Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                              
                    </div>
                    @Html.HiddenFor(m => m.Id, new { @class = "appointment-id" })
                    @Html.HiddenFor(m => m.Stylist.Name)
                    @Html.HiddenFor(m => m.Client.Name)
                    @Html.HiddenFor(m => m.Treatment.Id, new { id = "treatment-id" })
                    @Html.HiddenFor(m => m.Treatment.Price, new { id = "treatment-price" })
                    @Html.HiddenFor(m => m.Treatment.Points, new { id = "treatment-points" })
                    @Html.HiddenFor(m => m.TreatmentId)
                    @Html.HiddenFor(m => m.TotalTime)
                    @Html.HiddenFor(m => m.Client.Id, new { id = "client-id" })
                    @Html.HiddenFor(m => m.Stylist.Id, new { id = "stylist-id" })
                }

        }



<script>
    $(function () {
        $("body").off("click", "#create-appointment-button");
        $("#resume-timer").hide();

        $("body").on("click", "#create-appointment-button", function () {
            $("#create-modal").modal("show");
            ShowAddModal();
        });
        var timerSeconds = parseInt($("#TotalTime").val());
        $("#timer-start-time").val($.now());
        $('#time-to').timeTo(timerSeconds, {
            displayDays: false,
            theme: "white",
            displayCaptions: false,
            fontSize: 48,
            countdown: true,
        }, function () {
            $("#start-form").submit();
            });

    });
    function ShowAddModal() {
        var url = "/Appointment/CreatePartialForStart";
        var stylistId = $("#stylist-id").val();
        var clientId = $("#client-id").val();
        var lastAppointmentEndingDateTime = $("#last-appointment-ending-date-time").val();
        $.ajax({
            url: url,
            data: { 'StylistId': stylistId, 'ClientId': clientId, 'LastAppointmentEndingDateTime': lastAppointmentEndingDateTime }
        }).done(function (data, textStatus, jqXHR) {
            $("#create-appointment-modal").html(data);
        });
    }
    function CancelAppointment() {
        var r = confirm("Are you sure you want to cancel this appointment");
        if (r == true) {
            var data = {
                Id: $(".appointment-id").val(),
                Status: "Cancelled",
                AppointmentTreatmentStatus: "Pending"
            }
            $.ajax({
                url: '@Url.Action("Edit","Appointment")',
                type: "POST",
                data: { model: data }
            }).done(function (res) {
                if (res) {
                    $(".start-partial-view").hide();
                    isCheckedIn = true;
                    loadCurrentAppointments(null);
                }
            });
        }
    }
</script> 