﻿@model IEnumerable<Models.ViewModels.InvoiceRecordViewModel>
@using Enums;

@{
    ViewBag.Title = "UnpaidAppointments";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var recordIndex = 1;
}


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Unpaid Appointments</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Unpaid Appointments</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15" onclick="window.location.href='@Url.Action("Create","Appointment")'"><i class="fa fa-plus-circle"></i> Create New</button>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Unpaid Appointments</h5>
                        <hr>
                        <div class="table-responsive">
                            <table id="myTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Grand Total</th>
                                        <th>Invoice Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@recordIndex</td>
                                            <td>@item.Client.Name</td>
                                            <td>@item.DateTime</td>
                                            <td>@item.Total</td>
                                            <td><span class="badge badge-warning">@Enum.GetName(typeof(InvoiceStatus), item.Status)</span></td>
                                            @if (item.AppointmentStatus == AppointmentTreatmentStatus.Ended)
                                            {
                                                <td><a class="btn btn-success" href="@Url.Action("Payment","Appointment",new { id = item.Client.Id })" title="Pay" aria-label="Update" data-pjax="0"><i class="fa fa-money-bill-alt pr-2"></i>Payment</a></td>
                                            }
                                            else
                                            {
                                                var statusStr = string.Format("{0},{1},{2}", AppointmentTreatmentStatus.Pending.ToString(), AppointmentTreatmentStatus.Paused.ToString(), AppointmentTreatmentStatus.Started.ToString());
                                                <td><a class="badge badge-warning" href="@Url.Action("Index","Appointment",new { ClientId = item.Client.Id,SkipDateCheck=true,Status=AppointmentStatus.Approved,TreatmentStatuses =statusStr,NotIndex=true,IsEditAllowed=true })" title="Update" aria-label="Update" data-pjax="0">Appointment Pending</a></td>
                                            }
                                        </tr>
                                        recordIndex = recordIndex + 1;
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/Content/DataTable")
    @Styles.Render("~/Content/favicon")
}

@section Scripts{
    @Scripts.Render("~/bundles/DataTables")
}
<script>
    $(function () {
        $("#myTable").DataTable()
    });
</script>
