﻿@model Models.ViewModels.AppointmentApprovalViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = string.IsNullOrEmpty(Model.Action) ? "Create" : "Edit";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">@action Approval</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">@action Approval</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic Information</h5>
                        @using (Html.BeginForm(action, "AppointmentApproval", FormMethod.Post, new { @class = "form-horizontal form-material", @enctype = "multipart/form-data" }))
                        {

                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Client</span>
                                </label>
                                <div class="col-md-12">
                                    @Model.Client.Name
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Treatment</span>
                                </label>
                                <div class="col-md-12">
                                    @Model.Treatment.Name
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Stylist</span>
                                </label>
                                <div class="col-md-12">
                                    @Model.Stylist.Name
                                    @Html.HiddenFor(m => m.Appointment.Id)
                                    @Html.HiddenFor(m => m.Approver.Id)
                                    @Html.HiddenFor(m => m.Client.Id)
                                    @Html.HiddenFor(m => m.Stylist.Id)
                                    @Html.HiddenFor(m => m.Treatment.Id)
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span>Appointment Status</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.EnumDropDownListFor(model => model.Approval.Status, "--Select--", new { @class = "form-control status-dropdown" })
                                    @Html.ValidationMessageFor(model => model.Approval.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span>Treatment Status</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.EnumDropDownListFor(model => model.Appointment.Status, "--Select--", new { @class = "form-control status-dropdown" })
                                    @Html.ValidationMessageFor(model => model.Appointment.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                            @*if (action != "Create")
                            {
                                <button type="button" id="delete" class="btn btn-info waves-effect waves-light m-r-10" onclick="javascript:document.getElementById('delete-form').submit();">Delete</button>
                            }*@
                            <button type="button" class="btn btn-inverse waves-effect waves-light cancel-btn">Cancel</button>
                        }
                        @using (Html.BeginForm("Delete", "AppointmentApproval", Model, FormMethod.Post, new { id = "delete-form" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
