﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Upload Utility</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">Upload Utility</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic Information</h5>

                        <div class="form-group">
                            <label class="col-md-12" for="bdate">
                                <span> Excel Document</span>
                            </label>
                            <div class="col-md-12">
                                <input type="file" name="excelFile" id="excel-file" class="form-control" placeholder="Select file">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="button" name="submit-button" id="submit-button" class="form-control col-md-2  pull-right" value="Import">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

<script>
    $("#submit-button").on("click", function(){
        var file = $("#excel-file").get(0).files;
        var data = new FormData();

        if (file.length > 0) {
            data.append("upload", file[0]);
        }
          // Make Ajax request with the contentType = false, and procesDate = false
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/UtilityImport/Index",
                contentType: false,
                processData: false,
                data: data,

                success: function (e) {
                    if (e) {
                        window.location.href ="@Url.Action("Index", "Home", null)";
                        }
                        else {
                        window.location.href ="@Url.Action("Account", "Error", null)";
                        }
                }
                        });
                        ajaxRequest.done(function (xhr, textStatus) {

                        // Do other operation
                        });
    });
</script>
