﻿@model Models.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/CustomTheme/_UserListLayout.cshtml";
    var action = Model.Action;
    var categoryList = Model.Action == "Edit" ? new List<SelectListItem> { new SelectListItem { Value = Model.Category.Id.ToString(), Text = Model.Category.Name } } : new List<SelectListItem>();
    var taxList = Model.Action == "Edit" ? new List<SelectListItem> { new SelectListItem { Value = Model.Tax.Id.ToString(), Text = Model.Tax.Name } } : new List<SelectListItem>();
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Create Product</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="breadcrumb-item active">@action Product</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15" onclick="window.location.href='@Url.Action("Create", "Product")'"><i class="fa fa-plus-circle"></i> Create New</button>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic Information</h5>
                        @using (Html.BeginForm(action, "Product", FormMethod.Post, new { @class = "form-horizontal form-material", @enctype = "multipart/form-data", autocomplete = "off" }))
                        {

                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="col-md-12" for="example-text">
                                    <span> Name</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Product name" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Product Image</label>
                                <div class="col-sm-12">
                                    <img class="img-responsive" src="@Model.ImageUrl" id="image-thumbnail" alt="" style="max-width:120px;">
                                </div>
                                <div class="col-sm-12">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file">
                                            <input type="file" name="Image" id="Image" onchange="ShowImage(this)">
                                        </span> <a href="javascript:void(0)" class="input-group-addon btn btn-default fileinput-exists" onclick='document.getElementById("Image").value = "";' data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12" for="example-email">
                                    <span>Price (Inclusive of Tax)</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Enter price" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-12" for="example-phone">
                                    <span>Category</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(m => m.CategoryId, categoryList, new { @id = "category-name", @class = "form-control category-name" })
                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-12" for="example-phone">
                                    <span>Tax</span>
                                </label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(m => m.TaxId, taxList, new { @id = "tax-name", @class = "form-control tax-name" })
                                    @Html.ValidationMessageFor(model => model.TaxId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Description</label>
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Enter description" })
                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                            <button type="button" class="btn btn-inverse waves-effect waves-light cancel-btn">Cancel</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<link href="~/Content/CustomCss/test.css" rel="stylesheet" />

<script>

    $(function () {

        InitializeSelect2();

        $("body").on("click", "#category-name", function () {
            InitializeSelect2();
        });

       
    });
    function ShowImage(input) {


        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-thumbnail').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
        //var thumbnail = $("#Image").val();
        //$("#image-thumbnail").attr("src", thumbnail);

    }

    function InitializeSelect2() {
                    var pageSize = 20;
            var optionListUrl = '@Url.Action("GetCategoriesForSelect2", "ProductCategory")';
            //
            //
            //Method which is to be called for populating options in dropdown //dynamically

            var id = "#category-name";
            var url = "@Url.Action("GetCategoriesForSelect2", "ProductCategory")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page
                }
            };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize, "Select Category");

            var id = "#tax-name";
            var url = "@Url.Action("GetTaxesForSelect2", "Tax")";
            var dataArray = function (params) {
                params.page = params.page || 1;
                return {
                    prefix: params.term,
                    pageSize: pageSize,
                    pageNumber: params.page
                }
            };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize,"Select Tax");
    }
</script>

@section Scripts{
    @Scripts.Render("~/bundles/Select2")
    @Scripts.Render("~/bundles/jqueryval")
}

@section Styles{
    @Styles.Render("~/Content/Select2DropDown")
}