﻿@model Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <section id="wrapper">
            <div class="login-register register-card-scroll" style="background-image:url(/images/background/login-register.jpg);">
                <div class="login-box card text-center">
                    <div class="card-body">
                        @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-material", @id = "loginform", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h3 class="box-title m-b-20">Sign In</h3>

                            <div class="form-group ">
                                <div class="col-xs-12 col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-12", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-12", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>


